<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  {% block open_graph %}
    <meta property="og:image" content="{{ absolute_url(asset('bundles/conceptos/images/logo.png') | imgTag ) }}">
    <meta property="og:title" content="TIENDA CONCEPTOS"/>
    <meta property="og:url" content="http://tiendaconceptos.com"/>
    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="es_ES"/>
  {% endblock %}
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <link rel="shortcut icon" href="{{ asset('bundles/conceptos/images/logo.png') }}">
  <title>Conceptos - {% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    {% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('bundles/conceptos/assets/normalize.css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/conceptos/fonts/FontAwesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/conceptos/assets/web/assets/mobirise-icons/mobirise-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/conceptos/assets/tether/tether.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/conceptos/assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/conceptos/assets/bootstrap/css/bootstrap-grid.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/conceptos/assets/bootstrap/css/bootstrap-reboot.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/conceptos/assets/dropdown/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/conceptos/assets/animatecss/animate.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/conceptos/assets/socicon/css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/conceptos/assets/theme/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/conceptos/assets/mobirise/css/mbr-additional.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/conceptos/libs/toast/jquery.toast.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/conceptos/css/component.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/conceptos/css/base.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/conceptos/scripts/css/custom-styles.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/conceptos/scripts/css/temp-styles.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/conceptos/14ndy15/styles/app4.css') }}" type="text/css">
  {% endblock %}
  {% block css %}{% endblock %}

    <meta name="google-site-verification" content="iiDlD6FxMHYfI_zUCyIwIuGqz5fZBvGUtkrryNiAnjA" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151472491-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-151472491-1');
    </script>
    <!-- Hotjar Tracking Code for https://www.tiendaconceptos.com -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:1731457,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

    <meta name="theme-color" content="#c2b930">
    {% block meta %}{% endblock %}


    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "name": "Tienda Conceptos",
        "image": "",
        "logo": "{{ absolute_url(home.data.logo.image.path) }}",
        "url": "https://www.tiendaconceptos.com",
        "telephone": "+53 52458380",
        "sameAs": ["http://www.facebook.com/TiendaConceptos/","http://instagram.com/Tienda_conceptos/"],
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "Calle este, No. 757, apt. 4",
            "addressLocality": "Tulipan y Conill - Plaza",
            "postalCode": "11300",
            "addressCountry": "Cuba"
        },
        "priceRange" : "$5 - $5000",
        "email" : "comercial@tiendaconceptos.com"
    }
</script>

</head>
<body>
<input type="hidden" value="{{ path('site_home') }}" id="site-path">

<input type="hidden" value="{{ path('persist_count_shop_car') }}" id="persist-count-path">
{% if app.user|default %}
  <input type="hidden" value="{{ true }}" id="user-authenticated">
{% else %}
  <input type="hidden" value="{{ false }}" id="user-authenticated">
{% endif %}

<div class="la-anim-10 d-none d-lg-block"></div>
<div class="la-anim-10 small-anim d-lg-none"></div>

{{ include('site/components/global/terms_conditions.html.twig') }}

{{ include('site/components/global/privacy_police.html.twig') }}

{{ include('site/components/global/cart_preview.html.twig') }}

{% if onlySlide is not defined or not onlySlide %}
  <div id="imageViewerModal" class="modal fade">
    <div class="modal-dialog modal-lg mt-0">
      <div class="modal-content">
        <div class="modal-body p-0">
          <img class="conceptos-image">
        </div>
      </div>
    </div>
  </div>

  <button id="open-categories-menu" class="category-menu-open d-flex justify-content-end p-2">
    <div class="animation_flash"></div>
  </button>

  <div id="categories-menu" class="conceptos-add-scroll">
    {{include('site/categories-menu.html.twig')}}
  </div>

  <div id="close-categories-menu">
    <img class="close-categories-menu-icon mr-2 d-flex d-lg-none" src="{{ asset('bundles/conceptos/images/home/close-categories-menu.png') }}">
  </div>
{% endif %}

{% block header %}
  {% if onlySlide is not defined or not onlySlide %}
    <section class="menu cid-qQ6pVr9Hx2 navbar__container " once="menu">
      <nav class="navbar navbar-dropdown navbar-fixed-top navbar-toggleable conceptos-navbar p-0">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <button class="conceptos-navbar-icon" data-toggle="modal" data-target="#cartPreviewModal">
          <div class="d-flex align-items-center">
            <img src="{{ asset('bundles/conceptos/images/home/nav-cart.png') }}">
            <span id="conceptos-shop-cart-count" data-count="{{count}}">{% if count > 99 %}+99{% else %}{{count}}{% endif %}</span>
          </div>
        </button>
        {% if app.user|default %}
        <a class="conceptos-navbar-icon conceptos-user-icon" href="{{ path('site_profile') }}">
          <div class="d-flex align-items-center">
            <img src="{{ asset('bundles/conceptos/images/home/user.png') }}">
          </div>
        </a>
        {% else %}
        <a class="conceptos-navbar-icon conceptos-user-icon" href="" data-toggle="modal" data-target="#loginModal">
          <div class="d-flex align-items-center">
            <img src="{{ asset('bundles/conceptos/images/home/user.png') }}">
          </div>
        </a>
        {% endif %}
        <ul id="conceptos-navbar-links" class="navbar-nav nav-dropdown conceptos-navbar-dropdown d-none d-lg-flex" data-app-modern-menu="true">
          <li><a class="conceptos-navbar-item" href="{{ path('products') }}">PRODUCTOS</a></li>
          <li><a class="conceptos-navbar-item" href="{{ path('services') }}">SERVICIOS</a></li>
          <li><a class="conceptos-navbar-item" href="{{ path('membership') }}">MEMBRESÍA</a></li>
          <li><a class="conceptos-navbar-item" href="{{ path('blog_home') }}">INSPIRACIONES</a></li>
          <li><a class="conceptos-navbar-item" href="{{ path('help') }}">AYUDA</a></li>
          {% if app.user|default %}
            <li><a class="conceptos-navbar-item" href="{{ path('favorite_products') }}">FAVORITOS</a></li>
            {% if is_granted('ROLE_EXTERNAL') %}
              <li><a class="conceptos-navbar-item" href="{{ path('external_requests') }}">PEDIDOS EXTERNOS</a></li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
              <li><a class="conceptos-navbar-item" href="{{ path('easyadmin') }}">ADMINISTRAR</a></li>
            {% endif %}
            <li><a class="conceptos-navbar-item" href="{{ path('fos_user_security_logout') }}">CERRAR SESIÓN</a></li>
          {% endif %}
        </ul>
        <div class="menu-logo col-6 col-lg-3 pl-0 pl-lg-3">
            <div class="navbar-brand ml-0">
                <span class="navbar-logo" style="font-size: inherit;">
                    <a href="{{ path('site_home') }}">
                        {{ home.data.logo.image.path | imgTag(sizes='(min-width: 1000px) 33vw, 60vw',
                                                      alt='Conceptos logo', class='logo-menu', style='width: auto; height: auto !important; max-height: 2em;') | raw }}
                    </a>
                </span>
            </div>
        </div>
        <div class="d-flex flex-column collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav nav-dropdown conceptos-navbar-dropdown d-flex d-lg-none" data-app-modern-menu="true">
              <li><a class="conceptos-navbar-item" href="{{ path('products') }}">PRODUCTOS</a></li>
              <li><a class="conceptos-navbar-item" href="{{ path('services') }}">SERVICIOS</a></li>
              <li><a class="conceptos-navbar-item" href="{{ path('membership') }}">MEMBRESÍA</a></li>
              <li><a class="conceptos-navbar-item" href="{{ path('blog_home') }}">INSPIRACIONES</a></li>
              <li><a class="conceptos-navbar-item" href="{{ path('help') }}">AYUDA</a></li>
              <li><div class="conceptos-navbar-divider" role="separator"></div></li>
              {% if app.user|default %}
                <li><a class="conceptos-navbar-item" href="{{ path('favorite_products') }}">FAVORITOS</a></li>
                {% if is_granted('ROLE_EXTERNAL') %}
                  <li><a class="conceptos-navbar-item" href="{{ path('external_requests') }}">PEDIDOS EXTERNOS</a></li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                  <li><a class="conceptos-navbar-item" href="{{ path('easyadmin') }}">ADMINISTRAR</a></li>
                {% endif %}
                <li><a class="conceptos-navbar-item" href="{{ path('fos_user_security_logout') }}">CERRAR SESIÓN</a></li>
              {% endif %}
          </ul>
        </div>
      </nav>

        <aside class="search_bar d-flex">
            <form id="home-search-form" action="{{ path('products') }}" method="get">
                <label class="sr-only" for="search_bar_products">Buscar producto</label>
                <input type="text" name="term" id="search_bar_products" placeholder="Buscar productos">
                <button type="submit" value="buscar"></button>
            </form>
        </aside>

    </section>
  {% endif %}
{% endblock %}

{% block body %}{% endblock %}

{{ include('site/components/global/whatsapp_float.html.twig') }}

{% block login %}
  {% if onlySlide is not defined or not onlySlide %}
    {{ render(controller('AppBundle:Security:login')) }}
  {% endif %}
{% endblock %}
{% block contact %}
  {% if onlySlide is not defined or not onlySlide %}
    {{ render(controller('AppBundle:Site:handleEmailNotification')) }}
  {% endif %}
{% endblock %}
{% block javascript %}
  <script src="{{ asset('bundles/conceptos/14ndy15/scripts/app_v1.js') }}"></script>
  <script src="{{ asset('bundles/conceptos/assets/web/assets/jquery/jquery.min.js') }}"></script>
  <script src="{{ asset('bundles/conceptos/assets/popper/popper.min.js') }}"></script>
  <script src="{{ asset('bundles/conceptos/assets/tether/tether.min.js') }}"></script>
  <script src="{{ asset('bundles/conceptos/assets/bootstrap/js/bootstrap.min.js') }}"></script>
  <script src="{{ asset('bundles/conceptos/assets/smoothscroll/smooth-scroll.js') }}"></script>
  <script src="{{ asset('bundles/conceptos/assets/dropdown/js/script.min.js') }}"></script>
  <script src="{{ asset('bundles/conceptos/assets/touchswipe/jquery.touch-swipe.min.js') }}"></script>
  <script src="{{ asset('bundles/conceptos/assets/viewportchecker/jquery.viewportchecker.js') }}"></script>
  <script src="{{ asset('bundles/conceptos/assets/masonry/masonry.pkgd.min.js') }}"></script>
  <script src="{{ asset('bundles/conceptos/assets/imagesloaded/imagesloaded.pkgd.min.js') }}"></script>
  <script src="{{ asset('bundles/conceptos/assets/bootstrapcarouselswipe/bootstrap-carousel-swipe.js') }}"></script>
  <script src="{{ asset('bundles/conceptos/assets/mbr-popup-btns/mbr-popup-btns.js') }}"></script>
  <script src="{{ asset('bundles/conceptos/assets/vimeoplayer/jquery.mb.vimeo_player.js') }}"></script>
  <script src="{{ asset('bundles/conceptos/assets/sociallikes/social-likes.js') }}"></script>
  <script src="{{ asset('bundles/conceptos/assets/parallax/jarallax.min.js') }}"></script>
  <script src="{{ asset('bundles/conceptos/assets/theme/js/script.js') }}"></script>
  <script src="{{ asset('bundles/conceptos/assets/slidervideo/script.js') }}"></script>
  <script src="{{ asset('bundles/conceptos/libs/toast/jquery.toast.min.js') }}"></script>
  <script src="{{ asset('bundles/conceptos/js/svgcheckbx.js') }}"></script>
  <script src="{{ asset('bundles/conceptos/js/common.js') }}"></script>
  <script src="{{ asset('bundles/conceptos/scripts/js/main.js') }}"></script>
  <script src="{{ asset('bundles/conceptos/scripts/js/cart-management.js') }}"></script>
  <script src="{{ asset('bundles/conceptos/scripts/js/products-navigation.js') }}"></script>
  <script src="{{ asset('bundles/conceptos/scripts/js/website-navigation.js') }}"></script>
  <input name="animation" type="hidden">
{% endblock %}
{% block js %}
{% endblock %}
<script>
  $(document).ready(function() {
    $("#conceptos-contact-form").height($("#conceptos-contact-form .conceptos-image").height());
    $("#shop-cart-contact-form").height($("#shop-cart-contact-form .conceptos-image").height());

    var marginTop = $(".navbar.navbar-dropdown").css("height");
    $("#conceptos-services-badge").css("top", marginTop);
  });
</script>
<script>
  products = [];
  {% if shopCartProducts is defined %}
    {% for product in shopCartProducts %}
      products.push({
        {% if product.offerExists is defined and product.offerExists %}
          offerExists: {{product.offerExists}},
        {% endif %}
        {% if product.weight is defined %}
          weight: {{product.weight}},
        {% else %}
          weight: 0,
        {% endif %}
        {% if product.ikeaPrice is defined %}
          ikeaPrice: {{product.ikeaPrice}},
        {% else %}
          ikeaPrice: 0,
        {% endif %}
        {% if product.isFurniture is defined and product.isFurniture %}
          isFurniture: true,
        {% else %}
          isFurniture: false,
        {% endif %}
        {% if product.isMattress is defined and product.isMattress %}
          isMattress: true,
        {% else %}
          isMattress: false,
        {% endif %}
        {% if product.isAirplaneFurniture is defined and product.isAirplaneFurniture %}
          isAirplaneFurniture: true,
        {% else %}
          isAirplaneFurniture: false,
        {% endif %}
        {% if product.isAirplaneMattress is defined and product.isAirplaneMattress %}
          isAirplaneMattress: true,
        {% else %}
          isAirplaneMattress: false,
        {% endif %}
        {% if product.isFragile is defined and product.isFragile %}
            isFragile: true,
        {% else %}
          isFragile: false,
        {% endif %}
        {% if product.isOversize is defined and product.isOversize %}
          isOversize: true,
        {% else %}
          isOversize: false,
        {% endif %}
        {% if product.isTableware is defined and product.isTableware %}
          isTableware: true,
        {% else %}
          isTableware: false,
        {% endif %}
        {% if product.isLamp is defined and product.isLamp %}
          isLamp: true,
        {% else %}
          isLamp: false,
        {% endif %}
        {% if product.numberOfPackages is defined and product.numberOfPackages %}
          numberOfPackages: {{product.numberOfPackages}},
        {% else %}
          numberOfPackages: false,
        {% endif %}
        {% if product.isFaucet is defined and product.isFaucet %}
          isFaucet: true,
        {% else %}
          isFaucet: false,
        {% endif %}
        {% if product.isGrill is defined and product.isGrill %}
          isGrill: true,
        {% else %}
          isGrill: false,
        {% endif %}
        {% if product.isShelf is defined and product.isShelf %}
          isShelf: true,
        {% else %}
          isShelf: false,
        {% endif %}
        {% if product.isDesk is defined and product.isDesk %}
          isDesk: true,
        {% else %}
          isDesk: false,
        {% endif %}
        {% if product.isBookcase is defined and product.isBookcase %}
          isBookcase: true,
        {% else %}
          isBookcase: false,
        {% endif %}
        {% if product.isComoda is defined and product.isComoda %}
          isComoda: true,
        {% else %}
          isComoda: false,
        {% endif %}
        {% if product.isRepisa is defined and product.isRepisa %}
          isRepisa: true,
        {% else %}
          isRepisa: false,
        {% endif %}
        {% if product.categories is defined %}
          categories: {{product.categories}},
        {% else %}
          categories: false,
        {% endif %}
        {% if product.type is defined %}
          id: '{{ product.id }}',
          type: 'target',
          price: {{ product.price }},
          count: {{ product.count }},
        {% else %}
          id: '{{ product.id }}',
          price: {{ product.price }},
          count: {{ product.count }},
          storeCount: '{{ product.storeCount }}',
          name: '{{ product.name }}',
        {% endif %}
      });
    {% endfor %}
  {% endif %}
</script>
</body>
</html>
