{% extends ':site:base.html.twig' %}
{% block title %}Datos de entrega{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/conceptos/shop-cart/check-out.css') }}">
{% endblock %}
{% block body %}
    <section class="check-out">
        <div class="container">
            <div class="text-center co-header py-lg-5 pt-1">
                <h2>Formulario de datos de contacto</h2>
                <p class="lead">En el siguiente formulario usted deberá completar los campos necesario para realizar un
                    pedido. La información proporcionada por usted no será divulgada con terceros bajo ningún
                    motivo.</p>
            </div>
            <div class="row">
                <div class="col-12 col-lg-5 order-md-2 mb-4 pr-3 pr-lg-0">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Tu carrito</span>
                        <span class="badge badge-secondary badge-pill">{{ numberOfProducts }}</span>
                    </h4>
                    <ul class="list-group products-summary mb-3">
                        <div class="add-scroll">
                            {% for product in products %}
                                <li class="list-group-item d-flex justify-content-between lh-condensed align-items-center">
                                    <div class="d-flex align-items-center">
                                        {% set productName = '' %}
                                        {% set productImage = null %}
                                        {% if product.product is iterable %}
                                            {% if product.amount == 15 %}
                                                {% set productName = 'Tarjeta de 15 CUC' %}
                                                {% set productImage = membership.data.giftCardSection.giftCard15Image.path %}
                                            {% elseif product.amount == 25 %}
                                                {% set productName = 'Tarjeta de 25 CUC' %}
                                                {% set productImage = membership.data.giftCardSection.giftCard25Image.path %}
                                            {% elseif product.amount == 50 %}
                                                {% set productName = 'Tarjeta de 50 CUC' %}
                                                {% set productImage = membership.data.giftCardSection.giftCard50Image.path %}
                                            {% elseif product.amount == 100 %}
                                                {% set productName = 'Tarjeta de 100 CUC' %}
                                                {% set productImage = membership.data.giftCardSection.giftCard100Image.path %}
                                            {% endif %}
                                        {% else %}
                                            {% set productName = product.product.name %}
                                            {% set productImage = vich_uploader_asset(product.product.mainImage, 'imageFile') %}
                                        {% endif %}
                                        <img class="checkout-image" src="{{ productImage }}">
                                        <div class="d-flex flex-column">
                                            <h6 class="my-0">{{ productName }} X {{ product.count }}</h6>
                                            {% if product.product is not iterable %}
                                                <small class="text-muted">{{ product.product.item }}</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <span class="text-muted pl-2">${{ product.subtotal }}.00</span>
                                </li>
                            {% endfor %}
                        </div>
                        {% if memberNumber %}
                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div>
                                    <h6 class="my-0">Descuento de Miembro</h6>
                                </div>
                                <span class="text-muted">${{discount}}.00</span>
                            </li>
                        {% endif %}
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">Costo de Transporte</h6>
                            </div>
                            <span class="text-muted">${{transportCost}}.00</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">Cantidad de Productos</h6>
                            </div>
                            <span class="text-muted">{{numberOfProducts}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            <span>Total</span>
                            <strong>${{ total }}.00</strong>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-lg-7 order-md-1">
                    <h4 class="mb-3">Datos de contacto</h4>
                    {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'true'}}) }}
                    <input type="hidden" name="memberNumber" id="memberNumber">
                    <input type="hidden" name="transportCost" id="transportCost">
                    <input type="hidden" name="products" id="products">
                    <div class="mb-3 pr-3 pr-lg-0">
                        {{ form_label(form.name, 'Nombre y Apellidos') }}
                        {{ form_widget(form.name, {'attr': {'class': 'form-control', 'required': 'true'}}) }}
                        {{ form_errors(form.name) }}
                        <div class="invalid-feedback">
                            Por favor introduzca un nombre válido
                        </div>
                    </div>
                    <div class="mb-3 pr-3 pr-lg-0">
                        {{ form_label(form.email, 'Correo') }}
                        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'required': 'true'}}) }}
                        {{ form_errors(form.email) }}
                        <div class="invalid-feedback">
                            Por favor introduzca un correo válido
                        </div>
                    </div>
                    <div class="mb-3 pr-3 pr-lg-0">
                        {{ form_label(form.address, 'Dirección') }}
                        {{ form_widget(form.address, {'attr': {'class': 'form-control', 'required': 'true'}}) }}
                        {{ form_errors(form.address) }}
                        <div class="invalid-feedback">
                            Por favor introduzca la dirección de entrega.
                        </div>
                    </div>
                    <div class="d-flex flex-wrap">
                        <div class="col-12 col-lg-6 mb-3 pr-3 pr-lg-0 pl-0">
                            {{ form_label(form.phone, 'Teléfono fijo') }}
                            {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.phone) }}
                            <div class="invalid-feedback">
                                Por favor introduzca un teléfono válido.
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 mb-3 pr-3 pr-lg-0 pl-lg-2 pl-0">
                            {{ form_label(form.movil, 'Móvil') }}
                            {{ form_widget(form.movil, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.movil) }}
                            <div class="invalid-feedback">
                                Por favor introduzca un móvil válido.
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="col-md-6 pl-2">
                            <div class="form-group mb-0">
                                {{ form_widget(form.memberNumber, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.memberNumber) }}
                                <div class="invalid-feedback">
                                    Por favor introduzca un número válido
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="col-12">
                            <div class="form-group mb-0">
                                <div>
                                    <input type="checkbox" id="termsAndConditions">
                                    <span class="terms-label">He leido y acepto los <a data-toggle="modal" data-target="#termsAndConditionsModal" href="">Términos y Condiciones</a></span>
                                </div>
                                <div class="mt-2">
                                    <input type="checkbox" id="privacyPolicy">
                                    <span class="terms-label">He leido y acepto la <a data-toggle="modal" data-target="#privacyPolicyModal" href="">Política de Privacidad</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_widget(form.recaptcha) }}
                    <hr class="mb-4">
                    {% if is_granted('ROLE_COMMERCIAL') %}
                        <select id="type-select" class="form-control mb-2">
                            <option value="request">Pedido</option>
                            <option value="prefacture">Prefactura</option>
                            <option value="facture">Factura</option>
                        </select>
                        <select id="prefactures-select" class="form-control mb-2" style="display: none;">
                            <option value="0">Ninguna</option>
                            {% for prefacture in prefactures %}
                                <option value="{{prefacture.id}}">Prefactura: {{prefacture.id}}-{{prefacture.date|date('Y')}}</option>
                            {% endfor %}
                        </select>
                        <div class="mb-2">
                            <input type="checkbox" id="ignoreTransport">
                            <span class="terms-label">Ignorar costo de transporte</span>
                        </div>
                    {% endif %}
                    <div class="d-flex">
                        <div class="d-flex w-100">
                            <button id="send-request-button" class="btn btn-lg btn-block co-submit p-0 p-lg-4" type="submit">
                                <span class="rob-subtitle">Enviar pedido</span>
                            </button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block js %}
    <script>
        {% if memberNumber %}
            memberNumber = {{memberNumber}};
        {% else %}
            memberNumber = undefined;
        {% endif %}
        transportCost = {{transportCost}};
        products = [];
        {% for product in products %}
        products.push({
            {% if product.weight is defined %}
                weight: {{product.weight}},
            {% else %}
                weight: 0,
            {% endif %}
            {% if product.ikeaPrice is defined %}
                ikeaPrice: {{product.ikeaPrice}},
            {% else %}
                ikeaPrice: 0,
            {% endif %}
            {% if product.isFurniture is defined and product.isFurniture %}
                isFurniture: true,
            {% else %}
                isFurniture: false,
            {% endif %}
            {% if product.isMattress is defined and product.isMattress %}
                isMattress: true,
            {% else %}
                isMattress: false,
            {% endif %}
            {% if product.isAriplaneForniture is defined and product.isAriplaneForniture %}
                isAriplaneForniture: true,
            {% else %}
                isAriplaneForniture: false,
            {% endif %}
            {% if product.isAriplaneMattress is defined and product.isAriplaneMattress %}
                isAriplaneMattress: true,
            {% else %}
                isAriplaneMattress: false,
            {% endif %}
            {% if product.categories is defined %}
                categories: {{product.categories}},
            {% else %}
                categories: false,
            {% endif %}
            {% if product.type is defined %}
                id: '{{ product.id }}',
                type: 'target',
                count: {{ product.count }},
                amount: {{ product.amount }},
            {% endif %}
            {% if product.product is defined %}
                id: '{{ product.product.id }}',
                name: '{{ product.product.name }}',
                count: {{ product.count }},
            {% endif %}
            {% if 'offer' in product | keys and product.offer %}
                offer: {{ product.offer.id }},
            {% else %}
                offer: false
            {% endif %}
        });
        {% endfor %}
    </script>
    <script src="{{ asset('bundles/conceptos/shop-cart/js/jquery-3.2.1.slim.min.js') }}"></script>
    <script src="{{ asset('bundles/conceptos/shop-cart/js/holder.min.js') }}"></script>
    <script src="{{ asset('bundles/conceptos/shop-cart/js/check-out.js') }}"></script>
{% endblock %}
