<footer>
  <section class="company-info">
    <div class="contact-info">
      <img class="logo" src="{{ home.data.logo.image.path }}" alt="">
      <span><i class="fa fa-envelope"></i>{{home.data.contact.address}}</span>
      <span><i class="fa fa-envelope"></i>{{home.data.contact.email}}</span>
      <span><i class="fa fa-envelope"></i>{{home.data.contact.phone}}</span>
      <span><i class="fa fa-envelope"></i>{{home.data.contact.schedule}}</span>
    </div>
    <div class="social-networks">
      {% for network in home.data.social_network.networks %}
        {% if network.network == 'facebook' %}
          <a href="{{network.link}}" target="_blank">
            <img title="whatsapp" src="{{ asset('bundles/conceptos/images/social/facebook.svg') }}" alt="whatsapp">
          </a>
        {% elseif network.network == 'instagram' %}
          <a href="{{network.link}}" target="_blank">
            <img title="whatsapp" src="{{ asset('bundles/conceptos/images/social/instagram.svg') }}" alt="whatsapp">
          </a>
        {% endif %}
      {% endfor %}
      <a target="_blank" href="http://wa.me/5352458380?text=Estoy%20interesado%20en%20...">
        <img title="whatsapp" src="{{ asset('bundles/conceptos/images/social/whatsapp.svg') }}" alt="whatsapp">
      </a>
      <a target="_blank" href="https://m.me/TiendaConceptos">
        <img title="whatsapp" src="{{ asset('bundles/conceptos/images/social/messenger.svg') }}" alt="whatsapp">
      </a>
    </div>
  </section>
  <section class="contact-form">
    {{ form_start(form, {'attr': {'data-form-title': 'Conceptos Formulario de Contacto', 'action': path('email_notification')}}) }}
      <span class="header">CONTÁCTANOS</span>
      <div class="form">
        {{ form_widget(form.name, {'attr': {'placeholder': "Nombre y apellidos"}}) }}
        {{ form_widget(form.phone, {'attr': {'class': 'small-field', 'placeholder': "Teléfono"}}) }}
        {{ form_widget(form.email, {'attr': {'class': 'small-field', 'placeholder': "Correo"}}) }}
        {{ form_widget(form.text, {'attr': {'placeholder': "Mensaje", 'rows':'5'}}) }}
        <button id="send-mail-button" type="submit" href="">ENVIAR</button>
      </div>
    {{ form_end(form) }}
  </section>
  <section class="additional-info">
    <div class="policies">
      <a data-toggle="modal" data-target="#termsAndConditionsModal" href="#">TÉRMINOS Y CONDICIONES</a>
      <a data-toggle="modal" data-target="#privacyPolicyModal" href="#">POLÍTICA DE PRIVACIDAD</a>
    </div>
    <span class="copyright">Conceptos Copyright {{currentDate|date('Y')}}</span>
  </section>
</footer>
