<p>Nombre: {{ name }}</p>
<p>Correo: {{ email }}</p>
<p>Teléfono: {{ phone }}</p>
<p>Texto: {{ description }}</p>
{% if member is defined %}
    <div>
        <strong>Miembro: </strong>{{ member }}
    </div>
{% endif %}
