{% if home.data.testimonies.text1 is defined and home.data.testimonies.text1 %}
  <div class="d-flex flex-column mt-3 ml-3 mr-3 ml-lg-5 mr-lg-5">
    <div class="d-flex conceptos-divider"></div>
    <div class="d-flex flex-column col-lg-8 pl-0 align-self-center">
      <span class="conceptos-testimony-text mt-3">"{{home.data.testimonies.text1}}"</span>
      <span class="conceptos-testimony-author">{{home.data.testimonies.author1}}</span>
    </div>
    {% if home.data.testimonies.text2 is defined and home.data.testimonies.text2 %}
      <div class="d-flex flex-column col-lg-8 pl-0 align-self-center">
        <span class="conceptos-testimony-text mt-3">"{{home.data.testimonies.text2}}"</span>
        <span class="conceptos-testimony-author">{{home.data.testimonies.author2}}</span>
      </div>
    {% endif %}
    {% if home.data.testimonies.text3 is defined and home.data.testimonies.text3 %}
      <div class="d-flex flex-column col-lg-8 pl-0 align-self-center">
        <span class="conceptos-testimony-text mt-3">"{{home.data.testimonies.text3}}"</span>
        <span class="conceptos-testimony-author">{{home.data.testimonies.author3}}</span>
      </div>
    {% endif %}
  </div>
{% endif %}
<section id="conceptos-contact-form" class="d-flex flex-column">
  <img class="conceptos-image" src="{{home.data.contact.image.path}}">
  {{ form_start(form, {'attr': {'data-form-title': 'Conceptos Formulario de Contacto', 'action': path('email_notification')}}) }}
    <div class="d-flex flex-column mt-3 ml-3 mr-3 ml-lg-5 mr-lg-5">
      <div class="d-flex conceptos-divider"></div>
      <div class="d-flex conceptos-divider mt-2"></div>
      <span class="conceptos-title mt-3 mb-3 col-lg-8 pl-0 align-self-center">CONTÁCTANOS</span>
      <div class="d-flex flex-column col-lg-8 pl-0 align-self-center">
        <div class="d-flex flex-column" data-for="email_name">
          <span class="conceptos-subtitle">Nombre</span>
          {{ form_widget(form.name, {'attr': {'class': 'conceptos-contact-input w-100', 'data-form-field': 'Nombre'}}) }}
        </div>
        <div class="d-flex flex-column mt-2" data-for="email_lastName">
          <span class="conceptos-subtitle">Apellidos</span>
          {{ form_widget(form.lastName, {'attr': {'class': 'conceptos-contact-input w-100', 'data-form-field': 'Nombre'}}) }}
        </div>
        <div class="d-flex flex-column mt-2" data-for="email_email">
          <span class="conceptos-subtitle">Correo</span>
          {{ form_widget(form.email, {'attr': {'class': 'conceptos-contact-input w-100', 'data-form-field':'Correo'}}) }}
        </div>
        <div class="d-flex flex-column mt-2" data-for="email_phone">
          <span class="conceptos-subtitle">Teléfono</span>
          {{ form_widget(form.phone, {'attr': {'class': 'conceptos-contact-input w-100', 'data-form-field': 'Teléfono'}}) }}
        </div>
        <div class="d-flex flex-column mt-2" data-for="email_message">
          <span class="conceptos-subtitle">Mensaje</span>
          {{ form_widget(form.text, {'attr': {'class': 'conceptos-contact-input w-100', 'data-form-field': 'Mensaje', 'rows':'7'}}) }}
        </div>
        <div class="d-flex align-items-start mt-2">
          <button id="send-mail-button" class="conceptos-primary-button pl-3 pr-3 pt-0 pb-0" type="submit" href="">ENVIAR</button>
        </div>
        <div class="d-flex flex-column mt-2">
          <a class="conceptos-title conceptos-title-italic mt-2" data-toggle="modal" data-target="#termsAndConditionsModal" href="#">Términos y condiciones</a>
          <a class="conceptos-title conceptos-title-italic mt-2" data-toggle="modal" data-target="#privacyPolicyModal" href="#">Política de privacidad</a>
        </div>
      </div>
      <div class="d-flex justify-content-end mt-3">
        {% for network in home.data.social_network.networks %}
          {% if network.network == 'facebook' %}
            <a href="{{network.link}}" class="mr-2" target="_blank">
              <div class="conceptos-social-network-icon-facebook"></div>
            </a>
          {% elseif network.network == 'instagram' %}
            <a href="{{network.link}}" target="_blank">
              <div class="conceptos-social-network-icon-instagram"></div>
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {{ form_end(form) }}
</section>
