<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:v="urn:schemas-microsoft-com:vml">

<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <meta content="width=device-width" name="viewport" />
  <meta content="IE=edge" http-equiv="X-UA-Compatible" />
  <title></title>

  <style>
    body {
      margin: 0;
    }

    p {
      margin-top: 0.3em;
      margin-bottom: 0;
    }

    .header {
      position: absolute;
      top: 0;
      width: 100%;
      background-color: #333333;
    }

    .header img {
      width: 200px;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      margin-left: 0.5em;
      margin-right: 0.5em;
    }

    .content {
      padding-top: 80px;
    }

    .prefacture-date {
      float: right;
    }

    .prefacture-info {
      margin-top: 60px;
    }

    .client-info {
    }

    .prefacture-summary {
      float: right;
    }

    .products-table {
      margin-top: 75px;
    }

    .product-image {
      height: 80px;
      width: 80px;
      margin: 5px;
    }

    .product-description {
      width: 200px;
    }

    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: #333333;
    }

    .footer span {
      color: #FFFFFF;
      font-size: 15px;
    }

    .table-bordered {
      margin-top: 0.5em;
      border: 1px solid #000000;
      float: left;
    }

    .table thead th {
      border-bottom: 1px solid #000000;
    }

    .table-bordered td, .table-bordered th {
      border: 0px;
      border-bottom: 1px solid #000000;
    }

    .table td, .table th {
      padding: 0;
    }
  </style>
</head>
<body>
  {% set cupConversionRate = 25 %}
  <div class="d-flex flex-column">
    <div class="d-flex header">
      <img class="pl-5 pt-2 pb-2" src="{{ absolute_url(asset(home.data.logo.image.path)) }}" />
    </div>
    <div class="content">
      <div class="prefacture-date">
        <p><strong>FACTURA:</strong> {{facture.id}}-{{facture.date|date('Y')}}</p>
        <p><strong>FECHA:</strong> {{facture.date|date('d/m/Y')}}</p>
      </div>
      <div class="prefacture-info">
        <div class="prefacture-summary">
          <p><strong>CANTIDAD DE ARTÍCULOS:</strong> {{numberOfProducts}}</p>
          <p><strong>SUBTOTAL DE COMPRA:</strong> ${{subtotal}}.00</p>
          <p><strong>TIPO DE MONEDA:</strong> {% if facture.cucExtra %}CUC{% else %}USD{% endif %}</p>
          {% if facture.cucExtra %}
            <p><strong>EXTRA POR CUC:</strong> ${{facture.cucExtra}}.00</p>
          {% endif %}
            <p><strong>PLAZOS DE PAGO:</strong> {% if facture.twoStepExtra %}2{% else %}1{% endif %}</p>
          {% if facture.twoStepExtra %}
            <p><strong>EXTRA POR 2 PLAZOS:</strong> ${{facture.twoStepExtra}}.00</p>
            <p><strong>PAGO ANTICIPADO:</strong> ${{firstPayment}}.00</p>
          {% endif %}
          {% if facture.discount %}
            <p><strong>DESCUENTO DE MIEMBRO:</strong> ${{facture.discount}}.00</p>
          {% endif %}
          <p><strong>COSTO DE TRANSPORTE:</strong> ${{facture.transportCost}}.00</p>
          <p><strong>TOTAL A PAGAR:</strong> ${{facture.finalPrice}}.00</p>
        </div>
        <div class="client-info">
          <p><strong>NOMBRE Y APELLIDOS:</strong> {{facture.client.firstName}} {{facture.client.lastName}}</p>
          <p><strong>CORREO:</strong> {{facture.client.email}}</p>
          <p><strong>DIRECCIÓN PARTICULAR:</strong> {{facture.client.address}}</p>
          {% if facture.client.phone %}
            <p><strong>TELÉFONO FIJO:</strong> {{facture.client.phone}}</p>
          {% endif %}
          {% if facture.client.movil %}
            <p><strong>TELÉFONO MÓVIL:</strong> {{facture.client.movil}}</p>
          {% endif %}
          {% if facture.client.memberNumber %}
            <p><strong>NÚMERO DE MIEMBRO:</strong> {{facture.client.memberNumber}}</p>
          {% endif %}
          <div class="d-flex justify-content-between mt-3">
            <strong>FIRMA DEL CLIENTE:</strong>
            <p class="ml-2">____________________________</p>
          </div>
          <div class="d-flex justify-content-between mt-2">
            <strong>FIRMA DEL COMERCIAL:</strong>
            <p class="ml-2">____________________________</p>
          </div>
        </div>
      </div>
      <div class="products-table">
        <table class="table table-bordered mt-3">
          <thead>
          <tr>
            <th class="pl-2">CÓDIGO</th>
            <th class="pl-2">FOTO</th>
            <th class="pl-2">DESCRIPCIÓN</th>
            <th class="pl-2">CANTIDAD</th>
            <th class="pl-2">PRECIO</th>
            <th class="pl-2">TOTAL</th>
            <th class="pl-2" style="min-width: 150px;">ENVÍO</th>
          </tr>
          </thead>
          <tbody class="table-members">
            {% for product in products %}
              <tr>
                <td class="pl-2 pt-2">
                  <span>{{product.code}}</span>
                </td>
                <td>
                  {% if product.image is defined %}
                    <img class="ml-5 mt-2 mb-2 product-image" src="{{ absolute_url(vich_uploader_asset(product.image, 'imageFile')) }}" />
                  {% else %}
                    {% if product.price == 15 %}
                      {% set imagePath = membership.data.giftCardSection.giftCard15Image.path %}
                    {% elseif product.price == 25 %}
                      {% set imagePath = membership.data.giftCardSection.giftCard25Image.path %}
                    {% elseif product.price == 50 %}
                      {% set imagePath = membership.data.giftCardSection.giftCard50Image.path %}
                    {% else %}
                      {% set imagePath = membership.data.giftCardSection.giftCard100Image.path %}
                    {% endif %}
                    <img class="ml-5 mt-2 mb-2 product-image" src="{{ absolute_url(asset(imagePath)) }}" />
                  {% endif %}
                </td>
                <td class="pl-3 pt-2">
                  <span class="product-description">{{product.item}}</span>
                </td>
                <td class="pl-2 pt-2">
                  <span>{{product.count}}</span>
                </td>
                <td class="pl-2 pt-2">
                  <span>{{product.price}}</span>
                </td>
                <td class="pl-2 pt-2">
                  <span>{{product.price * product.count}}</span>
                </td>
                <td class="pl-2 pt-2" style="min-width: 150px;">
                  <span>{{product.airplane}}</span>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>
