{% extends ':site:base.html.twig' %}
{% block title %}Ayuda{% endblock %}

{% block body %}
    <section class="page-header mbr-parallax-background d-none d-lg-block" style="background-image: url('{{ page.data.header.image.path }}')"></section>
    <section class="page-header-short mbr-parallax-background d-lg-none" style="background-image: url('{{ page.data.header.image.path }}')"></section>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 mt-3">
                    <span class="decoration-design-description d-none d-lg-block">{{page.data.introduction.text}}</span>
                    <span class="decoration-design-description-short d-lg-none">{{page.data.introduction.text}}</span>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div id="help-accordion" class="mt-2 mt-lg-3" role="tablist" aria-multiselectable="true">
                        {% for faq in page.data.faqs %}
                            <div class="card card-category" role="tab">
                                <div class="card-header card-header-category" id="{{faq.question}}heading">
                                    <h5 class="mb-0">
                                        <a data-toggle="collapse" data-target="#{{faq.question}}" href="javascript:void(0);">
                                            <span class="badge text-right badge-plus">
                                                <i class="mbri-plus"></i>
                                            </span>
                                            <span>{{faq.question|raw}}</span>
                                        </a>
                                    </h5>
                                </div>
                                <div id="{{faq.question}}" class="collapse {% if loop.index == 0 %}show{% endif %}" role="tabpanel">
                                    <div class="card-body card-body-subcategory ac-custom ac-checkmark ml-0">
                                        <span>{{faq.answer|raw}}</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
