{% extends ':site:base.html.twig' %}
{% block title %}Ayuda{% endblock %}

{% block body %}
  <div class="d-flex flex-column p-2">
    <span class="conceptos-title-strong mt-2 mb-2">AYUDA</span>
    <div class="d-flex flex-column conceptos-white-background p-2">
      <img class="conceptos-image conceptos-header-image mt-2" src="{{ page.data.header.image.path }}">
      {% for faq in page.data.faqs %}
        <div class="d-flex flex-column mt-2" role="tab">
          <div id="{{loop.index}}heading">
            <a class="conceptos-title" data-toggle="collapse" data-target="#{{loop.index}}" href="javascript:void(0);">{{faq.question|raw}}</a>
          </div>
          <div id="{{loop.index}}" class="collapse {% if loop.index == 0 %}show{% endif %}" role="tabpanel">
            <span class="conceptos-subtitle ml-2">{{faq.answer|raw}}</span>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
