{% extends ':site:base.html.twig' %}
{% block title %}Inicio{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/conceptos/home/css/home.css') }}">
{% endblock %}
{% block body %}
  <div id="home-header" class="d-flex">
    {% if page.data.slides and page.data.slides is not empty %}
      <img class="conceptos-image" src="{{page.data.slides[0].path}}">
    {% endif %}
  </div>

  <div class="d-flex flex-column p-3">
    <span class="pl-2 conceptos-title">{{page.data.populars.title|raw}}</span>
    <span class="pl-2 conceptos-subtitle-2">{{page.data.populars.subtitle|raw}}</span>
    <div class="d-flex flex-wrap mt-3">
      {% for popular in populars %}
        {% if loop.index < 7 %}
          <div class="d-flex col-6 p-2">
            <div class="d-flex align-items-center conceptos-white-background p-2">
              <a href="{{ path('product_details', {id: popular.id, name: popular.name}) }}">
                <img class="conceptos-image" src="{{ vich_uploader_asset(popular.mainImage, 'imageFile') }}">
              </a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="d-flex justify-content-center mt-3">
      <a class="conceptos-primary-button-gray" href="{{ path('products', {populars: true, page: 1}) }}" style="width: 100px;text-align: center;">
        <span class="pl-2 pr-2 w-100">VER MÁS</span>
      </a>
    </div>
  </div>

  <div class="d-flex flex-column">
    <div class="d-flex conceptos-badge p-2">
      <div class="d-flex flex-column justify-content-center m-2">
        <span class="conceptos-badge-text">ALMACÉN</span>
        <span class="conceptos-badge-subtitle">{{page.data.subtitles.inStore|raw}}</span>
      </div>
    </div>
    <div class="d-flex flex-column align-items-center p-3">
        {% if inStore and inStore is not empty %}
          <div class="d-flex align-items-center conceptos-white-background p-2">
            <img class="conceptos-image" src="{{ vich_uploader_asset(inStore[0].mainImage, 'imageFile') }}">
          </div>
        {% endif %}
        <a href="{{ path('products', {inStore:true}) }}" class="conceptos-primary-button-gray mt-3">
          <span class="pl-2 pr-2">VER MÁS</span>
        </a>
    </div>
  </div>

  <div class="d-flex flex-column">
      <div class="d-flex conceptos-badge p-2">
      <div class="d-flex align-items-center m-2">
        <span class="conceptos-badge-text">SERVICIOS</span>
      </div>
    </div>
    <div class="d-flex flex-column align-items-center p-3">
        {% if page.data.services.image.path %}
          <div class="d-flex align-items-center conceptos-white-background p-2">
            <img class="conceptos-image" src="{{ page.data.services.image.path }}">
          </div>
        {% endif %}
        {% if page.data.services.title %}
          <span class="conceptos-title align-self-start mt-3">{{page.data.services.title}}</span>
        {% endif %}
        {% if page.data.services.subtitle %}
          <span class="conceptos-subtitle align-self-start mt-2">{{page.data.services.subtitle}}</span>
        {% endif %}
        <a href="{{ path('inward') }}" class="conceptos-primary-button-gray mt-3">
          <span class="pl-2 pr-2">VER MÁS</span>
        </a>
    </div>
  </div>

  {% if lasts is not empty %}
   {% set post = lasts[0] %}
    <div class="d-flex flex-column">
      <div class="d-flex conceptos-badge p-2">
        <div class="d-flex align-items-center m-2">
          <span class="conceptos-badge-text">INSPIRACIÓN</span>
        </div>
      </div>
      <div class="d-flex flex-column p-3">
        <div class="d-flex align-items-center">
          <img class="conceptos-image" src="{{ vich_uploader_asset(post, 'imageFile') }}">
        </div>
        <div class="d-flex flex-column conceptos-white-background p-3">
          <span class="conceptos-title">{{post.title}}</span>
          <span class="conceptos-subtitle mt-2">{{post.summary}}</span>
          <a href="{{ path('blog_details', {id: post.id, title: post.path}) }}" class="align-self-end home-view-more-link mt-2">
            LEER MÁS
          </a>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
{% block js %}
  <script src="{{ asset('bundles/conceptos/home/js/home.js') }}"></script>
{% endblock %}
