{% extends ':site:base.html.twig' %}
{% block title %}Inicio{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/conceptos/home/css/home.css') }}">
{% endblock %}
{% block body %}
  <div id="home-header" class="d-flex justify-content-center align-items-start">
    {% if page.data.slides and page.data.slides is not empty %}
      <img class="conceptos-image" src="{{page.data.slides[0].path}}">
      <form id="home-search-form" class="d-flex" action="{{ path('products') }}" method="get">
        <input type="text" name="term" placeholder="Buscar productos">
      </form>
    {% endif %}
  </div>

  {% if popularChunks is not empty %}
    <div class="d-flex d-lg-none flex-column p-3">
      <span class="pl-2 conceptos-title">{{page.data.populars.title|raw}}</span>
      <span class="pl-2 conceptos-subtitle-2">{{page.data.populars.subtitle|raw}}</span>
      <div class="d-flex flex-wrap mt-3">
        <div class="carousel" data-ride="carousel" id="carousel-populars-short" data-interval="10000">
          <ol class="carousel-indicators">
            {% for chunk in popularChunks %}
                <li data-app-prevent-settings="" data-target="#slider1-28"
                    class="{% if loop.first %}active{% endif %}"
                    data-slide-to="{{ loop.index }}"></li>
            {% endfor %}
          </ol>
          <div class="carousel-inner">
              {% for chunk in popularChunks %}
                <div class="container-fluid carousel-item p-0 mb-2 {% if loop.first %}active{% endif %}">
                  <div class="d-flex flex-wrap">
                      {% for popular in chunk %}
                        <div class="d-flex col-6 justify-content-center p-2">
                          <div class="d-flex align-items-center conceptos-white-background p-2">
                            <a href="{{ path('product_details', {id: popular.id, name: popular.name}) }}">
                              <img class="conceptos-image" src="{{ vich_uploader_asset(popular.mainImage, 'imageFile') }}">
                            </a>
                          </div>
                        </div>
                      {% endfor %}
                  </div>
                </div>
              {% endfor %}
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-3">
        <a class="conceptos-primary-button-gray" href="{{ path('products', {populars: true, page: 1}) }}">
          <span class="pl-2 pr-2 w-100">VER MÁS</span>
        </a>
      </div>
    </div>
  {% endif %}

  {% if popularChunksDesktop is not empty %}
    <div class="d-none d-lg-flex flex-column p-3 ml-5 mr-5">
      <span class="pl-2 conceptos-title conceptos-title-desktop">{{page.data.populars.title|raw}}</span>
      <span class="pl-2 conceptos-subtitle conceptos-subtitle-desktop">{{page.data.populars.subtitle|raw}}</span>
      <div class="d-flex flex-wrap mt-3 mb-3">
        <div class="carousel pb-3" data-ride="carousel" id="carousel-populars-short" data-interval="10000">
          <ol class="carousel-indicators carousel-indicators-desktop">
            {% for chunk in popularChunksDesktop %}
                <li data-app-prevent-settings="" data-target="#slider1-28"
                    class="{% if loop.first %}active{% endif %}"
                    data-slide-to="{{ loop.index }}"></li>
            {% endfor %}
          </ol>
          <div class="carousel-inner">
              {% for chunk in popularChunksDesktop %}
                <div class="container-fluid carousel-item p-0 mb-2 {% if loop.first %}active{% endif %}">
                  <div class="d-flex flex-wrap">
                      {% for popular in chunk %}
                        <div class="d-flex col-3 justify-content-center p-3">
                          <div class="d-flex align-items-center conceptos-white-background p-2">
                            <a href="{{ path('product_details', {id: popular.id, name: popular.name}) }}">
                              <img class="conceptos-image" src="{{ vich_uploader_asset(popular.mainImage, 'imageFile') }}">
                            </a>
                          </div>
                        </div>
                      {% endfor %}
                  </div>
                </div>
              {% endfor %}
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-3">
        <a class="conceptos-primary-button-gray conceptos-primary-button-gray-desktop" href="{{ path('products', {populars: true, page: 1}) }}">
          <span class="pl-2 pr-2 w-100">VER MÁS</span>
        </a>
      </div>
    </div>
  {% endif %}

  <div class="d-flex flex-column">
    <div class="d-flex conceptos-badge p-2">
      <div class="d-flex flex-column justify-content-center m-2">
        <span class="d-flex d-lg-none conceptos-badge-text">ALMACÉN</span>
        <span class="d-none d-lg-flex conceptos-badge-text conceptos-badge-text-desktop">ALMACÉN</span>
        <span class="d-flex d-lg-none conceptos-badge-subtitle">{{page.data.subtitles.inStore|raw}}</span>
        <span class="d-none d-lg-flex conceptos-badge-subtitle conceptos-badge-subtitle-desktop">{{page.data.subtitles.inStore|raw}}</span>
      </div>
    </div>
    <div class="d-flex flex-column align-items-center p-3">
      {% if inStore and inStore is not empty %}
        <div class="d-flex d-lg-none align-items-center conceptos-white-background p-2">
          <div class="carousel" data-ride="carousel" id="carousel-in-store" data-interval="5000">
            <div class="carousel-inner">
              {% for product in inStore %}
                <div class="container-fluid carousel-item p-0 mb-2 {% if loop.first %}active{% endif %}">
                  <a href="{{ path('product_details', {id: product.id, name: product.name}) }}">
                    <img class="conceptos-image" src="{{ vich_uploader_asset(product.mainImage, 'imageFile') }}">
                  </a>
                </div>
              {% endfor %}
            </div>
            <div class="d-flex">
              <a class="carousel-control carousel-control-prev" role="button" data-slide="prev" href="#carousel-in-store">
                <span aria-hidden="true" class="mbri-left mbr-iconfont"></span>
              </a>
              <a class="carousel-control carousel-control-next" role="button" data-slide="next" href="#carousel-in-store">
                <span aria-hidden="true" class="mbri-right mbr-iconfont"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="d-none d-lg-flex col-12 justify-content-center align-items-center p-2">
          <div class="d-flex col-5 justify-content-center pl-0">
            <a href="{{ path('product_details', {id: inStore[0].id, name: inStore[0].name}) }}">
              <img class="conceptos-image" src="{{ vich_uploader_asset(inStore[0].mainImage, 'imageFile') }}">
            </a>
          </div>
          <div class="d-flex conceptos-divider-vertical"></div>
          <div class="d-flex col-5 justify-content-center pl-0">
            <a href="{{ path('product_details', {id: inStore[1].id, name: inStore[1].name}) }}">
              <img class="conceptos-image" src="{{ vich_uploader_asset(inStore[1].mainImage, 'imageFile') }}">
            </a>
          </div>
        </div>
      {% endif %}
      <a href="{{ path('products', {inStore:true}) }}" class="d-flex d-lg-none conceptos-primary-button-gray mt-3">
        <span class="pl-2 pr-2">VER MÁS</span>
      </a>
      <a href="{{ path('products', {inStore:true}) }}" class="d-none d-lg-flex conceptos-primary-button-gray conceptos-primary-button-gray-desktop mt-3">
        <span class="pl-2 pr-2">VER MÁS</span>
      </a>
    </div>
  </div>

  <div class="d-flex flex-column">
      <div class="d-flex conceptos-badge p-2">
      <div class="d-flex align-items-center m-2">
        <span class="d-flex d-lg-none conceptos-badge-text">SERVICIOS</span>
        <span class="d-none d-lg-flex conceptos-badge-text conceptos-badge-text-desktop">SERVICIOS</span>
      </div>
    </div>
    <div class="d-flex d-lg-none flex-column align-items-center p-3">
      {% if page.data.services.image is defined %}
        <div class="d-flex align-items-center conceptos-white-background p-2">
          <img class="conceptos-image" src="{{ page.data.services.image.path }}">
        </div>
      {% endif %}
      {% if page.data.services.title is defined %}
        <span class="conceptos-title align-self-start mt-3">{{page.data.services.title}}</span>
      {% endif %}
      {% if page.data.services.subtitle is defined %}
        <span class="conceptos-subtitle align-self-start mt-2">{{page.data.services.subtitle}}</span>
      {% endif %}
      <a href="{{ path('inward') }}" class="d-flex d-lg-none conceptos-primary-button-gray mt-3">
        <span class="pl-2 pr-2">VER MÁS</span>
      </a>
      <a href="{{ path('inward') }}" class="d-none d-lg-flex conceptos-primary-button-gray conceptos-primary-button-gray-desktop mt-3">
        <span class="pl-2 pr-2">VER MÁS</span>
      </a>
    </div>
    <div class="d-none d-lg-flex flex-column align-items-center p-3">
      <div class="d-flex col-7">
        {% if page.data.services.image is defined %}
          <div class="d-flex align-items-center conceptos-white-background p-2">
            <img class="conceptos-image" src="{{ page.data.services.image.path }}">
          </div>
        {% endif %}
        <div class="d-flex flex-column ml-3 justify-content-center">
          {% if page.data.services.title is defined %}
            <span class="conceptos-title align-self-start">{{page.data.services.title}}</span>
          {% endif %}
          {% if page.data.services.subtitle is defined %}
            <span class="conceptos-subtitle align-self-start mt-2">{{page.data.services.subtitle}}</span>
          {% endif %}
        </div>
      </div>
      <a href="{{ path('inward') }}" class="d-flex d-lg-none conceptos-primary-button-gray mt-3">
        <span class="pl-2 pr-2">VER MÁS</span>
      </a>
      <a href="{{ path('inward') }}" class="d-none d-lg-flex conceptos-primary-button-gray conceptos-primary-button-gray-desktop mt-3">
        <span class="pl-2 pr-2">VER MÁS</span>
      </a>
    </div>
  </div>

  {% if lasts is not empty %}
    <div class="d-flex flex-column">
      <div class="d-flex conceptos-badge p-2">
        <div class="d-flex align-items-center m-2">
          <span class="d-flex d-lg-none conceptos-badge-text">INSPIRACIÓN</span>
          <span class="d-none d-lg-flex conceptos-badge-text conceptos-badge-text-desktop">INSPIRACIÓN</span>
        </div>
      </div>
      <div class="d-flex">
        {% for post in lasts %}
          {% if loop.index <= 2 %}
            <div class="d-flex flex-column col-12 col-lg-6 align-self-center pt-3 pl-3 pr-3 pb-0">
              <div class="d-flex align-items-center">
                <img class="conceptos-image conceptos-blog-image" src="{{ vich_uploader_asset(post, 'imageFile') }}">
              </div>
              <div class="d-flex flex-column conceptos-white-background p-3">
                <span class="conceptos-title">{{post.title}}</span>
                <span class="conceptos-subtitle conceptos-blog-summary mt-2">{{post.summary}}</span>
                <a href="{{ path('blog_details', {id: post.id, title: post.path}) }}" class="d-flex align-items-center align-self-end home-view-more-link mt-2">
                  LEER MÁS
                  <img class="conceptos-icon ml-2" src="{{ asset('bundles/conceptos/images/home/forward.png') }}">
                </a>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endblock %}
{% block js %}
  <script src="{{ asset('bundles/conceptos/home/js/home.js') }}"></script>
{% endblock %}
