{% extends ':site:base.html.twig' %}
{% block title %}Membresia{% endblock %}

{% block body %}
    <div id="giftCardsModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{page.data.giftCardSection.modalText}}</h4>
                </div>
                <div class="modal-body">
                    <div class="d-flex flex-wrap">
                        <div class="col-6 pl-0">
                            <div class="d-flex justify-content-center">
                                <a class="gift-cart-button" data-path="{{path('add_shop_card', {id: "target15"})}}">
                                    <img class="gift-card-img d-none d-lg-block" src="{{page.data.giftCardSection.giftCard15Image.path}}">
                                    <img class="gift-card-img-short d-lg-none pr-1" src="{{page.data.giftCardSection.giftCard15Image.path}}">
                                </a>
                            </div>
                        </div>
                        <div class="col-6 pl-0">
                            <div class="d-flex justify-content-center">
                                <a class="gift-cart-button" data-path="{{path('add_shop_card', {id: "target25"})}}">
                                    <img class="gift-card-img d-none d-lg-block" src="{{page.data.giftCardSection.giftCard25Image.path}}">
                                    <img class="gift-card-img-short d-lg-none pl-1" src="{{page.data.giftCardSection.giftCard25Image.path}}">
                                </a>
                            </div>
                        </div>
                        <div class="col-6 pt-3 pl-0">
                            <div class="d-flex justify-content-center">
                                <a class="gift-cart-button" data-path="{{path('add_shop_card', {id: "target50"})}}">
                                    <img class="gift-card-img d-none d-lg-block" src="{{page.data.giftCardSection.giftCard50Image.path}}">
                                    <img class="gift-card-img-short d-lg-none pr-1" src="{{page.data.giftCardSection.giftCard50Image.path}}">
                                </a>
                            </div>
                        </div>
                        <div class="col-6 pt-3 pl-0">
                            <div class="d-flex justify-content-center">
                                <a class="gift-cart-button" data-path="{{path('add_shop_card', {id: "target100"})}}">
                                    <img class="gift-card-img d-none d-lg-block" src="{{page.data.giftCardSection.giftCard100Image.path}}">
                                    <img class="gift-card-img-short d-lg-none pl-1" src="{{page.data.giftCardSection.giftCard100Image.path}}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn navigation-button" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <section id="membership-form-large" class="page-header mbr-parallax-background d-none d-lg-block" style="background-image: url('{{ page.data.header.image.path }}')">
        {{ render(controller('AppBundle:Site:requestMembership')) }}
    </section>
    <div class="container-fluid d-lg-none">
        <div class="row">
            <div class="col-12 pl-0">
                <img class="help-page-header-short" src="{{ page.data.header.image.path }}">
            </div>
        </div>
    </div>
    <section id="membership-form-short" class="membership-form-section d-lg-none">
        <div class="pt-3">
            {{ render(controller('AppBundle:Site:requestMembership')) }}
        </div>
    </section>
    <section class="membership-content-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-6 d-none d-lg-flex">
                    <div class="d-flex justify-content-center">
                        <img src="{{ page.data.headerSection.image.path }}">
                    </div>
                </div>
                <div class="col-12 col-lg-6 pl-2 pl-lg-3">
                    <div class="d-flex flex-column">
                        <span class="main-text mt-4 d-none d-lg-block">{{page.data.headerSection.mainText|raw}}</span>
                        <span class="decoration-design-title-short mt-2 d-lg-none">{{page.data.headerSection.mainText|raw}}</span>
                        <span class="bottom-text d-none d-lg-block">{{page.data.headerSection.bottomText1|raw}}</span>
                        <span class="decoration-design-description-short d-lg-none">{{page.data.headerSection.bottomText1|raw}}</span>
                        <span class="highlighted-text mb-2 d-none d-lg-block">{{page.data.headerSection.bottomTextHighlighted|raw}}</span>
                        <span class="decoration-design-description-short bold-description-text mb-2 d-lg-none mt-2">{{page.data.headerSection.bottomTextHighlighted|raw}}</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="membership-gift-card-section pt-0 pt-lg-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-5 pl-0">
                    <div class="d-flex flex-column justify-content-between h-100">
                        <div class="d-flex flex-column">
                            <div class="d-flex flex-column order-2 order-lg-1">
                                <span class="main-text mt-4 ml-2 mr-4 d-none d-lg-block">{{page.data.giftCardSection.mainText|raw}}</span>
                                <span class="decoration-design-title-short mt-2 ml-2 mr-2 d-lg-none">{{page.data.giftCardSection.mainText|raw}}</span>
                                <span class="bottom-text mr-2 ml-4 d-none d-lg-block">{{page.data.giftCardSection.bottomText|raw}}</span>
                                <span class="decoration-design-description-short ml-2 mr-2 d-lg-none">{{page.data.giftCardSection.bottomText|raw}}</span>
                            </div>
                            <div class="d-flex align-items-end pt-0 d-lg-none order-1 order-lg-2">
                                <a id="gift-card-modal-toggle" class="d-flex" data-toggle="modal" data-target="#giftCardsModal" href="">
                                    <img class="gift-card-section-img" src="{{page.data.giftCardSection.generalImage.path}}">
                                </a>
                            </div>
                        </div>
                        <div class="col-7 pl-0 d-none d-lg-flex">
                            <div class="align-items-end pt-3">
                                <a class="d-flex" data-toggle="modal" data-target="#giftCardsModal" href="">
                                    <img class="gift-card-section-img" src="{{page.data.giftCardSection.generalImage.path}}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-7 pl-0">
                    <div class="d-flex h-100">
                        <img class="membership-gift-card-section-img" src="{{ page.data.giftCardSection.image.path }}">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="membership-bottom-section pt-2 pt-lg-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 pl-0">
                    <div class="d-flex">
                        <img src="{{ page.data.bottom.image.path }}">
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% if products|length > 0 %}
        <section class="membership-offers-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 pl-2 pr-2">
                        <span class="product-description-header pt-0 pl-0 mt-2 mt-lg-4">Ofertas solo para miembros</span>
                        <div class="product-description-divider"> </div>
                        <div class="related-products w-100">
                            <div class="d-flex flex-wrap">
                                {% for product in products %}
                                    <div class="col-6 col-lg-2 pl-0">
                                        {{include('site/components/product-summary.html.twig')}}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}
{% block js %}
    <script src="{{ asset('bundles/conceptos/scripts/js/membership.js') }}"></script>
    {% if showSuccesToast is defined %}
      <script>
        $.toast({
          text: "Solicitud de Membresia enviada correctamente",
          showHideTransition: "fade",
          bgColor: "#f7ed4a",
          textColor: "#3f3c03",
          allowToastClose: true,
          hideAfter: 5000,
          stack: 5,
          textAlign: "center",
          position: "mid-center",
          icon: "success",
          heading: "Correcto"
        });
      </script>
    {% endif %}
{% endblock %}
