<p>El usuario {{user.username}} ha emitido una evaluación con el siguiente comentario en el producto:</p>
<hr />
<p>Nombre del código: {{evaluation.product.code}}</p>
<p>Nombre del producto: {{evaluation.product.name}}</p>
<p>Comentario: {{evaluation.comment}}</p>
<hr />
<a href="{{ absolute_url(path('accept_evaluation', {evaluationId: evaluation.id})) }}">Aceptar Evaluación</a>
