<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:v="urn:schemas-microsoft-com:vml">

<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <meta content="width=device-width" name="viewport" />
  <meta content="IE=edge" http-equiv="X-UA-Compatible" />
  <title></title>

  <style>
    @font-face {
      font-family: "Gotham_Bold";
      src: url('{{ absolute_url("/bundles/conceptos/fonts/Gotham/Gotham Bold.otf") }}' );
    }

    @font-face {
      font-family: "Gotham_Rounded";
      src: url('{{ absolute_url("/bundles/conceptos/fonts/Gotham/Gotham Rounded Bold.otf") }}' );
    }

    @page {
      size: a4;
      margin: 0;
      margin-top: 180px;
    }

    body {
      margin: 0;
    }

    p {
      font-family: Gotham_Rounded;
      margin-top: 0.3em;
      margin-bottom: 0;
    }

    span {
      font-family: Gotham_Rounded;
    }

    header {
      position: fixed;
      top: -180px;
      width: 100%;
      background-color: #333333;
      height: 85px;
    }

    header img {
      width: 200px;
      margin-left: 40px;
      margin-top: 17px;
    }

    header .document-info {
      padding-top: -40px;
      margin-left: 490px;
    }

    .document-info p {
      color: #FFFFFF;
      font-weight: normal;
      font-size: 9pt;
    }

    .yellow-badge {
      background-color: #c2b930;
      position: absolute;
      height: 10px;
      width: 100%;
      top: 85px;
    }

    .prefacture-general-info {
      margin-top: 50px;
      padding-left: 40px;
    }

    .content {
      padding-top: 40px;
      padding-left: 40px;
      padding-right: 40px;
      margin-bottom: 120px;
    }

    .prefacture-name {
      font-family: Gotham_Bold;
      font-size: 18.2pt;
    }

    .prefacture-date {
      font-family: Gotham_Rounded;
      font-size: 9pt;
      margin-left: 175px;
    }

    .prefacture-info {
      padding-top: -50px;
    }

    .client-summary p {
      font-family: Gotham_Rounded;
      font-size: 9pt;
    }

    .client-summary strong {
      font-family: Gotham_Bold;
      font-size: 9pt;
    }

    .client-address {
      margin-bottom: 20px;
    }

    .prefacture-summary {
      float: right;
    }

    .prefacture-summary-info {
      margin-top: 15px;
    }

    .prefacture-main-info-top {
      background-color: #CCCCCC;
      margin-top: 10px;
      padding: 5px;
      width: 250px;
    }

    .prefacture-main-info-top > p:nth-child(1) {
      margin-top: 0;
    }

    .prefacture-main-info-bottom {
      background-color: #333333;
      margin-bottom: 20px;
      padding: 5px;
      width: 250px;
    }

    .prefacture-main-info-bottom > p:nth-child(1) {
      margin-top: 0;
    }

    .prefacture-main-info-bottom p {
      color: #FFFFFF;
    }

    .products-table {
      margin-top: {% if prefacture.commercial %}265px{% else %}250px{% endif %};
    }

    .products-table th {
      font-family: Gotham_Rounded;
      font-size: 9pt;
    }

    .products-table td {
      font-family: Gotham_Rounded;
      font-size: 9pt;
    }

    .product-image {
      height: 80px;
      width: 80px;
      margin: 5px;
    }

    footer {
      position: fixed;
      bottom: 60px;
      left: 40px;
      height: 50px;
    }

    .footer-signatures {
      display: inline-block;
    }

    .commercial-signature {
      margin-left: 40px;
    }

    .footer-info {
      display: inline-block;
      margin-left: 130px;
    }

    .qr-code {
      display: inline-block;
      padding-bottom: -12px;
    }

    footer img {
      width: 125px;
      height: 125px;
    }

    .table-bordered {
      width: 100%;
      margin-top: 0.5em;
      border: 1px solid #333333;
      float: left;
      border-spacing: 0;
    }

    .table thead th {
      text-align: start;
      border: 1px solid #333333;
      background-color: #333333;
      color: #ffffff;
      padding: 5px;
    }

    .table-bordered td, .table-bordered th {
      border: 1px solid #333333;
      padding: 5px;
    }

    .align-right {
      float: left;
    }

    .align-right {
      float: right;
    }
  </style>
</head>
<body>
  <script type="text/php">
    if (isset($pdf)) {
      $pdf->page_text(496, 90, "{PAGE_NUM} páginas de {PAGE_COUNT}", $fontMetrics->get_font("Times New Roman"), 12);
    }
  </script>

  <header>
    <div>
      <img class="pl-5 pt-2 pb-2" src="{{ absolute_url(asset(home.data.logo.image.path)) }}" />
      <div class="document-info">
        <p>No. de Orden: {% if prefacture.request %}{{prefacture.request.id}}{% else %}-{% endif %}</p>
        <p>No. de Prefactura: {{prefacture.id}}-{{prefacture.date|date('Y')}}</p>
      </div>
    </div>
    <div class="yellow-badge"></div>
    <div class="prefacture-general-info">
      <span class="prefacture-name">PREFACTURA</span>
      <span class="prefacture-date">{{prefacture.date|date('d/m/Y')}}</span>
    </div>
  </header>
  <footer>
    <div class="footer-signatures">
      <span>Firma del cliente</span>
      <span class="commercial-signature">Firma del comercial</span>
    </div>
    <div class="footer-info">
      <p>www.tiendaconceptos.com</p>
      <p>comercial@tiendaconceptos.com</p>
      <p>Teléfono comercial: +5351169098</p>
    </div>
    <div class="qr-code">
      <img src="{{ absolute_url(asset('bundles/conceptos/images/home/qr.png')) }}">
    </div>
  </footer>
  <main class="content">
    <div class="prefacture-info">
      <div class="prefacture-summary">
        {% if prefacture.commercial %}
          <p><strong>Comercial:</strong> {{prefacture.commercial.firstName}} {{prefacture.commercial.lastName}}</p>
          {% if prefacture.commercial.mobileNumber %}
            <p><strong>Teléfono movil:</strong> {{prefacture.commercial.mobileNumber}}</p>
          {% endif %}
          <p><strong>Correo:</strong> {{prefacture.commercial.email}}</p>
        {% endif %}
        <div class="prefacture-main-info">
          <div class="prefacture-main-info-top">
            <p><span class="align-left">Cantidad de items: </span><span class="align-right">{{products|length}}</span></p>
            <p><span class="align-left">Cantidad de productos: </span><span class="align-right">{{numberOfProducts}}</span></p>
            <p><span class="align-left">Tipo de moneda: </span><span class="align-right">{% if prefacture.cucExtra %}CUC{% else %}USD{% endif %}</span></p>
            <p><span class="align-left">Tipo de pago: </span><span class="align-right">{% if prefacture.twoStepExtra %}2 Plazos{% else %}1 Plazo{% endif %}</span></p>
            {% if prefacture.discount %}
              <p><span class="align-left">Descuento de miembro: </span><span class="align-right">${{prefacture.discount}}</span></p>
            {% endif %}
            {% if prefacture.cucExtra %}
              <p><span class="align-left">Extra por CUC: </span><span class="align-right">${{prefacture.cucExtra}}</span></p>
            {% endif %}
            {% if prefacture.twoStepExtra %}
              <p><span class="align-left">Extra por 2 plazos: </span><span class="align-right">${{prefacture.twoStepExtra}}</span></p>
            {% endif %}
            {% if prefacture.bagsExtra %}
              <p><span class="align-left">Extra por bolsas: </span><span class="align-right">${{prefacture.bagsExtra}}</span></p>
            {% endif %}
            <p><span class="align-left">Costo de transporte: </span><span class="align-right">${{prefacture.transportCost}}</span></p>
          </div>
          <div class="prefacture-main-info-bottom">
            <p><span class="align-left">Total a pagar: </span><span class="align-right">${{prefacture.finalPrice}}</span></p>
            {% if prefacture.twoStepExtra %}
            <p><span class="align-left">Pago anticipado: </span><span class="align-right">${{firstPayment}}</span></p>
            {% endif %}
            <p><span class="align-left">Por pagar: </span><span class="align-right">{% if prefacture.twoStepExtra %}{{prefacture.finalPrice - firstPayment}}{% else %}${{prefacture.finalPrice}}{% endif %}</span></p>
          </div>
        </div>
      </div>
      <div class="client-summary">
        <p><strong>Cliente:</strong> {{prefacture.client.firstName}} {{prefacture.client.lastName}}</p>
        <p class="client-address"><strong>Dirección de entrega:</strong> {{prefacture.client.address}}</p>
        {% if prefacture.client.movil %}
          <p><strong>Teléfono móvil:</strong> {{prefacture.client.movil}}</p>
        {% endif %}
        {% if prefacture.client.phone %}
          <p><strong>Teléfono fijo:</strong> {{prefacture.client.phone}}</p>
        {% endif %}
        <p><strong>Correo:</strong> {{prefacture.client.email}}</p>
        {% if prefacture.client.memberNumber %}
          <p><strong>Número de miembro:</strong> {{prefacture.client.memberNumber}}</p>
        {% endif %}
      </div>
    </div>
    <div class="products-table">
      <table class="table table-bordered mt-3">
        <thead>
        <tr>
          <th>Código</th>
          <th>Imágen</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Envío</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Subtotal</th>
        </tr>
        </thead>
        <tbody class="table-members">
          {% for product in products %}
            <tr>
              <td>
                <span>{{product.code}}</span>
              </td>
              <td>
                {% if product.image is defined %}
                  <img class="ml-5 mt-2 mb-2 product-image" src="{{ absolute_url(vich_uploader_asset(product.image, 'imageFile')) }}" />
                {% else %}
                  {% if product.price == 15 %}
                    {% set imagePath = membership.data.giftCardSection.giftCard15Image.path %}
                  {% elseif product.price == 25 %}
                    {% set imagePath = membership.data.giftCardSection.giftCard25Image.path %}
                  {% elseif product.price == 50 %}
                    {% set imagePath = membership.data.giftCardSection.giftCard50Image.path %}
                  {% else %}
                    {% set imagePath = membership.data.giftCardSection.giftCard100Image.path %}
                  {% endif %}
                  <img class="ml-5 mt-2 mb-2 product-image" src="{{ absolute_url(asset(imagePath)) }}" />
                {% endif %}
              </td>
              <td>
                <span>{{product.name}}</span>
              </td>
              <td>
                <span class="product-description">{{product.item}}</span>
              </td>
              <td>
                <span>{{product.airplane}}</span>
              </td>
              <td>
                <span>{{product.price }}</span>
              </td>
              <td>
                <span>{{product.count}}</span>
              </td>
              <td>
                <span>{{product.price * product.count}}</span>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
</body>
</html>
