<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:v="urn:schemas-microsoft-com:vml">

<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <meta content="width=device-width" name="viewport" />
  <meta content="IE=edge" http-equiv="X-UA-Compatible" />
  <title></title>
  <link rel="stylesheet" href="{{ asset('bundles/conceptos/assets/bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ asset('bundles/conceptos/assets/bootstrap/css/bootstrap-grid.min.css') }}">

  <style>
    .header {
      position: absolute;
      top: 0;
      width: 100%;
      background-color: #333333;
    }
    .header img {
      width: 250px;
    }
    .content {
      padding-top: 80px;
    }
    .product-image {
      height: 50px;
      width: 50px;
    }
    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: #333333;
    }
    .footer span {
      color: #FFFFFF;
      font-size: 15px;
    }

    .table-striped tbody tr:nth-of-type(odd) {
      background-color: #FFFFFF;
    }
    .table-bordered {
      border: 1px solid #000000;
    }
    .table thead th {
      border-bottom: 1px solid #000000;
    }
    .table-bordered td, .table-bordered th {
      border: 0px;
      border-bottom: 1px solid #000000;
    }
    .table td, .table th {
      padding: 0;
    }
  </style>
</head>
<body>
  {% set cupConversionRate = 25 %}
  <div class="d-flex flex-column">
    <div class="d-flex header">
      <img class="pl-5 pt-2 pb-2" src="{{ home.data.logo.image.path }}" />
    </div>
    <div class="ml-5 mr-5 content">
      <div class="row justify-content-end">
        <div class="col-3 pl-0">
          <div class="d-flex flex-column align-items-end">
            <span><strong>PREFACTURA:</strong> {{prefacture.id}}-{{prefacture.date|date('Y')}}</span>
            <span><strong>FECHA:</strong> {{prefacture.date|date('d/m/Y')}}</span>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between mt-3">
        <div class="d-flex flex-column">
          <span>NOMBRE Y APELLIDOS: {{prefacture.client.firstName}} {{prefacture.client.lastName}}</span>
          <span>CORREO: {{prefacture.client.email}}</span>
          <span>DIRECCIÓN PARTICULAR: {{prefacture.client.address}}</span>
          {% if prefacture.client.phone %}
            <span>TELÉFONO FIJO: {{prefacture.client.phone}}</span>
          {% endif %}
          {% if prefacture.client.movil %}
            <span>TELÉFONO MÓVIL: {{prefacture.client.movil}}</span>
          {% endif %}
          {% if prefacture.client.memberNumber %}
            <span>NÚMERO DE MIEMBRO: {{prefacture.client.memberNumber}}</span>
          {% endif %}
          <span style="margin-top: 15px;">FIRMA DEL CLIENTE: ____________________________</span>
          <span style="margin-top: 10px;">FIRMA DEL COMERCIAL: ____________________________</span>
        </div>
        <div class="d-flex flex-column">
          <span>CANTIDAD DE ARTÍCULOS: {{numberOfProducts}}</span>
          <span>SUBTOTAL DE COMPRA: ${{subtotal}}.00</span>
          <span>TIPO DE MONEDA: {% if prefacture.cucExtra %}CUC{% else %}USD{% endif %}</span>
          {% if prefacture.cucExtra %}
            <span>EXTRA POR CUC: ${{prefacture.cucExtra}}.00</span>
          {% endif %}
          <span>PLAZOS DE PAGO: {% if prefacture.twoStepExtra %}2{% else %}1{% endif %}</span>
          {% if prefacture.twoStepExtra %}
          <span>EXTRA POR 2 PLAZOS: ${{prefacture.twoStepExtra}}.00</span>
          {% endif %}
          {% if prefacture.discount %}
            <span>DESCUENTO DE MIEMBRO: ${{prefacture.discount}}.00</span>
          {% endif %}
          <span>COSTO DE TRANSPORTE: ${{prefacture.transportCost}}.00</span>
          <span>TOTAL A PAGAR: ${{prefacture.finalPrice}}.00</span>
          {% if firstPayment %}
            <span>PAGO ANTICIPADO: ${{firstPayment}}.00</span>
          {% endif %}
        </div>
      </div>
      <div class="row pt-3">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th class="pl-2">CÓDIGO</th>
            <th class="pl-2">FOTO</th>
            <th class="pl-2" style="max-width: 200px;">DESCRIPCIÓN</th>
            <th class="pl-2">CANTIDAD</th>
            <th class="pl-2">PRECIO</th>
            <th class="pl-2">TOTAL</th>
            <th class="pl-2">TIPO DE ENVÍO</th>
          </tr>
          </thead>
          <tbody class="table-members">
            {% for product in products %}
              <tr>
                <td class="pl-2">{{product.code}}</td>
                <td>
                  {% if product.image is defined %}
                    <img class="ml-5 mt-2 mb-2 product-image" src="{{ absolute_url(vich_uploader_asset(product.image, 'imageFile')) }}" />
                  {% else %}
                    {% if product.price == 15 %}
                      {% set imagePath = membership.data.giftCardSection.giftCard15Image.path %}
                    {% elseif product.price == 25 %}
                      {% set imagePath = membership.data.giftCardSection.giftCard25Image.path %}
                    {% elseif product.price == 50 %}
                      {% set imagePath = membership.data.giftCardSection.giftCard50Image.path %}
                    {% else %}
                      {% set imagePath = membership.data.giftCardSection.giftCard100Image.path %}
                    {% endif %}
                    <img class="ml-5 mt-2 mb-2 product-image" src="{{imagePath}}" />
                  {% endif %}
                </td>
                <td class="pl-2" style="max-width: 200px;">{{product.description}}</td>
                <td class="pl-2">{{product.count}}</td>
                <td class="pl-2">{{product.price}}</td>
                <td class="pl-2">{{product.price * product.count}}</td>
                <td class="pl-2">{{product.airplane}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {# <div class="d-flex justify-content-end footer">
      <div class="d-flex flex-column pr-5 align-items-end">
        <span>www.tiendaconceptos.com</span>
      </div>
    </div> #}
  </div>
</body>
</html>
