<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:v="urn:schemas-microsoft-com:vml">

<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <meta content="width=device-width" name="viewport" />
  <meta content="IE=edge" http-equiv="X-UA-Compatible" />
  <title></title>
  <link rel="stylesheet" href="{{ asset('bundles/conceptos/assets/bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ asset('bundles/conceptos/assets/bootstrap/css/bootstrap-grid.min.css') }}">

  <style>
    .header {
      position: absolute;
      top: 0;
      width: 100%;
      background-color: #333333;
    }
    .header img {
      width: 250px;
    }
    .content {
      padding-top: 80px;
    }
    .product-image {
      height: 100px;
      width: 100px;
    }
    .product-description {
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }
    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: #333333;
    }
    .footer span {
      color: #FFFFFF;
      font-size: 15px;
    }

    .table-striped tbody tr:nth-of-type(odd) {
      background-color: #FFFFFF;
    }
    .table-bordered {
      border: 1px solid #000000;
    }
    .table thead th {
      border-bottom: 1px solid #000000;
    }
    .table-bordered td, .table-bordered th {
      border: 0px;
      border-bottom: 1px solid #000000;
    }
    .table td, .table th {
      padding: 0;
    }
  </style>
</head>
<body>
  {% set cupConversionRate = 25 %}
  <div class="d-flex flex-column">
    <div class="d-flex header">
      <img class="pl-5 pt-2 pb-2" src="{{ home.data.logo.image.path }}" />
    </div>
    <div class="ml-5 mr-5 content">
      <div class="d-flex justify-content-end">
        <div class="col-3 pl-0">
          <div class="d-flex flex-column align-items-end">
            <span><strong>PREFACTURA:</strong> {{prefacture.id}}-{{prefacture.date|date('Y')}}</span>
            <span><strong>FECHA:</strong> {{prefacture.date|date('d/m/Y')}}</span>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between mt-3">
        <div class="d-flex flex-column">
          <span><strong>NOMBRE Y APELLIDOS:</strong> {{prefacture.client.firstName}} {{prefacture.client.lastName}}</span>
          <span><strong>CORREO:</strong> {{prefacture.client.email}}</span>
          <span><strong>DIRECCIÓN PARTICULAR:</strong> {{prefacture.client.address}}</span>
          {% if prefacture.client.phone %}
            <span><strong>TELÉFONO FIJO:</strong> {{prefacture.client.phone}}</span>
          {% endif %}
          {% if prefacture.client.movil %}
            <span><strong>TELÉFONO MÓVIL:</strong> {{prefacture.client.movil}}</span>
          {% endif %}
          {% if prefacture.client.memberNumber %}
            <span><strong>NÚMERO DE MIEMBRO:</strong> {{prefacture.client.memberNumber}}</span>
          {% endif %}
          <div class="d-flex justify-content-between mt-3">
            <strong>FIRMA DEL CLIENTE:</strong>
            <span class="ml-2">____________________________</span>
          </div>
          <div class="d-flex justify-content-between mt-2">
            <strong>FIRMA DEL COMERCIAL:</strong>
            <span class="ml-2">____________________________</span>
          </div>
        </div>
        <div class="d-flex flex-column">
          <span><strong>CANTIDAD DE ARTÍCULOS:</strong> {{numberOfProducts}}</span>
          <span><strong>SUBTOTAL DE COMPRA:</strong> ${{subtotal}}.00</span>
          <span><strong>TIPO DE MONEDA:</strong> {% if prefacture.cucExtra %}CUC{% else %}USD{% endif %}</span>
          {% if prefacture.cucExtra %}
            <span><strong>EXTRA POR CUC:</strong> ${{prefacture.cucExtra}}.00</span>
          {% endif %}
            <span><strong>PLAZOS DE PAGO:</strong> {% if prefacture.twoStepExtra %}2{% else %}1{% endif %}</span>
          {% if prefacture.twoStepExtra %}
            <span><strong>EXTRA POR 2 PLAZOS:</strong> ${{prefacture.twoStepExtra}}.00</span>
            <span><strong>PAGO ANTICIPADO:</strong> ${{firstPayment}}.00</span>
          {% endif %}
          {% if prefacture.discount %}
            <span><strong>DESCUENTO DE MIEMBRO:</strong> ${{prefacture.discount}}.00</span>
          {% endif %}
          <span><strong>COSTO DE TRANSPORTE:</strong> ${{prefacture.transportCost}}.00</span>
          <span><strong>TOTAL A PAGAR:</strong> ${{prefacture.finalPrice}}.00</span>
        </div>
      </div>
      <table class="table table-bordered mt-3">
        <thead>
        <tr>
          <th class="pl-2">CÓDIGO</th>
          <th class="pl-2">FOTO</th>
          <th class="pl-2">DESCRIPCIÓN</th>
          <th class="pl-2">CANTIDAD</th>
          <th class="pl-2">PRECIO</th>
          <th class="pl-2">TOTAL</th>
          <th class="pl-2" style="min-width: 150px;">TIPO DE ENVÍO</th>
        </tr>
        </thead>
        <tbody class="table-members">
          {% for product in products %}
            <tr>
              <td class="pl-2 pt-2">
                <span>{{product.code}}</span>
              </td>
              <td>
                {% if product.image is defined %}
                  <img class="ml-5 mt-2 mb-2 product-image" src="{{ absolute_url(vich_uploader_asset(product.image, 'imageFile')) }}" />
                {% else %}
                  {% if product.price == 15 %}
                    {% set imagePath = membership.data.giftCardSection.giftCard15Image.path %}
                  {% elseif product.price == 25 %}
                    {% set imagePath = membership.data.giftCardSection.giftCard25Image.path %}
                  {% elseif product.price == 50 %}
                    {% set imagePath = membership.data.giftCardSection.giftCard50Image.path %}
                  {% else %}
                    {% set imagePath = membership.data.giftCardSection.giftCard100Image.path %}
                  {% endif %}
                  <img class="ml-5 mt-2 mb-2 product-image" src="{{imagePath}}" />
                {% endif %}
              </td>
              <td class="pl-3 pt-2">
                <span class="product-description">{{product.description}}</span>
              </td>
              <td class="pl-2 pt-2">
                <span>{{product.count}}</span>
              </td>
              <td class="pl-2 pt-2">
                <span>{{product.price}}</span>
              </td>
              <td class="pl-2 pt-2">
                <span>{{product.price * product.count}}</span>
              </td>
              <td class="pl-2 pt-2" style="min-width: 150px;">
                <span>{{product.airplane}}</span>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</body>
<script src="{{ asset('bundles/conceptos/assets/html2canvas/html2canvas.min.js') }}"></script>
<script src="{{ asset('bundles/conceptos/assets/jspdf/jspdf.min.js') }}"></script>
<script>
  // var pdf = new jsPDF('p', 'pt', 'a4');
  // pdf.fromHTML(document.body, 15, 15, {}, function(dispose) {
  //   pdf.save('Test.pdf')
  // });

  // var pdf = new jsPDF('p', 'pt', 'a4');
  // pdf.addHTML(document.body, function() {
  //   console.log(1);
  //   pdf.save('Test.pdf');
  // });

  // html2canvas(document.body).then(function(canvas) {
  //   var img = canvas.toDataURL("image/png")
  //   var pdf = new jsPDF('p', 'pt', 'a4');
  //   pdf.addImage(img, 'JPEG', 0, 0);
  //   pdf.save('Test.pdf');
  // });
</script>
</html>
