{% for product in shopCartProducts %}
  <div class="d-flex shop-cart-product p-2 {% if loop.index > 1 %}mt-2{% endif %}"
      data-product="{{product.id}}"
      data-uuid="{{ product.uuid }}"
      data-calculate-price-path="{{ path('calculate_product_price') }}"
      data-remove-path="{{ path('remove_from_cart_shop', {id: product.id}) }}">
    {% if product.type is defined %}
      {% set imagePath = membership.data.giftCardSection.giftCard15Image.path %}
      {% set productName = "TARJETA DE REGALO" %}
      {% set productPrice = product.price %}
      {% if product.price == 25 %}
          {% set imagePath = membership.data.giftCardSection.giftCard25Image.path %}
      {% elseif product.price == 50 %}
          {% set imagePath = membership.data.giftCardSection.giftCard50Image.path %}
      {% elseif product.price == 100 %}
          {% set imagePath = membership.data.giftCardSection.giftCard100Image.path %}
      {% endif %}
    {% else %}
      {% set imagePath = vich_uploader_asset(product.image, 'imageFile') %}
      {% set productName = product.name %}
      {% set productPrice = product.price %}
    {% endif %}
    <div class="d-flex col-5 conceptos-white-background align-items-center p-2">
      <img class="conceptos-image" src="{{imagePath}}" alt="{{productName}}">
    </div>
    <div class="d-flex flex-column col-7 pl-2">
      <div class="d-flex flex-column">
        <span class="conceptos-product-info">{{productName}}</span>
        <span class="conceptos-product-info" data-price="{{productPrice}}">${{productPrice}}.00</span>
      </div>
      <div class="d-flex flex-column justify-content-center h-100">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <img class="conceptos-icon cart-quantity-up" src="{{ asset('bundles/conceptos/images/cart/plus.png') }}">
            <img class="conceptos-icon cart-quantity-down ml-1" src="{{ asset('bundles/conceptos/images/cart/minus.png') }}">
            <span class="conceptos-product-info ml-2" data-quantity="{{product.count}}">x{{product.count}}</span>
          </div>
          <img class="shop-cart-trash mr-1" src="{{ asset('bundles/conceptos/images/cart/trash-icon.png') }}">
        </div>
        <div class="d-flex align-items-center mt-1">
          <span class="conceptos-product-info">ENVÍO:</span>
          <img class="conceptos-icon airplane-delivery ml-2" src="{{ asset('bundles/conceptos/images/cart/airplane.png') }}">
          <img class="conceptos-icon airplane-delivery-disabled ml-2" src="{{ asset('bundles/conceptos/images/cart/airplane_disabled.png') }}" style="display: none;">
          <img class="conceptos-icon ship-delivery ml-1" src="{{ asset('bundles/conceptos/images/cart/ship.png') }}">
          <img class="conceptos-icon ship-delivery-disabled ml-1" src="{{ asset('bundles/conceptos/images/cart/ship_disabled.png') }}" style="display: none;">
        </div>
      </div>
    </div>
  </div>
{% else %}
  <div class="d-flex justify-content-center">
    <span class="conceptos-title m-4">SIN PRODUCTOS EN EL CARRITO</span>
  </div>
{% endfor %}
