<div class="d-flex justify-content-center conceptos-product-card p-2 w-100 {% if product.priceOffer != -1 %}popular_product{% endif %}">
  <div class="d-flex align-items-center conceptos-white-background p-2 w-100">
    <a class="h-100 w-100" href="{{ path('product_details', {id: product.id, name: product.name}) }}">
      <div class="d-flex flex-column justify-content-between h-100">
        {% if app.user|default %}
          <span data-path-add="{{ path('add_to_favorite', {id: product.id}) }}"
            data-path-remove="{{ path('remove_from_favorite', {id: product.id}) }}"
            class="favorite-product {% if product.favorite %}favorite{% endif %}">
            <i class="fa fa-heart"></i>
          </span>
        {% endif %}

{#        <img class="conceptos-image conceptos-popular-product-image" src="{{ asset(vich_uploader_asset(product.mainImage, 'imageFile') | imagine_filter('min_width_1200')) }}">#}
          {{  asset(vich_uploader_asset(product.mainImage, 'imageFile')) | imgTag(sizes, null, 'conceptos-image conceptos-popular-product-image') | raw }}

      <div class="d-flex justify-content-between align-items-center">
          {% if bigFont is defined %}
            {% set priceClass = "conceptos-product-price-big" %}
            {% set iconClass = "conceptos-add-to-cart-icon-big" %}
          {% else %}
            {% set priceClass = "conceptos-product-price" %}
            {% set iconClass = "" %}
          {% endif %}
          {% if product.priceOffer != -1 %}
            <span class="conceptos-product-info {{priceClass}} mt-1">$&nbsp;{{product.priceOffer}}</span>
          {% else %}
            <span class="conceptos-product-info {{priceClass}} mt-1">$&nbsp;{{product.price}}</span>
          {% endif %}
          <button class="conceptos-add-to-cart-icon {{iconClass}} pr-0" data-path="{{ path('add_shop_card', {id: product.id}) }}">
            <img src="{{ asset('bundles/conceptos/images/home/cart.png') }}">
          </button>
        </div>
      </div>
    </a>
  </div>
</div>
