{% extends ':site:base.html.twig' %}
{% block title %}
    {% if product %}
        Detalles del producto - {{ product.item }}
    {% else %}
        Producto no encontrado
    {% endif %}
{% endblock %}

{% block meta %}
    {% if product %}
        <link rel="canonical" href="{{ absolute_url(path('product_details', {id: product.id, name: product.name})) }}"/>

        {#TODO: faltan las imagenes en otra dimensiones #}
        <script type="application/ld+json">
        {
            "@context": "http://schema.org/",
            "@type": "Product",
                "name": "{{ product.name }}",
            "image": [
                {% for imageSet in imageSets | first %}
                  {% for image in imageSet | first %}
                  "{{ absolute_url(vich_uploader_asset(image, 'imageFile') ) }}"
                  {% endfor %}
                {% endfor %}
{#            "{{ absolute_url(asset(transfer.getWebPath("full-1x1"))) }}",#}
{#            "{{ absolute_url(asset(transfer.getWebPath("full-4x3"))) }}",#}
{#            "{{ absolute_url(asset(transfer.getWebPath("full-16x9"))) }}"#}
            ],
            "description": "{{product.description}}",
            "mpn": "",
            "brand": {
                "@type": "Thing",
                "name": "Tienda Conceptos"
            },
            "offers": {
                "@type": "Offer",
                "priceCurrency": "USD",
                "price": "{{ product.price }}",
                "priceValidUntil": "2020-12-31",
                "itemCondition": "http://schema.org/UsedCondition",
                "availability": "http://schema.org/InStock",
                "seller": {
                    "@type": "Organization",
                    "name": "Tienda Conceptos"
                    }
                }
        }
        </script>

    {% endif %}
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ asset('bundles/conceptos/products/css/product-details.css') }}">
  <link rel="stylesheet" href="{{ asset('bundles/conceptos/products/css/products.css') }}">
  <link rel="stylesheet" href="{{ asset('bundles/conceptos/14ndy15/styles/product.css') }}" type="text/css">
{% endblock %}
{% block body %}

  <div class="d-flex flex-column  p-2 pt-lg-3 pl-lg-5 pr-lg-5">
    <div class="d-flex flex-wrap conceptos-white-background">
      {{ include('site/components/product/carousel.html.twig') }}
      <div class="d-flex col-12 col-lg-6 flex-column pl-0 pt-lg-3">
        <div class="d-flex flex-column p-2 pl-lg-5 pr-lg-5">
          <span class="conceptos-title-strong">{{product.name}}</span>
          {% if product.comboProducts|length > 0 %}
            <span class="conceptos-subtitle">Lo componen {{product.comboProducts|length}} productos</span>
          {% endif %}
          <span class="conceptos-subtitle">{{product.item}}</span>
          <div class="d-flex justify-content-start align-items-center">
            <div class="d-flex flex-column">
              {% if product.inStore %}
                <div class="d-flex align-items-center mt-1 mb-1">
                  <div class="product-store-delivery mr-2"></div>
                  <span class="conceptos-in-store-product-badge">ENTREGA EN 24h</span>
                </div>
              {% elseif product.isFurniture or product.isMattress %}
                <div class="d-flex align-items-center mt-1 mb-1">
                  <div class="product-ship-delivery mr-2"></div>
                  <span class="conceptos-product-delivery-text">Entrega de 6 a 12 semanas</span>
                </div>
              {% else %}
                <div class="d-flex align-items-center mt-1 mb-1">
                  <div class="product-airplane-delivery mr-2"></div>
                  <span class="conceptos-product-delivery-text">Entrega de 3 a 5 semanas</span>
                </div>
              {% endif %}
              {% if product.recent %}
                <span class="conceptos-new-product-badge">NUEVO</span>
              {% endif %}
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center mt-1">
            <div class="d-flex align-items-center">
              {% if product.priceOffer != -1 %}
                <span class="conceptos-product-info conceptos-product-price-big mr-2">${{product.priceOffer}}</span>
                <span class="conceptos-product-info conceptos-offer-price">$&nbsp;{{product.price}}</span>
              {% else %}
                <span class="conceptos-product-info conceptos-product-price-big">$&nbsp;{{product.price}}</span>
              {% endif %}
            </div>

            <button class="conceptos-add-to-cart-icon conceptos-add-to-cart-icon-big d-lg-none" data-path="{{ path('add_shop_card', {id: product.id}) }}">
              <img src="{{ asset('bundles/conceptos/images/home/cart.png') }}">
            </button>
          </div>
        </div>
        <div id="product-evaluation-section" class="d-flex pl-2 pl-lg-5">
          {{include('site/components/change-product-evaluation.html.twig')}}
        </div>

        {% if product.getSimilarProducts | length > 0 %}
          <div class="similar_products d-flex flex-column p-2 pl-lg-5 pr-lg-5">
            <div class="similar_products__show_button">
              <button class="conceptos-primary-button">Otras variantes
                <img src="{{ asset('bundles/conceptos/images/arrow.svg') }}" alt="">
              </button>
            </div>
          </div>
        {% endif %}

        <div class="d-flex flex-column p-2 pl-lg-5 pr-lg-5 pb-lg-3">
          <span class="conceptos-title">DETALLES DEL PRODUCTO</span>
          <span class="conceptos-subtitle">CÓDIGO: {{product.code}}</span>
          {% if product.inStore and product.storeCount and product.storeCount > 0 %}
            <span class="conceptos-subtitle">
              Disponibles en almacén: {{product.storeCount}}
            </span>
          {% endif %}
          <span class="conceptos-subtitle">COLOR: {{product.color}}</span>
          <span class="conceptos-subtitle">MATERIAL: {{product.material}}</span>
          <span class="conceptos-subtitle">{{product.description}}</span>
          <button class="conceptos-add-to-cart-icon conceptos-add-to-cart-icon-big pl-0 mt-3 d-none d-lg-flex" data-path="{{ path('add_shop_card', {id: product.id}) }}">
            <img src="{{ asset('bundles/conceptos/images/home/cart.png') }}">
          </button>
        </div>
        {% if comboChunks is not empty %}
          <div class="d-flex flex-column p-2 pl-lg-5 pr-lg-5 pb-lg-3 mb-2">
            <span class="conceptos-title">PRODUCTOS QUE LO COMPONEN</span>
            <div class="d-flex flex-wrap">
              <div class="w-100 carousel" data-ride="carousel" id="carousel-combo-products" data-interval="10000">
                <ol class="carousel-indicators">
                  {% for chunk in comboChunks %}
                    <li data-target="#carousel-combo-products"
                        class="{% if loop.first %}active{% endif %}"
                        data-slide-to="{{ loop.index - 1 }}"></li>
                  {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for chunk in comboChunks %}
                      <div class="container-fluid carousel-item p-0 mb-2 {% if loop.first %}active{% endif %}">
                        <div class="d-flex flex-wrap justify-content-center w-100">
                          {% for comboProduct in chunk %}
                            {% set product = comboProduct.product %}
                            <div class="d-flex col-4 pl-0">
                              {{include('site/combo-summary-short.html.twig')}}
                            </div>
                          {% endfor %}
                        </div>
                      </div>
                    {% endfor %}
                </div>
              </div>
            </div>
          </div>
        {% endif %}
        {% if complementaryProducts is not empty %}
          {% set mainProduct = product %}
          {% set totalPrice = 0 %}
          <div class="d-flex flex-column p-2 pl-lg-5 pr-lg-5 pb-lg-3 mb-2">
            <span class="conceptos-title">PRODUCTOS COMPLEMENTARIOS</span>
            <div class="d-flex flex-column conceptos-gray-background p-2 pl-3">
              <div class="d-flex justify-content-center w-100">
                <div class="d-flex conceptos-add-horizontal-scroll">
                  {% for complementaryProduct in complementaryProducts %}
                    {% set product = complementaryProduct.product %}
                    {% if product.priceOffer != -1 %}
                      {% set totalPrice = totalPrice + product.priceOffer %}
                    {% else %}
                      {% set totalPrice = totalPrice + product.price %}
                    {% endif %}
                    <div class="d-flex col-4 pl-0">
                      {{include('site/combo-summary-short.html.twig')}}
                    </div>
                    <div class="d-flex col-1 justify-content-center align-items-center pl-0">
                      +
                    </div>
                  {% endfor %}
                  {% set product = mainProduct %}
                  {% if product.priceOffer != -1 %}
                      {% set totalPrice = totalPrice + product.priceOffer %}
                    {% else %}
                      {% set totalPrice = totalPrice + product.price %}
                    {% endif %}
                  <div class="d-flex col-4 pl-0">
                    {{include('site/combo-summary-short.html.twig')}}
                  </div>
                </div>
                <div class="d-flex col-2 col-lg-1 justify-content-center align-items-center pl-0">
                  = {{ totalPrice }}
                </div>
              </div>
              <div class="d-flex justify-content-center">
                <button class="conceptos-add-to-cart-icon conceptos-add-to-cart-icon pl-0 mt-3" data-path="{{ path('add_shop_card', {id: product.id, complementary: true}) }}">
                  <img src="{{ asset('bundles/conceptos/images/home/cart.png') }}">
                </button>
              </div>
            </div>
          </div>
        {% endif %}

      </div>
      {{ include('site/components/products/similar_products.html.twig') }}
    </div>

    <div class="d-flex flex-column mt-3">
      <span class="conceptos-title">PRODUCTOS RELACIONADOS</span>
      {% set sizes = '(min-width: 1000px) 12vw, 45vw' %}
      <div class="d-flex flex-wrap">
        {% for product in related %}
          <div class="d-flex col-6 col-lg-2 pl-0">
            {% set sizes = '(min-width: 1000px) 12vw, 50vw' %}
            {{include('site/product-summary-short.html.twig')}}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
{% block js %}
  <script src="{{ asset('bundles/conceptos/products/js/product-details.js') }}"></script>
  <script src="{{ asset('bundles/conceptos/14ndy15/scripts/product.js') }}"></script>
{% endblock %}
