{% for product in shopCartProducts %}
  <div class="d-flex shop-cart-product p-2 {% if loop.index > 1 %}mt-2{% endif %}"
      data-product="{{product.id}}"
      data-uuid="{{ product.uuid }}"
      data-calculate-price-path="{{ path('calculate_product_price') }}"
      data-remove-path="{{ path('remove_from_cart_shop', {id: product.id}) }}">
    {% if product.type is defined %}
      {% set imagePath = membership.data.giftCardSection.giftCard15Image.path %}
      {% set productName = "TARJETA DE REGALO" %}
      {% set productPrice = product.price %}
      {% if product.price == 25 %}
          {% set imagePath = membership.data.giftCardSection.giftCard25Image.path %}
      {% elseif product.price == 50 %}
          {% set imagePath = membership.data.giftCardSection.giftCard50Image.path %}
      {% elseif product.price == 100 %}
          {% set imagePath = membership.data.giftCardSection.giftCard100Image.path %}
      {% endif %}
    {% else %}
      {% set imagePath = vich_uploader_asset(product.image, 'imageFile') %}
      {% set productName = product.name %}
      {% set productPrice = product.price %}
    {% endif %}
    <div class="d-flex col-5 conceptos-white-background justify-content-center align-items-center p-2">
      <img class="conceptos-image conceptos-product-summary-image" src="{{imagePath}}" alt="{{productName}}">
    </div>
    <div class="d-flex flex-column col-7 pl-2">
      <div class="d-flex flex-column">
        <span class="conceptos-product-info">{{productName}}</span>
        <span class="conceptos-product-info" data-price="{{productPrice}}">${{productPrice}}.00</span>
      </div>
      <div class="d-flex flex-column justify-content-center h-100">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <button type="button" class="cart-quantity-up" src="{{ asset('bundles/conceptos/images/cart/plus.png') }}"></button>
            <button type="button" class="cart-quantity-down ml-1" src="{{ asset('bundles/conceptos/images/cart/minus.png') }}"></button>
            <input type="number" class="conceptos-product-info cart-quantity-input ml-2" data-quantity="{{product.count}}" value="{{product.count}}">
          </div>
          <button type="button" class="shop-cart-trash mr-1"></button>
        </div>
        <div class="d-flex align-items-center mt-1">
          <span class="conceptos-product-info delivery-text">ENVÍO:</span>
          <button type="button" class="conceptos-icon airplane-delivery ml-2"></button>
          <button type="button" class="conceptos-icon ship-delivery ml-1"></button>
          <span class="conceptos-in-store-product-badge" style="display: none;">ALMACÉN</span>
          <span class="conceptos-offer-product-badge" style="display: none;">OFERTA</span>
        </div>
      </div>
    </div>
  </div>
{% else %}
  <div class="d-flex justify-content-center">
    <span class="conceptos-title m-4">SIN PRODUCTOS EN EL CARRITO</span>
  </div>
{% endfor %}
