{% extends ':site:base.html.twig' %}
{% block title %}
    {% if product %}
        Detalles del producto - {{ product.item }}
    {% else %}
        Producto no encontrado
    {% endif %}
{% endblock %}

{% block meta %}
    {% if product %}
        <link rel="canonical" href="{{ absolute_url(path('product_details', {id: product.id, name: product.name})) }}"/>

        {#TODO: faltan las imagenes en otra dimensiones #}
        <script type="application/ld+json">
        {
            "@context": "http://schema.org/",
            "@type": "Product",
                "name": "{{ product.name }}",
            "image": [
                {% for imageSet in imageSets | first %}
                  {% for image in imageSet | first %}
                  "{{ absolute_url(vich_uploader_asset(image, 'imageFile') ) }}"
                  {% endfor %}
                {% endfor %}
{#            "{{ absolute_url(asset(transfer.getWebPath("full-1x1"))) }}",#}
{#            "{{ absolute_url(asset(transfer.getWebPath("full-4x3"))) }}",#}
{#            "{{ absolute_url(asset(transfer.getWebPath("full-16x9"))) }}"#}
            ],
            "description": "{{product.description}}",
            "mpn": "",
            "brand": {
                "@type": "Thing",
                "name": "Tienda Conceptos"
            },
            "offers": {
                "@type": "Offer",
                "priceCurrency": "USD",
                "price": "{{ product.price }}",
                "priceValidUntil": "2020-12-31",
                "itemCondition": "http://schema.org/UsedCondition",
                "availability": "http://schema.org/InStock",
                "seller": {
                    "@type": "Organization",
                    "name": "Tienda Conceptos"
                    }
                }
        }
        </script>

    {% endif %}
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ asset('bundles/conceptos/products/css/product-details.css') }}">
  <link rel="stylesheet" href="{{ asset('bundles/conceptos/products/css/products.css') }}">
{% endblock %}
{% block body %}

  <div class="d-flex flex-column m-2 p-2 pt-lg-3 pl-lg-5 pr-lg-5">
    <div class="d-flex flex-wrap conceptos-white-background">
      <div class="d-flex col-12 col-lg-6 carousel pl-0 pt-lg-3 pb-lg-2 pl-lg-5 pr-lg-5 pt-2" data-ride="carousel" id="carousel-product-details" data-interval="5000">
        <div class="carousel-inner pl-lg-5 pr-lg-5">
          {% if app.user|default %}
            <span data-path-add="{{ path('add_to_favorite', {id: product.id}) }}"
              data-path-remove="{{ path('remove_from_favorite', {id: product.id}) }}"
              class="favorite-product {% if product.favorite %}favorite{% endif %}">
              <i class="fa fa-heart favorite-icon-big"></i>
            </span>
          {% endif %}
          {% set count = 0 %}
          {% for imageSet in imageSets %}
            {% for image in imageSet %}
              <div class="carousel-item {% if count == 0 %}active{% endif %} pl-lg-5 pr-lg-5">
                <div class="d-flex justify-content-center w-100">
                  <img class="image-viewer" src="{{ vich_uploader_asset(image, 'imageFile') }}">
                </div>
              </div>
              {% set count = count + 1 %}
            {% endfor %}
          {% endfor %}
        </div>
        {% if count > 1 %}
          <div class="d-flex">
            <a class="carousel-control carousel-control-prev ml-lg-5" role="button" data-slide="prev" href="#carousel-product-details">
              <span aria-hidden="true" class="mbri-left mbr-iconfont"></span>
            </a>
            <a class="carousel-control carousel-control-next mr-lg-5" role="button" data-slide="next" href="#carousel-product-details">
              <span aria-hidden="true" class="mbri-right mbr-iconfont"></span>
            </a>
          </div>
        {% endif %}
      </div>
      <div class="d-flex col-12 col-lg-6 flex-column pl-0 pt-lg-3">
        <div class="d-flex flex-column p-2 pl-lg-5 pr-lg-5">
          <span class="conceptos-title-strong">{{product.name}}</span>
          <span class="conceptos-subtitle">{{product.item}}</span>
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              {% if product.priceOffer != -1 %}
                <span class="conceptos-product-info conceptos-product-price-big mr-2">${{product.priceOffer}}</span>
                <span class="conceptos-product-info conceptos-offer-price">$&nbsp;{{product.price}}</span>
              {% else %}
                <span class="conceptos-product-info conceptos-product-price-big">$&nbsp;{{product.price}}</span>
              {% endif %}
            </div>
            <button class="conceptos-add-to-cart-icon conceptos-add-to-cart-icon-big d-lg-none" data-path="{{ path('add_shop_card', {id: product.id}) }}">
              <img src="{{ asset('bundles/conceptos/images/home/cart.png') }}">
            </button>
          </div>
          <div class="d-flex justify-content-start align-items-center mt-1">
            <div class="d-flex flex-column">
              {% if product.inStore %}
                <span class="conceptos-in-store-product-badge">ALMACÉN</span>
              {% endif %}
              {% if product.recent %}
                <span class="conceptos-new-product-badge">NUEVO</span>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="d-flex pl-2 pl-lg-5">
          {{include('site/components/change-product-evaluation.html.twig')}}
        </div>
        <div class="d-flex flex-column p-2 pl-lg-5 pr-lg-5 pb-lg-3">
          <span class="conceptos-title">DETALLES DEL PRODUCTO</span>
          <span class="conceptos-subtitle">CÓDIGO: {{product.code}}</span>
          {% if product.inStore and product.storeCount and product.storeCount > 0 %}
            <span class="conceptos-subtitle">
              Disponibles en almacén: {{product.storeCount}}
            </span>
          {% endif %}
          <span class="conceptos-subtitle">COLOR: {{product.color}}</span>
          <span class="conceptos-subtitle">MATERIAL: {{product.material}}</span>
          <span class="conceptos-subtitle">{{product.description}}</span>
          <button class="conceptos-add-to-cart-icon conceptos-add-to-cart-icon-big pl-0 mt-3 d-none d-lg-flex" data-path="{{ path('add_shop_card', {id: product.id}) }}">
            <img src="{{ asset('bundles/conceptos/images/home/cart.png') }}">
          </button>
        </div>
        {% if product.comboProducts %}
        <div class="d-flex flex-column p-2 pl-lg-5 pr-lg-5 pb-lg-3">
          <span class="conceptos-title">PRODUCTOS QUE LO COMPONEN</span>
          <div class="d-flex flex-wrap">
            {% for comboProduct in product.comboProducts %}
              {% set product = comboProduct.product %}
              <div class="d-flex col-6 col-lg-2 pl-0">
                {{include('site/product-summary-short.html.twig')}}
              </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="d-flex flex-column mt-3">
      <span class="conceptos-title">PRODUCTOS RELACIONADOS</span>
      <div class="d-flex flex-wrap">
        {% for product in related %}
          <div class="d-flex col-6 col-lg-2 pl-0">
            {{include('site/product-summary-short.html.twig')}}
          </div>
        {% endfor %}
      </div>
    </div>
      {% else %}
          <h1>Producto no encontrado</h1>
      {% endif %}
  </div>
{% endblock %}
{% block js %}
  <script src="{{ asset('bundles/conceptos/products/js/product-details.js') }}"></script>
{% endblock %}
