{% extends ':site:base.html.twig' %}
{% block title %}Detalles del producto - {{ product.item }}{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ asset('bundles/conceptos/products/css/product-details.css') }}">
  <link rel="stylesheet" href="{{ asset('bundles/conceptos/products/css/products.css') }}">
{% endblock %}
{% block body %}
  <div class="d-flex flex-column m-2 m-lg-5 p-2 p-lg-5">
    <div class="d-flex flex-column conceptos-white-background">
      <div class="carousel" data-ride="carousel" id="carousel-product-details" data-interval="5000">
        <div class="carousel-inner">
          {% set count = 0 %}
          {% for imageSet in imageSets %}
            {% for image in imageSet %}
              <div class="carousel-item {% if count == 0 %}active{% endif %}">
                <img class="conceptos-image" src="{{ vich_uploader_asset(image, 'imageFile') }}">
              </div>
              {% set count = count + 1 %}
            {% endfor %}
          {% endfor %}
        </div>
        {% if count > 1 %}
          <div class="d-flex">
            <a class="carousel-control carousel-control-prev" role="button" data-slide="prev" href="#carousel-product-details">
              <span aria-hidden="true" class="mbri-left mbr-iconfont"></span>
            </a>
            <a class="carousel-control carousel-control-next" role="button" data-slide="next" href="#carousel-product-details">
              <span aria-hidden="true" class="mbri-right mbr-iconfont"></span>
            </a>
          </div>
        {% endif %}
      </div>
      <div class="d-flex flex-column p-2">
        {% set priceOffer = -1 %}
        {% set offerId = 'false' %}
        {% set onlyForMembers = false %}
        {% for offer in product.offers %}
          {% if offer.startDate <= currentDate and offer.endDate >= currentDate %}
            {% set priceOffer = offer.price %}
            {% set offerId = offer.id %}
            {% if offer.onlyForMembers %}
              {% set onlyForMembers = true %}
            {% endif %}
          {% endif %}
        {% endfor %}
        {% if priceOffer == -1 %}
          {% for category in product.categories %}
            {% if (category.offers[0] is defined) and ((not category.offers[0].onlyInStoreProducts) or (category.offers[0].onlyInStoreProducts and product.inStore)) %}
              {% set priceOffer = (product.price * (1 - category.offers[0].price / 100))|round(0, 'ceil') %}
            {% else %}
              {% for parentCategory in category.parents %}
                {% if (parentCategory.offers[0] is defined) and ((not parentCategory.offers[0].onlyInStoreProducts) or (parentCategory.offers[0].onlyInStoreProducts and product.inStore)) %}
                  {% set priceOffer = (product.price * (1 - parentCategory.offers[0].price / 100))|round(0, 'ceil') %}
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        {% endif %}
        <span class="conceptos-title-strong">{{product.name}}</span>
        <span class="conceptos-subtitle">{{product.item}}</span>
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex">
            {% if priceOffer != -1 %}
              <span class="conceptos-product-info conceptos-product-price-big mr-2">${{priceOffer}}</span>
              <span class="conceptos-product-info conceptos-offer-price">$&nbsp;{{product.price}}</span>
            {% else %}
              <span class="conceptos-product-info conceptos-product-price-big">$&nbsp;{{product.price}}</span>
            {% endif %}
          </div>
          <button class="conceptos-add-to-cart-icon conceptos-add-to-cart-icon-big" data-path="{{ path('add_shop_card', {id: product.id}) }}">
            <img src="{{ asset('bundles/conceptos/images/home/cart.png') }}">
          </button>
        </div>
        <div class="d-flex justify-content-start align-items-center mt-1">
          <div class="d-flex flex-column">
            {% if product.inStore %}
              <span class="conceptos-in-store-product-badge">ALMACÉN</span>
            {% endif %}
            {% if product.recent %}
              <span class="conceptos-new-product-badge">NUEVO</span>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="d-flex flex-column p-2">
        <span class="conceptos-title">DETALLES DEL PRODUCTO</span>
        <span class="conceptos-subtitle">CÓDIGO: {{product.code}}</span>
        <span class="conceptos-subtitle">
          Disponibles en almacén: {% if product.storeCount %}{{product.storeCount}}{% else %}0{% endif %}
        </span>
      <span class="conceptos-subtitle">COLOR: {{product.color}}</span>
      <span class="conceptos-subtitle">MATERIAL: {{product.material}}</span>
      <span class="conceptos-subtitle">{{product.description}}</span>

      </div>
    </div>
    <div class="d-flex flex-column mt-3">
      <span class="conceptos-title">PRODUCTOS RELACIONADOS</span>
      <div class="d-flex flex-wrap">
        {% for product in related %}
          {{include('site/components/product-summary.html.twig')}}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
{% block js %}
  <script src="{{ asset('bundles/conceptos/products/js/product-details.js') }}"></script>
{% endblock %}
