{% extends ':site:base.html.twig' %}
{% block title %}Productos{% endblock %}
{% block css %}
    <link href="{{ asset('bundles/conceptos/products/css/price-range.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/conceptos/libs/select2/css/select2.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/conceptos/libs/select2/css/select2-bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('bundles/conceptos/home/css/component.css') }}">
    <link href="{{ asset('bundles/conceptos/products/css/products.css') }}" type="text/css" rel="stylesheet">
{% endblock %}
{% block body %}
  <form action="{{ path('products') }}" method="get">
    <input type="hidden" value="{{ app.request.query.get('term') }}" id="term" name="term">
    <input type="hidden" value="{{ app.request.query.get('inOffer', -1) }}" id="inOffer" name="inOffer">
    <input type="hidden" value="{{ app.request.query.get('recent', -1) }}" id="recent" name="recent">
    <input type="hidden" value="{{ app.request.query.get('inStore', -1) }}" id="inStore" name="inStore">
    <input type="hidden" value="{{ app.request.query.get('categories') }}" id="categories" name="categories">
    <input type="hidden" value="{{ app.request.query.get('color') }}" id="color">
    <input type="hidden" value="{{ app.request.query.get('material') }}" id="material">

    <div id="giftCardsModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="d-flex flex-wrap">
              <div class="col-6 p-1">
                <div class="d-flex justify-content-center">
                  <a class="conceptos-add-gift-card-to-cart-button" data-path="{{path('add_shop_card', {id: "target15"})}}">
                    <img class="gift-card-img" src="{{membership.data.giftCardSection.giftCard15Image.path}}">
                  </a>
                </div>
              </div>
              <div class="col-6 p-1">
                <div class="d-flex justify-content-center">
                  <a class="conceptos-add-gift-card-to-cart-button" data-path="{{path('add_shop_card', {id: "target25"})}}">
                    <img class="gift-card-img" src="{{membership.data.giftCardSection.giftCard25Image.path}}">
                  </a>
                </div>
              </div>
              <div class="col-6 p-1">
                <div class="d-flex justify-content-center">
                  <a class="conceptos-add-gift-card-to-cart-button" data-path="{{path('add_shop_card', {id: "target50"})}}">
                    <img class="gift-card-img" src="{{membership.data.giftCardSection.giftCard50Image.path}}">
                  </a>
                </div>
              </div>
              <div class="col-6 p-1">
                <div class="d-flex justify-content-center">
                  <a class="conceptos-add-gift-card-to-cart-button" data-path="{{path('add_shop_card', {id: "target100"})}}">
                    <img class="gift-card-img" src="{{membership.data.giftCardSection.giftCard100Image.path}}">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="conceptos-primary-button" data-dismiss="modal">Aceptar</button>
          </div>
        </div>
      </div>
    </div>

    <div id="filterProductsModal" class="modal fade">
      <div class="modal-dialog modal-lg mt-0">
        <div class="modal-content">
          <div class="modal-body">
            <div class="d-flex flex-column p-2">
              <span class="conceptos-title-strong mb-2">FILTROS</span>
              <div class="d-flex flex-column conceptos-white-background p-2">
                <span class="conceptos-title-strong">PRECIO</span>
                <div class="d-flex justify-content-between">
                  <div class="d-flex align-items-center">
                    <label class="conceptos-subtitle m-0 mr-2" for="priceMin">MIN</label>
                    <input type="number" min="0" name="priceMin"
                           {% if app.request.query.get('priceMin') is not null %}value="{{ app.request.query.get('priceMin') }}"{% endif %}>
                  </div>
                  <div class="d-flex align-items-center">
                    <label class="conceptos-subtitle m-0 mr-2" for="priceMax">MAX</label>
                    <input type="number" min="0" name="priceMax"
                           {% if app.request.query.get('priceMax') is not null %}value="{{ app.request.query.get('priceMax') }}" {% endif %}>
                  </div>
                </div>
                <div class="d-flex flex-column mt-2">
                  <label class="conceptos-title-strong m-0 mr-2" for="color">COLOR</label>
                  <select name="color">
                    <option value="-1">Todos</option>
                    {% for color in colors %}
                      {% set selectedColor = app.request.query.get('color', -1) %}
                      <option value="{{color.id}}"
                              {% if selectedColor != -1 and selectedColor == color.id %}selected{% endif %}>
                        {{color.name}}
                      </option>
                    {% endfor %}
                  </select>
                </div>
                <div class="d-flex flex-column mt-2">
                  <label class="conceptos-title-strong m-0 mr-2" for="material">MATERIAL</label>
                  <select name="material">
                    <option value="-1">Todos</option>
                    {% for material in materials %}
                      {% set selectedMaterial = app.request.query.get('material', -1) %}
                      <option value="{{material.id}}"
                              {% if selectedMaterial != -1 and selectedMaterial == material.id %}selected{% endif %}>
                        {{material.name}}
                      </option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <button id="filter-products-button" class="conceptos-primary-button mt-2" type="submit">
                <span>BUSCAR</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% if inOfferHeader %}
      {% set image = page.data.inOfferImage.path %}
    {% elseif inStoreHeader %}
      {% set image = page.data.inStoreImage.path %}
    {% elseif recentHeader %}
      {% set image = page.data.newImage.path %}
    {% elseif generalHeader %}
      {% set image = page.data.generalImage.path %}
    {% elseif not mainSubcategory %}
      {% set image = vich_uploader_asset(mainCategory, 'imageSiteFile') %}
    {% else %}
      {% set image = vich_uploader_asset(mainSubcategory, 'imageSiteFile') %}
    {% endif%}
    <div>
      <img class="conceptos-image conceptos-header-image" src="{{ image }}">
    </div>

    <div class="d-flex flex-column">
      <div class="d-flex align-self-end conceptos-gift-card-section p-1 mr-2" data-toggle="modal" data-target="#giftCardsModal">
        <div class="d-flex align-items-center">
          <span class="conceptos-title pt-1 pb-1 ml-2">TARJETAS DE REGALO</span>
          <img class="conceptos-icon ml-2 mr-2" src="{{ asset('bundles/conceptos/images/home/forward.png') }}">
        </div>
      </div>
      <div class="d-flex justify-content-between align-items-center ml-2 mr-2 mt-3 mb-3">
        <div class="d-flex flex-column ml-lg-5">
          {% if mainCategory %}
            {% set subCategories = '' %}
            {% for subCategory in mainCategory.subCategories %}
                {% set subCategories = subCategory.id ~ ', '~ subCategories %}
            {% endfor %}
            <span>
              <span><a class="conceptos-title-strong" href="{{ path('products') }}">PRODUCTOS</a></span>
              <a class="conceptos-title" href="{{ path('products', {categories:subCategories}) }}">/ {{mainCategory.name}}</a>
            </span>
          {% else %}
            <span>
              <span><a class="conceptos-title-strong" href="{{ path('products') }}">PRODUCTOS</a></span>
              <a class="conceptos-title" href="{{ path('products') }}">/ TODOS</a>
            </spa>
          {% endif %}
          {% if mainSubcategory %}
            <span class="conceptos-title mt-1">{{mainSubcategory.name}}</span>
          {% endif %}
        </div>
        <div class="d-flex" data-toggle="modal" data-target="#filterProductsModal">
          <img class="conceptos-icon" src="{{ asset('bundles/conceptos/images/products/filter.png') }}">
        </div>
      </div>
      <div class="d-flex pl-lg-5 pr-lg-5">
        <div class="d-none d-lg-flex pr-5">
          {{include('site/categories-menu.html.twig')}}
        </div>
        <div class="d-flex flex-wrap">
          {% for product in products %}
            {{include('site/components/product-summary.html.twig')}}
          {% else %}
            <span class="conceptos-title-strong conceptos-text-align-center">NO EXISTEN PRODUCTOS CON LOS PARÁMETROS SELECCIONADOS</span>
          {% endfor %}
        </div>
      </div>
    </div>

    {% if products is not empty and countProducts > 50 %}
      <input type="hidden" value="{{ app.request.query.get('page', 1) }}" id="page" name="page">
      <div class="product-paginator mt-3">
        {% set pageP = app.request.query.get('page', -1) %}
        <div class="d-flex justify-content-center align-items-center">
          <button class="conceptos-primary-button pagination-prev mr-3" type="submit" {% if pageP <= 1 %}disabled="disabled"{% endif %}>
            Anterior
          </button>
          <button class="conceptos-primary-button pagination-next ml-3" type="submit" {% if products | length < 48 %}disabled="disabled"{% endif %}>
            Siguiente
          </button>
        </div>
      </div>
    {% endif %}
  </form>
{% endblock %}
{% block js %}
  <script src="{{ asset('bundles/conceptos/products/js/price-range.js') }}"></script>
  <script src="{{ asset('bundles/easyadmin/javascript/select2.full.min.js') }}"></script>
  <script src="{{ asset('bundles/conceptos/libs/select2/js/i18n/es.js') }}"></script>
  <script src="{{ asset('bundles/conceptos/libs/slimscroll/jquery.slimscroll.min.js') }}"></script>
  <script src="{{ asset('bundles/conceptos/home/js/classie.js') }}"></script>
  <script src="{{ asset('bundles/conceptos/products/js/products.js') }}"></script>
  <script>
    $(document).ready(function() {
      if (window.screen.width > 992) {
        document.getElementById("open-categories-menu").remove()
        document.getElementById("categories-menu").remove()
      }
    });
  </script>
{% endblock %}
