<img class="conceptos-image conceptos-header-image mt-2 mt-lg-0" src="{{ page.data.header.image.path }}">
<span class="conceptos-title-strong mt-3">MEMBRESÍA</span>
<span class="conceptos-subtitle">{{ page.data.header.bottomText }}</span>
<div class="d-flex flex-column w-100 mt-3">
  {{ form_start(form, {'attr': {'class': 'd-flex flex-column', 'action': path('request_membership')}}) }}
    <div class="d-flex flex-column">
      <span class="conceptos-subtitle">Nombre</span>
      {{ form_widget(form.firstName, {'attr': {'class': 'membership-field'}}) }}
    </div>
    <div class="d-flex flex-column">
      <span class="conceptos-subtitle mt-2">Apellidos</span>
      {{ form_widget(form.lastName, {'attr': {'class': 'membership-field'}}) }}
    </div>
    <div class="d-flex flex-column">
      <span class="conceptos-subtitle mt-2">Correo</span>
      {{ form_widget(form.email, {'attr': {'class': 'membership-field'}}) }}
    </div>
    <div class="d-flex flex-column">
      <span class="conceptos-subtitle mt-2">Teléfono</span>
      {{ form_widget(form.phone, {'attr': {'class': 'membership-field'}}) }}
    </div>
    <div class="d-flex flex-column">
      <span class="conceptos-subtitle mt-2">Dirección</span>
      {{ form_widget(form.address, {'attr': {'class': 'membership-field'}}) }}
    </div>

    <div class="d-flex justify-content-start">
      <button id="request-membership-button" type="submit" class="conceptos-primary-button mt-2 pl-4 pr-4" href="">
        <span>SOLICITAR</span>
      </button>
    </div>
    <img class="conceptos-image conceptos-section-image mt-2" src="{{ page.data.header.advertisementImage.path }}">
  {{ form_end(form) }}
</div>
