{% extends ':site:base.html.twig' %}
{% block title %}Solicitud de Servicio{% endblock %}

{% block body %}
  <section id="request-service-section" class="mt-2" style="background-image: url('{{ home.data.contact.image.path }}')">
    <div class="container">
      <div class="row justify-content-center">
        <div class="media-container-column col-lg-8 pl-2 pr-2" data-form-type="formoid">
          <div data-form-alert="" hidden="">
            Gracias por contactarnos, pronto nos pondremos en contacto con usted
          </div>
          {{ form_start(form, {'attr': {'data-form-title': 'Conceptos Formulario de Contacto', 'action': path('request_service')}}) }}
          <div class="d-flex flex-column">
            <span class="conceptos-title-strong">SOLICITAR SERVICIO</span>
            {{ form_widget(form.name, {'attr': {'class': 'mt-2', 'data-form-field': 'Nombre', 'placeholder': 'Nombre'}}) }}
            {{ form_widget(form.phone, {'attr': {'class': 'mt-2', 'data-form-field': 'Teléfono', 'placeholder': 'Teléfono'}}) }}
            {{ form_widget(form.email, {'attr': {'class': 'mt-2', 'data-form-field':'Correo', 'placeholder': 'Correo'}}) }}
            {{ form_widget(form.text, {'attr': {'class': 'mt-2', 'data-form-field': 'Mensaje', 'rows':'7', 'placeholder': 'Mensaje'}}) }}
            <button id="send-mail-button" type="submit" class="conceptos-primary-button align-self-start mt-2">ENVIAR</button>
          </div>
          {{ form_end(form) }}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block contact %}
{% endblock %}
