<span class="conceptos-title mt-2 mb-3">MEMBRESÍA</span>
<div class="d-flex flex-column w-100">
  {{ form_start(form, {'attr': {'class': 'd-flex flex-column', 'action': path('request_membership')}}) }}
    <div class="d-flex">
      {{ form_widget(form.firstName, {'attr': {'class': 'form-control membership-field', 'placeholder': 'Nombre'}}) }}
    </div>
    <div class="d-flex">
      {{ form_widget(form.lastName, {'attr': {'class': 'form-control membership-field mt-2', 'placeholder': 'Apellidos'}}) }}
    </div>
    <div class="d-flex">
      {{ form_widget(form.email, {'attr': {'class': 'form-control membership-field mt-2', 'placeholder': 'Correo'}}) }}
    </div>
    <div class="d-flex">
      {{ form_widget(form.phone, {'attr': {'class': 'form-control membership-field mt-2', 'placeholder': 'Teléfono'}}) }}
    </div>
    <div class="d-flex">
      {{ form_widget(form.address, {'attr': {'class': 'form-control membership-field mt-2', 'placeholder': 'Dirección'}}) }}
    </div>
    <span class="conceptos-title mt-3">HEUNKHOS GEOR FFFIPEP</span>
    <span class="conceptos-subtitle">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</span>
    <img class="conceptos-image mt-2" src="{{ home.data.services.image.path }}">
    <div class="d-flex justify-content-start">
      <button id="request-membership-button" type="submit" class="conceptos-primary-button mt-2 pl-4 pr-4" href="">
        <span>SOLICITAR</span>
      </button>
    </div>
  {{ form_end(form) }}
</div>
