{% extends ':site:base.html.twig' %}
{% block title %}Servicios{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ asset('bundles/conceptos/services/services.css') }}" type="text/css">
{% endblock %}
{% block body %}
  <div class="d-flex flex-column">
    <img class="conceptos-image conceptos-header-image" src="{{ services.data.services.header.image.path }}">
    <span class="conceptos-title-strong p-3 pl-lg-5">SERVICIOS</span>
    <div id="conceptos-services-badge" class="d-flex conceptos-badge pl-3 pr-3 pt-2 pb-2">
      <div class="d-flex justify-content-center align-items-center w-100">
        <button class="conceptos-primary-button-badge conceptos-primary-button-badge-focused services-inward-button">
          <span class="pl-2 pr-2 w-100">INTERIORISMO</span>
        </button>
        <img class="conceptos-icon m-2" src="{{ asset('bundles/conceptos/images/home/arrows.png') }}">
        <button class="conceptos-primary-button-badge services-obras-button pl-4 pr-4">
          <span class="pl-2 pr-2 w-100">OBRAS</span>
        </button>
      </div>
    </div>
    <div class="d-flex flex-column services-inward-info">
      <div class="d-flex flex-column p-3 pl-lg-5 pr-lg-5">
        <span class="conceptos-title">{{inward.data.services.designersTeam.title}}</span>
        <span class="conceptos-subtitle">{{inward.data.services.designersTeam.description}}</span>
        <select id="service-select" class="conceptos-white-select mt-2 align-self-start">
          <option value="none">Seleccione un servicio para ver detalles</option>
          {% for service in inward.data.services.designersTeam.services %}
            <option value="{{service.title}}"
                    data-path="{{ path('service_details', {serviceTitle: service.title, pageName: 'inward'}) }}">
              {{service.title}}
            </option>
          {% endfor %}
        </select>
      </div>
      <div class="d-flex conceptos-badge p-3">
        <span class="conceptos-badge-text">OBRAS REALIZADAS</span>
      </div>
      <div class="d-flex flex-column pl-3 pr-3 pl-lg-5 pr-lg-5 pb-3">
        {% for image in inward.data.services.projects.projects %}
        <a class="d-flex flex-column" href="{{ path('project_details', {projectTitle: image.title}) }}">
          <span class="conceptos-title-strong mt-3">{{image.title}}</span>
          <img class="conceptos-project-image mt-2" src="{{image.path}}">
        </a>
        {% endfor %}
      </div>
    </div>
    <div class="d-none flex-column services-obras-info">
      <div class="d-flex flex-column p-3 pl-lg-5 pr-lg-5">
        <span class="conceptos-title">{{services.data.services.designersTeam.title}}</span>
        <span class="conceptos-subtitle">{{services.data.services.designersTeam.description}}</span>
        <select id="obras-select" class="conceptos-white-select mt-2 align-self-start">
          <option value="none">Seleccione un servicio para ver detalles</option>
          {% for service in services.data.services.designersTeam.services %}
            <option value="{{service.title}}"
                    data-path="{{ path('service_details', {serviceTitle: service.title, pageName: 'services'}) }}">
              {{service.title}}
            </option>
          {% endfor %}
        </select>
      </div>
      <div class="d-flex conceptos-badge p-3">
        <span class="conceptos-badge-text">SERVICIOS REALIZADOS</span>
      </div>
      <div class="d-flex flex-column pl-3 pr-3 pl-lg-5 pr-lg-5 pb-3">
        {% for image in services.data.services.projects.projects %}
        <a class="d-flex flex-column" href="{{ path('project_details', {projectTitle: image.title}) }}">
          <span class="conceptos-title-strong mt-3">{{image.title}}</span>
          <img class="conceptos-project-image mt-2" src="{{image.path}}">
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
{% block js %}
  <script src="{{ asset('bundles/conceptos/services/services.js') }}"></script>
{% endblock %}
