{% extends ':site:base.html.twig' %}
{% block title %}Detalles del Servicio - {{ service.title }}{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ asset('bundles/conceptos/products/css/product-details.css') }}">
  <link rel="stylesheet" href="{{ asset('bundles/conceptos/products/css/products.css') }}">
{% endblock %}
{% block body %}
  <div class="d-flex flex-column m-2 p-2 pt-lg-3 pl-lg-5 pr-lg-5">
    <div class="d-flex flex-wrap conceptos-white-background p-2">
      <div class="d-flex col-12 col-lg-6 carousel pl-0 pt-lg-3 pb-lg-2 pl-lg-5 pr-lg-5 pt-2" data-ride="carousel" id="carousel-product-details" data-interval="5000">
        <div class="carousel-inner pl-lg-5 pr-lg-5">
          {% set count = 0 %}
          {% for imageSet in imageSets %}
            {% for image in imageSet %}
              <div class="carousel-item {% if count == 0 %}active{% endif %} pl-lg-5 pr-lg-5">
                <div class="d-flex justify-content-center w-100">
                  <img class="image-viewer" src="{{ image.path }}">
                </div>
              </div>
              {% set count = count + 1 %}
            {% endfor %}
          {% endfor %}
        </div>
        {% if count > 1 %}
          <div class="d-flex">
            <a class="carousel-control carousel-control-prev ml-lg-5" role="button" data-slide="prev" href="#carousel-product-details">
              <span aria-hidden="true" class="mbri-left mbr-iconfont"></span>
            </a>
            <a class="carousel-control carousel-control-next mr-lg-5" role="button" data-slide="next" href="#carousel-product-details">
              <span aria-hidden="true" class="mbri-right mbr-iconfont"></span>
            </a>
          </div>
        {% endif %}
      </div>
      <div class="d-flex col-12 col-lg-6 flex-column mt-3 pl-0 pl-lg-5 pr-lg-5 pb-lg-3">
        <span class="conceptos-title">{{service.title}}</span>
        <span class="conceptos-subtitle">{{service.description|raw}}</span>
      </div>
    </div>
    {% if products|length > 0 %}
      <div class="d-flex flex-column mt-3">
        <span class="conceptos-title">PRODUCTOS RELACIONADOS</span>
        {% set sizes = '(min-width: 1000px) 12vw, 45vw' %}
        <div class="d-flex flex-wrap">
          {% for product in products %}
            <div class="d-flex col-6 col-lg-2 pl-0">
              {% set sizes = '(min-width: 1000px) 12vw, 50vw' %}
              {{include('site/product-summary-short.html.twig')}}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
{% block js %}
  <script src="{{ asset('bundles/conceptos/products/js/product-details.js') }}"></script>
{% endblock %}
