{% extends ':site:base.html.twig' %}

{% block title %}Carrito de compras{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/conceptos/shop-cart/shop-cart.css') }}">
{% endblock %}
{% block body %}
  {{ form_start(form) }}
    <div class="d-flex flex-column pt-2 pt-lg-5 pl-2 pr-2">
      <h1 class="conceptos-title pt-2">{{home.data.shopCart.mainText|raw}}</h1>
      <h2 class="conceptos-subtitle">{{home.data.shopCart.secondaryText|raw}}</h2>

      <div class="shop-cart-product-list-section conceptos-add-scroll">
        <div class="d-flex flex-column mt-3 ml-3 mr-3">
            {{ render(controller('AppBundle:Site:productsSummary')) }}
        </div>
        <div class="d-flex justify-content-between align-items-center conceptos-badge mt-3">
          <div class="d-flex flex-column m-2">
            <span class="conceptos-badge-text">CANTIDAD</span>
            <span class="conceptos-badge-text shop-cart-products-count">{{count}} {% if count == 1 %}PRODUCTO{% else %}PRODUCTOS{% endif %}</span>
          </div>
          <div class="d-flex flex-column m-2">
            <span class="conceptos-badge-text">PRECIO</span>
            <span class="conceptos-badge-text shop-cart-total-price"></span>
          </div>
        </div>
      </div>
      {% if shopCartProducts|length > 0 %}
        <div class="shop-cart-section mt-3">
          <div class="d-flex flex-column pt-3 ml-3 mr-3">
            <div class="d-flex flex-column">
              <span class="conceptos-title">TIPO DE MONEDA</span>
              <select id="payment-currency">
                <option value="usd">USD</option>
                <option value="cuc">CUC</option>
              </select>
            </div>
            <div class="d-flex flex-column mt-3">
              <span class="conceptos-title">PLAZOS DE PAGO</span>
              <select id="payment-type">
                <option value="total">Pago total</option>
                <option value="two-steps">Pago en dos plazos</option>
              </select>
            </div>
            <div class="d-flex flex-column mt-3">
              <span class="conceptos-title">MEMBRESÍA</span>
              <div class="d-flex conceptos-relative">
                <input id="shop-cart-member-number" class="w-100" type="text" placeholder="Código de miembro" />
                <img class="conceptos-icon conceptos-request-success-icon" src="{{ asset('bundles/conceptos/images/home/request-success.png') }}">
                <img class="conceptos-icon conceptos-request-error-icon" src="{{ asset('bundles/conceptos/images/home/request-error.png') }}">
                <img class="conceptos-icon conceptos-request-loading-icon" src="{{ asset('bundles/conceptos/images/home/request-loading.png') }}">
              </div>
            </div>
          </div>
          <div class="d-flex flex-column conceptos-badge mt-3 p-2">
            <div class="d-flex justify-content-between align-items-center">
              <span class="conceptos-badge-text">CANTIDAD</span>
              <span class="conceptos-badge-text shop-cart-products-count">{{count}}</span>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <span class="conceptos-badge-text">TIPO DE MONEDA</span>
              <span class="conceptos-badge-text shop-cart-currency"></span>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <span class="conceptos-badge-text">TIPO DE PAGO</span>
              <span class="conceptos-badge-text shop-cart-payment-type"></span>
            </div>
            <div class="d-none justify-content-between align-items-center">
              <span class="conceptos-badge-text">DESCUENTO DE MIEMBRO</span>
              <span class="conceptos-badge-text shop-cart-membership-discount"></span>
            </div>
            <div class="d-none justify-content-between align-items-center">
              <span class="conceptos-badge-text">EXTRA CUC</span>
              <span class="conceptos-badge-text shop-cart-currency-extra"></span>
            </div>
            <div class="d-none justify-content-between align-items-center">
              <span class="conceptos-badge-text">EXTRA 2 PLAZOS</span>
              <span class="conceptos-badge-text shop-cart-payment-type-extra"></span>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <span class="conceptos-badge-text">COSTO DE TRANSPORTE</span>
              <span class="conceptos-badge-text shop-cart-transport-cost"></span>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-2">
              <span class="conceptos-badge-text-strong">TOTAL A PAGAR</span>
              <span class="conceptos-badge-text-strong shop-cart-total-price"></span>
            </div>
          </div>
        </div>
        <div class="shop-cart-section mt-3 p-3">
          <div class="d-flex flex-column">
            <span class="conceptos-title">DATOS DEL CLIENTE</span>
            <input type="hidden" name="memberNumber" id="memberNumber">
            <input type="hidden" name="transportCost" id="transportCost">
            <input type="hidden" name="paymentType" id="paymentType">
            <input type="hidden" name="paymentCurrency" id="paymentCurrency">
            <input type="hidden" name="products" id="products">
            <div class="d-flex flex-column mt-2">
              <span class="conceptos-subtitle">Nombre</span>
              {{ form_widget(form.name, {'attr': {'class': 'w-100', 'required': 'true'}}) }}
            </div>
            <div class="d-flex flex-column mt-2">
              <span class="conceptos-subtitle">Correo</span>
              {{ form_widget(form.email, {'attr': {'class': 'w-100', 'required': 'true'}}) }}
            </div>
            <div class="d-flex flex-column mt-2">
              <span class="conceptos-subtitle">Dirección</span>
              {{ form_widget(form.address, {'attr': {'class': 'w-100', 'required': 'true'}}) }}
            </div>
            <div class="d-flex flex-column mt-2">
              <span class="conceptos-subtitle">Teléfono de casa</span>
              {{ form_widget(form.phone, {'attr': {'class': 'w-100'}}) }}
            </div>
            <div class="d-flex flex-column mt-2">
              <span class="conceptos-subtitle">Teléfono Movil</span>
              {{ form_widget(form.movil, {'attr': {'class': 'w-100'}}) }}
            </div>
            <div class="d-flex align-items-center">
              <div class="col-md-6 pl-2">
                <div class="d-flex flex-column mb-0">
                  {{ form_widget(form.memberNumber) }}
                </div>
              </div>
            </div>
            {{ form_widget(form.recaptcha) }}
            {% if is_granted('ROLE_COMMERCIAL') %}
              <div class="conceptos-divider mt-3 mb-3"></div>
              <select id="type-select" class="mb-2">
                <option value="request">Pedido</option>
                <option value="prefacture">Prefactura</option>
                <option value="facture">Factura</option>
              </select>
              <select id="prefactures-select" class="mb-2" style="display: none;">
                <option value="0">Ninguna</option>
                {% for prefacture in prefactures %}
                    <option value="{{prefacture.id}}">Prefactura: {{prefacture.id}}-{{prefacture.date|date('Y')}}</option>
                {% endfor %}
              </select>
              <label class="d-flex checkbox-container align-self-start">
                <span class="conceptos-subtitle">Ignorar costo de transporte</span>
                <input id="ignoreTransport" type="checkbox">
                <span class="checkmark checkmark-gray"></span>
              </label>
            {% endif %}
          </div>
        </div>
      {% else %}
        {{ form_widget(form.name, {'attr': {'class': 'd-none'}}) }}
        {{ form_widget(form.email, {'attr': {'class': 'd-none'}}) }}
        {{ form_widget(form.address, {'attr': {'class': 'd-none'}}) }}
        {{ form_widget(form.phone, {'attr': {'class': 'd-none'}}) }}
        {{ form_widget(form.movil, {'attr': {'class': 'd-none'}}) }}
        {{ form_widget(form.memberNumber, {'attr': {'class': 'd-none'}}) }}
        {{ form_widget(form.recaptcha, {'attr': {'class': 'd-none'}}) }}
      {% endif %}
    </div>
    <div id="shop-cart-contact-form" class="d-flex flex-column">
      <img class="conceptos-image" src="{{home.data.contact.image.path}}">
      <div id="shop-cart-buy-section" class="d-flex flex-column pl-2 pr-2 mt-3">
        {% if shopCartProducts|length > 0 %}
          <div class="d-flex">
            <label class="d-flex checkbox-container align-self-start">
              <span class="conceptos-subtitle">He leído y acepto los <a class="conceptos-title conceptos-title-italic" data-toggle="modal" data-target="#termsAndConditionsModal" href="#">Términos y condiciones</a></span>
              <input id="termsAndConditions" type="checkbox">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="d-flex mt-2">
            <label class="d-flex checkbox-container align-self-start">
              <span class="conceptos-subtitle">He leído y acepto la <a class="conceptos-title conceptos-title-italic" data-toggle="modal" data-target="#privacyPolicyModal" href="#">Política de privacidad</a></span>
              <input id="privacyPolicy" type="checkbox">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="d-flex mt-2">
            <button type="submit" class="conceptos-primary-button pl-3 pr-3 pt-1 pb-1">ENVIAR PEDIDO</button>
          </div>
        {% endif %}
        <div class="d-flex justify-content-end mt-3">
          {% for network in home.data.social_network.networks %}
            {% if network.network == 'facebook' %}
              <a href="{{network.link}}" class="mr-2" target="_blank">
                <img class="conceptos-social-network-icon" src="{{ asset('bundles/conceptos/images/home/facebook.png') }}">
              </a>
            {% elseif network.network == 'instagram' %}
              <a href="{{network.link}}" target="_blank">
                <img class="conceptos-social-network-icon" src="{{ asset('bundles/conceptos/images/home/instagram.png') }}">
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  {{ form_end(form) }}
{% endblock %}
{% block contact %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block js %}
  <script src="{{ asset('bundles/conceptos/shop-cart/js/shop-cart.js') }}"></script>
{% endblock %}
