{% extends ':site:base.html.twig' %}

{% block title %}Carrito de compras{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/conceptos/shop-cart/shop-cart.css') }}">
{% endblock %}
{% block body %}
  {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'true'}}) }}
    <div class="d-flex flex-column pt-2 pt-lg-5 pl-2 pr-2">
      <h1 class="conceptos-title pt-2">{{home.data.shopCart.mainText|raw}}</h1>
      <h2 class="conceptos-subtitle">{{home.data.shopCart.secondaryText|raw}}</h2>

      <div class="shop-cart-product-list-section conceptos-add-scroll">
        <div class="d-flex flex-column mt-3 ml-3 mr-3">
          {% for product in shopCartProducts %}
            <div class="d-flex shop-cart-product p-2 {% if loop.index > 1 %}mt-2{% endif %}"
                data-product="{{product.id}}"
                data-uuid="{{ product.uuid }}"
                data-calculate-price-path="{{ path('calculate_product_price') }}"
                data-remove-path="{{ path('remove_from_cart_shop', {id: product.id}) }}">
              {% if product.type is defined %}
                {% set imagePath = membership.data.giftCardSection.giftCard15Image.path %}
                {% set productName = "TARJETA DE REGALO" %}
                {% set productPrice = product.price %}
                {% if product.price == 25 %}
                    {% set imagePath = membership.data.giftCardSection.giftCard25Image.path %}
                {% elseif product.price == 50 %}
                    {% set imagePath = membership.data.giftCardSection.giftCard50Image.path %}
                {% elseif product.price == 100 %}
                    {% set imagePath = membership.data.giftCardSection.giftCard100Image.path %}
                {% endif %}
              {% else %}
                {% set imagePath = vich_uploader_asset(product.image, 'imageFile') %}
                {% set productName = product.name %}
                {% set productPrice = product.price %}
              {% endif %}
              <div class="d-flex col-5 conceptos-product-image align-items-center p-2">
                <img class="conceptos-image" src="{{imagePath}}" alt="{{productName}}">
              </div>
              <div class="d-flex flex-column col-7 pl-2">
                <div class="d-flex flex-column">
                  <span class="conceptos-product-info">{{productName}}</span>
                  <span class="conceptos-product-info" data-price="{{productPrice}}">${{productPrice}}.00</span>
                </div>
                <div class="d-flex flex-column justify-content-center h-100">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                      <img class="conceptos-icon cart-quantity-up" src="{{ asset('bundles/conceptos/images/cart/plus.png') }}">
                      <img class="conceptos-icon cart-quantity-down ml-1" src="{{ asset('bundles/conceptos/images/cart/minus.png') }}">
                      <span class="conceptos-product-info ml-2" data-quantity="{{product.count}}">x{{product.count}}</span>
                    </div>
                    <img class="shop-cart-trash mr-1" src="{{ asset('bundles/conceptos/images/cart/trash-icon.png') }}">
                  </div>
                  <div class="d-flex align-items-center mt-1">
                    <span class="conceptos-product-info">ENVÍO:</span>
                    <img class="conceptos-icon airplane-delivery ml-2" src="{{ asset('bundles/conceptos/images/cart/airplane.png') }}">
                    <img class="conceptos-icon airplane-delivery-disabled ml-2" src="{{ asset('bundles/conceptos/images/cart/airplane_disabled.png') }}" style="display: none;">
                    <img class="conceptos-icon ship-delivery ml-1" src="{{ asset('bundles/conceptos/images/cart/ship.png') }}">
                    <img class="conceptos-icon ship-delivery-disabled ml-1" src="{{ asset('bundles/conceptos/images/cart/ship_disabled.png') }}" style="display: none;">
                  </div>
                </div>
              </div>
            </div>
          {% else %}
            <div class="d-flex justify-content-center">
              <span class="conceptos-title m-4">SIN PRODUCTOS EN EL CARRITO</span>
            </div>
          {% endfor %}
        </div>
        <div class="d-flex justify-content-between align-items-center conceptos-badge mt-3">
          <div class="d-flex flex-column m-2">
            <span class="conceptos-badge-text">CANTIDAD</span>
            <span class="conceptos-badge-text shop-cart-products-count">{{count}} {% if count == 1 %}PRODUCTO{% else %}PRODUCTOS{% endif %}</span>
          </div>
          <div class="d-flex flex-column m-2">
            <span class="conceptos-badge-text">PRECIO</span>
            <span class="conceptos-badge-text shop-cart-total-price"></span>
          </div>
        </div>
      </div>
      {% if shopCartProducts|length > 0 %}
        <div class="shop-cart-section mt-3">
          <div class="d-flex flex-column pt-3 ml-3 mr-3">
            <div class="d-flex flex-column">
              <span class="conceptos-title">TIPO DE MONEDA</span>
              <select id="payment-currency">
                <option value="usd">USD</option>
                <option value="cuc">CUC</option>
              </select>
            </div>
            <div class="d-flex flex-column mt-3">
              <span class="conceptos-title">PLAZOS DE PAGO</span>
              <select id="payment-type">
                <option value="total">Pago total</option>
                <option value="two-steps">Pago en dos plazos</option>
              </select>
            </div>
            <div class="d-flex flex-column mt-3">
              <span class="conceptos-title">MEMBRESÍA</span>
              <input id="shop-cart-member-number" type="text" placeholder="Código de miembro" />
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center conceptos-badge mt-3">
            <div class="d-flex flex-column m-2">
              <span class="conceptos-badge-text">CANTIDAD</span>
              <span class="conceptos-badge-text shop-cart-products-count">{{count}} {% if count == 1 %}PRODUCTO{% else %}PRODUCTOS{% endif %}</span>
            </div>
            <div class="d-flex flex-column m-2">
              <span class="conceptos-badge-text">PRECIO</span>
              <span class="conceptos-badge-text shop-cart-total-price"></span>
            </div>
          </div>
        </div>
        <div class="shop-cart-section mt-3 p-3">
          <div class="d-flex flex-column">
            <span class="conceptos-title">DATOS DEL CLIENTE</span>
            <input type="hidden" name="memberNumber" id="memberNumber">
            <input type="hidden" name="transportCost" id="transportCost">
            <input type="hidden" name="paymentType" id="paymentType">
            <input type="hidden" name="paymentCurrency" id="paymentCurrency">
            <input type="hidden" name="products" id="products">
            <div class="mt-2">
              {{ form_widget(form.name, {'attr': {'class': 'w-100', 'placeholder': 'Nombre', 'required': 'true'}}) }}
            </div>
            <div class="mt-2">
              {{ form_widget(form.email, {'attr': {'class': 'w-100', 'placeholder': 'Correo', 'required': 'true'}}) }}
            </div>
            <div class="mt-2">
              {{ form_widget(form.address, {'attr': {'class': 'w-100', 'placeholder': 'Dirección', 'required': 'true'}}) }}
            </div>
            <div class="mt-2">
              {{ form_widget(form.phone, {'attr': {'class': 'w-100', 'placeholder': 'Teléfono de casa'}}) }}
            </div>
            <div class="mt-2">
              {{ form_widget(form.movil, {'attr': {'class': 'w-100', 'placeholder': 'Teléfono Movil'}}) }}
            </div>
            <div class="d-flex align-items-center">
              <div class="col-md-6 pl-2">
                <div class="form-group mb-0">
                  {{ form_widget(form.memberNumber) }}
                </div>
              </div>
            </div>
            {{ form_widget(form.recaptcha) }}
            {% if is_granted('ROLE_COMMERCIAL') %}
              <select id="type-select" class="mt-3 mb-2">
                <option value="request">Pedido</option>
                <option value="prefacture">Prefactura</option>
                <option value="facture">Factura</option>
              </select>
              <select id="prefactures-select" class="mb-2" style="display: none;">
                <option value="0">Ninguna</option>
                {% for prefacture in prefactures %}
                    <option value="{{prefacture.id}}">Prefactura: {{prefacture.id}}-{{prefacture.date|date('Y')}}</option>
                {% endfor %}
              </select>
              <label class="d-flex checkbox-container align-self-start">
                <span class="conceptos-subtitle">Ignorar costo de transporte</span>
                <input id="ignoreTransport" type="checkbox">
                <span class="checkmark checkmark-gray"></span>
              </label>
            {% endif %}
          </div>
        </div>
      {% else %}
        {{ form_widget(form.name, {'attr': {'class': 'd-none'}}) }}
        {{ form_widget(form.email, {'attr': {'class': 'd-none'}}) }}
        {{ form_widget(form.address, {'attr': {'class': 'd-none'}}) }}
        {{ form_widget(form.phone, {'attr': {'class': 'd-none'}}) }}
        {{ form_widget(form.movil, {'attr': {'class': 'd-none'}}) }}
        {{ form_widget(form.memberNumber, {'attr': {'class': 'd-none'}}) }}
        {{ form_widget(form.recaptcha, {'attr': {'class': 'd-none'}}) }}
      {% endif %}
    </div>
    <div id="shop-cart-contact-form" class="d-flex flex-column">
      <img class="conceptos-image" src="{{home.data.contact.image.path}}">
      <div id="shop-cart-buy-section" class="d-flex flex-column pl-2 pr-2 mt-3">
        {% if shopCartProducts|length > 0 %}
          <div class="d-flex">
            <label class="d-flex checkbox-container align-self-start">
              <span class="conceptos-subtitle">He leído y acepto los <a class="conceptos-title" data-toggle="modal" data-target="#termsAndConditionsModal" href="#">Términos y Condiciones</a></span>
              <input id="termsAndConditions" type="checkbox">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="d-flex mt-2">
            <label class="d-flex checkbox-container align-self-start">
              <span class="conceptos-subtitle">He leído y acepto la <a class="conceptos-title" data-toggle="modal" data-target="#privacyPolicyModal" href="#">Política de Privacidad</a></span>
              <input id="privacyPolicy" type="checkbox">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="d-flex mt-2">
            <button id="shop-cart-send-request-button" class="conceptos-primary-button pl-3 pr-3 pt-1 pb-1" type="submit">
              <span>ENVIAR PEDIDO</span>
            </button>
          </div>
        {% endif %}
        <div class="d-flex justify-content-end mt-3">
          {% for network in home.data.social_network.networks %}
            {% if network.network == 'facebook' %}
              <a href="{{network.link}}" class="mr-2" target="_blank">
                <img class="conceptos-social-network-icon" src="{{ asset('bundles/conceptos/images/home/facebook.png') }}">
              </a>
            {% elseif network.network == 'instagram' %}
              <a href="{{network.link}}" target="_blank">
                <img class="conceptos-social-network-icon" src="{{ asset('bundles/conceptos/images/home/instagram.png') }}">
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  {{ form_end(form) }}
{% endblock %}
{% block contact %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block js %}
  <script src="{{ asset('bundles/conceptos/shop-cart/js/shop-cart.js') }}"></script>
{% endblock %}
