{% extends ':site:base.html.twig' %}

{% block title %}Carrito de compras{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/conceptos/shop-cart/shop-cart.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/conceptos/14ndy15/styles/shop_cart.css') }}">
{% endblock %}
{% block body %}


  {{ form_start(form) }}
    <div class="d-flex flex-column pt-2 pl-2 pr-2 pt-lg-3 pl-lg-5 pr-lg-5">
      <h1 class="conceptos-title pt-2">{{home.data.shopCart.mainText|raw}}</h1>
      <h2 class="conceptos-subtitle">{{home.data.shopCart.secondaryText|raw}}</h2>

      <div class="d-flex flex-wrap align-items-end conceptos-white-background">
        <div class="col-12 col-lg-6 pl-0 shop-cart-product-list-section conceptos-add-scroll">
          <div class="d-flex flex-column mt-3 ml-3 mr-3">
              {{ render(controller('AppBundle:Site:productsSummary')) }}
          </div>
          <div class="d-flex justify-content-center">
            <div class="d-flex flex-column justify-content-center align-items-center m-2">
              <a class="conceptos-remove-all-icon" href="{{ path('empty_shop_cart') }}"></a>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center conceptos-badge">
            <div class="d-flex flex-column m-2">
              <span class="conceptos-badge-text">CANTIDAD</span>
              <span class="conceptos-badge-text shop-cart-products-count">{{count}} {% if count == 1 %}PRODUCTO{% else %}PRODUCTOS{% endif %}</span>
            </div>
            <div class="d-flex flex-column m-2">
              <span class="conceptos-badge-text">PRECIO</span>
              <span class="conceptos-badge-text shop-cart-total-price"></span>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 pl-0 shop-cart-section mt-3 mt-lg-0">
          <div class="d-flex flex-column pt-3 ml-3 mr-3">
            <div class="d-flex flex-column">
              <span class="conceptos-title">TIPO DE MONEDA</span>
              <div class="d-flex justify-content-between align-items-center">
                <div class="switch m-0" id="payment-currency">
                  <input type="radio" class="switch-input" name="currency" value="usd" id="usd" checked>
                  <label for="usd" class="switch-label switch-label-off">USD</label>
                  <input type="radio" class="switch-input" name="currency" value="cuc" id="cuc">
                  <label for="cuc" class="switch-label switch-label-on">CUC</label>
                  <span class="switch-selection"></span>
                </div>
              </div>
              {% if home.data.shopCart.currencyTypeText is defined %}
                <span class="conceptos-subtitle">{{home.data.shopCart.currencyTypeText|raw}}</span>
              {% endif %}
            </div>
            <div class="d-flex flex-column mt-3">
              <span class="conceptos-title">PLAZOS DE PAGO</span>
              <div class="d-flex justify-content-between align-items-center">
                <div class="switch m-0" id="payment-type">
                  <input type="radio" class="switch-input" name="payment" value="total" id="total" checked>
                  <label for="total" class="switch-label switch-label-off">TOTAL</label>
                  <input type="radio" class="switch-input" name="payment" value="two-steps" id="two-steps">
                  <label for="two-steps" class="switch-label switch-label-on">DOS PLAZOS</label>
                  <span class="switch-selection"></span>
                </div>
              </div>
              {% if home.data.shopCart.paymentTypeText is defined %}
                <span class="conceptos-subtitle">{{home.data.shopCart.paymentTypeText|raw}}</span>
              {% endif %}
            </div>
            <div class="d-flex flex-column mt-3">
              <span class="conceptos-title">ENTREGA A DOMICILIO</span>
              <div class="d-flex justify-content-between align-items-center">
                <div class="switch m-0" id="home-delivery">
                  <input type="radio" class="switch-input" name="home-delivery" value="no" id="no" checked>
                  <label for="no" class="switch-label switch-label-off">NO</label>
                  <input type="radio" class="switch-input" name="home-delivery" value="yes" id="yes">
                  <label for="yes" class="switch-label switch-label-on">SI</label>
                  <span class="switch-selection"></span>
                </div>
              </div>
              {% if home.data.shopCart.homeDeliveryText is defined %}
                <span class="conceptos-subtitle">{{home.data.shopCart.homeDeliveryText|raw}}</span>
              {% endif %}
            </div>
            <div class="d-flex flex-column mt-3">
              <span class="conceptos-title">MEMBRESÍA</span>
              <div class="d-flex conceptos-relative">
                <div style="position: relative; width: 100%">
                <input id="shop-cart-member-number" class="w-100" type="text" placeholder="Código de miembro" />
                <img class="conceptos-icon conceptos-request-success-icon" src="{{ asset('bundles/conceptos/images/home/request-success.png') }}">
                <img class="conceptos-icon conceptos-request-error-icon" src="{{ asset('bundles/conceptos/images/home/request-error.png') }}">
                <img class="conceptos-icon conceptos-request-loading-icon" src="{{ asset('bundles/conceptos/images/home/request-loading.png') }}">
                </div>
                <button class="custom_btn">Check</button>
              </div>
            </div>
          </div>
          <div class="d-flex flex-column conceptos-badge mt-3 p-2">
            <div class="d-flex justify-content-between align-items-center">
              <span class="conceptos-badge-text">CANTIDAD</span>
              <span class="conceptos-badge-text shop-cart-products-count">{{count}}</span>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <span class="conceptos-badge-text">TIPO DE MONEDA</span>
              <span class="conceptos-badge-text shop-cart-currency"></span>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <span class="conceptos-badge-text">TIPO DE PAGO</span>
              <span class="conceptos-badge-text shop-cart-payment-type"></span>
            </div>
            <div class="d-none justify-content-between align-items-center">
              <span class="conceptos-badge-text">DESCUENTO DE MIEMBRO</span>
              <span class="conceptos-badge-text shop-cart-membership-discount"></span>
            </div>
            <div class="d-none justify-content-between align-items-center">
              <span class="conceptos-badge-text">EXTRA CUC</span>
              <span class="conceptos-badge-text shop-cart-currency-extra"></span>
            </div>
            <div class="d-none justify-content-between align-items-center">
              <span class="conceptos-badge-text">EXTRA 2 PLAZOS</span>
              <span class="conceptos-badge-text shop-cart-payment-type-extra"></span>
            </div>
            <div class="d-none justify-content-between align-items-center">
              <span class="conceptos-badge-text">PAGO PRIMER PLAZO</span>
              <span class="conceptos-badge-text first-payment"></span>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <span class="conceptos-badge-text">COSTO DE TRANSPORTE</span>
              <span class="conceptos-badge-text shop-cart-transport-cost"></span>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-2">
              <span class="conceptos-badge-text-strong">TOTAL A PAGAR</span>
              <span class="conceptos-badge-text-strong shop-cart-total-price-with-extra"></span>
            </div>
          </div>
        </div>
      </div>
      {% if shopCartProducts|length > 0 %}
        <div class="shop-cart-section mt-3 p-3">
          <div class="d-flex flex-column">
            <span class="conceptos-title">DATOS DEL CLIENTE</span>
            <input type="hidden" name="memberNumber" id="memberNumber">
            <input type="hidden" name="transportCost" id="transportCost">
            <input type="hidden" name="paymentType" id="paymentType">
            <input type="hidden" name="paymentCurrency" id="paymentCurrency">
            <input type="hidden" name="products" id="products">
            <div class="d-flex flex-column mt-2">
              <span class="conceptos-subtitle pl-2 required">Nombre</span>
              {{ form_widget(form.firstName, {'attr': {'class': 'w-100', 'required': 'true'}}) }}
            </div>
            <div class="d-flex flex-column mt-2">
              <span class="conceptos-subtitle pl-2 required">Apellidos</span>
              {{ form_widget(form.lastName, {'attr': {'class': 'w-100', 'required': 'true'}}) }}
            </div>
            <div class="d-flex flex-column mt-2">
              <span class="conceptos-subtitle pl-2 required">Correo</span>
              {{ form_widget(form.email, {'attr': {'class': 'w-100', 'required': 'true'}}) }}
            </div>
            <div class="d-flex flex-column mt-2">
              <span class="conceptos-subtitle pl-2 required">Dirección</span>
              {{ form_widget(form.address, {'attr': {'class': 'w-100', 'required': 'true'}}) }}
            </div>
            <div class="d-flex flex-column mt-2">
              <span class="conceptos-subtitle pl-2 required">Teléfono de casa</span>
              {{ form_widget(form.phone, {'attr': {'class': 'w-100'}}) }}
            </div>
            <div class="d-flex flex-column mt-2">
              <span class="conceptos-subtitle pl-2 required">Teléfono Movil</span>
              {{ form_widget(form.movil, {'attr': {'class': 'w-100'}}) }}
            </div>
            <div class="d-flex align-items-center">
              <div class="col-md-6 pl-2">
                <div class="d-flex flex-column mb-0">
                  {{ form_widget(form.memberNumber) }}
                </div>
              </div>
            </div>
            {{ form_widget(form.recaptcha) }}
            {% if is_granted('ROLE_COMMERCIAL') %}
              <div class="conceptos-divider mt-3 mb-3"></div>
              <select id="type-select" class="mb-2">
                <option value="request">Pedido</option>
                <option value="prefacture">Prefactura</option>
                <option value="facture">Factura</option>
              </select>
              <select id="prefactures-select" class="mb-2" style="display: none;">
                <option value="0">Ninguna</option>
                {% for prefacture in prefactures %}
                    <option value="{{prefacture.id}}">Prefactura: {{prefacture.id}}-{{prefacture.date|date('Y')}}</option>
                {% endfor %}
              </select>
              <label class="d-flex checkbox-container align-self-start">
                <span class="conceptos-subtitle">Ignorar costo de transporte</span>
                <input id="ignoreTransport" type="checkbox">
                <span class="checkmark checkmark-gray"></span>
              </label>
            {% endif %}
          </div>
        </div>
      {% else %}
        {{ form_widget(form.firstName, {'attr': {'class': 'd-none'}}) }}
        {{ form_widget(form.lastName, {'attr': {'class': 'd-none'}}) }}
        {{ form_widget(form.email, {'attr': {'class': 'd-none'}}) }}
        {{ form_widget(form.address, {'attr': {'class': 'd-none'}}) }}
        {{ form_widget(form.phone, {'attr': {'class': 'd-none'}}) }}
        {{ form_widget(form.movil, {'attr': {'class': 'd-none'}}) }}
        {{ form_widget(form.memberNumber, {'attr': {'class': 'd-none'}}) }}
        {{ form_widget(form.recaptcha, {'attr': {'class': 'd-none'}}) }}
      {% endif %}
    </div>
    <div id="shop-cart-contact-form" class="d-flex flex-column">
      <img class="conceptos-image" src="{{home.data.contact.image.path}}">
      <div id="shop-cart-buy-section" class="d-flex flex-column pl-2 pr-2 pl-lg-5 pr-lg-5 mt-3">
        {% if shopCartProducts|length > 0 %}
          <div class="d-flex">
            <label class="d-flex checkbox-container align-self-start">
              <span class="conceptos-subtitle">He leído y acepto los <a class="conceptos-title conceptos-title-italic" data-toggle="modal" data-target="#termsAndConditionsModal" href="#">Términos y condiciones</a></span>
              <input id="termsAndConditions" type="checkbox">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="d-flex mt-2">
            <label class="d-flex checkbox-container align-self-start">
              <span class="conceptos-subtitle">He leído y acepto la <a class="conceptos-title conceptos-title-italic" data-toggle="modal" data-target="#privacyPolicyModal" href="#">Política de privacidad</a></span>
              <input id="privacyPolicy" type="checkbox">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="d-flex mt-2">
            <button type="submit" class="conceptos-primary-button pl-3 pr-3 pt-1 pb-1">ENVIAR PEDIDO</button>
          </div>
        {% endif %}
        <div class="d-flex justify-content-end mt-3">
          {% for network in home.data.social_network.networks %}
            {% if network.network == 'facebook' %}
              <a href="{{network.link}}" class="mr-2" target="_blank">
                <div class="conceptos-social-network-icon-facebook"></div>
              </a>
            {% elseif network.network == 'instagram' %}
              <a href="{{network.link}}" target="_blank">
                <div class="conceptos-social-network-icon-instagram"></div>
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  {{ form_end(form) }}
{% endblock %}
{% block contact %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block js %}
  <script src="{{ asset('bundles/conceptos/shop-cart/js/shop-cart.js') }}"></script>
{% endblock %}
