<section class="section services">

    <div class="services__service">
        <div class="services__service__image">
{#            <a href="{{ url('store_home') }}">#}
                <img src="{{ asset('img/home/tienda.jpg') }}" alt="">
{#            </a>#}
        </div>
        <div class="services__service__title">
{#            <a href="{{ url('store_home') }}">#}
                <h2>Tienda</h2>
{#            </a>#}
        </div>
        <div class="services__service__text">
{#            <a href="{{ url('store_home') }}">#}
                <p> Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Dolorem et ex incidunt
                    maxime quaerat quas quasi qui totam.
                    Aliquam commodi corporis </p>
{#            </a>#}
        </div>
    </div>

    <div class="services__service">
        <div class="services__service__image">
            <img src="{{ asset('img/home/tienda.jpg') }}" alt="">
        </div>
        <div class="services__service__title">
            <h2>Construcción y montaje</h2>
        </div>
        <div class="services__service__text">
            <p> Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Dolorem et ex incidunt
                maxime quaerat quas quasi qui totam.
                Aliquam commodi corporis </p>
        </div>
    </div>

    <div class="services__service">
        <div class="services__service__image">
            <img src="{{ asset('img/home/arquitectura.jpg') }}" alt="">
        </div>
        <div class="services__service__title">
            <h2>Arquitectura y diseño</h2>
        </div>
        <div class="services__service__text">
            <p> Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Dolorem et ex incidunt
                maxime quaerat quas quasi qui totam.
                Aliquam commodi corporis </p>
        </div>
    </div>

</section>