<section class="section services">

    <a class="hide" href="{{ url('store') }}">
        <div class="services__service" data-sal="slide-down"
             data-sal-delay="300"
             data-sal-easing="ease-out-back">
            <div class="services__service__image">
                <img src="{{ asset('img/home/tienda.jpg') }}" alt="">
            </div>
            <div class="services__service__title">
                <h2>Tienda</h2>
            </div>
            <div class="services__service__text">
                <p> Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Dolorem et ex incidunt
                    maxime quaerat quas quasi qui totam.
                    Aliquam commodi corporis </p>
            </div>
        </div>
    </a>

    <a class="hide" href="{{ url('construction') }}">
        <div class="services__service" data-sal="slide-down"
             data-sal-delay="300"
             data-sal-easing="ease-out-back">
            <div class="services__service__image">
                <img src="{{ asset('img/home/tienda.jpg') }}" alt="">
            </div>
            <div class="services__service__title">
                <h2>Construcción y montaje</h2>
            </div>
            <div class="services__service__text">
                <p> Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Dolorem et ex incidunt
                    maxime quaerat quas quasi qui totam.
                    Aliquam commodi corporis </p>
            </div>
        </div>
    </a>

    <a class="hide" href="{{ url('design') }}">
        <div class="services__service" data-sal="slide-down"
             data-sal-delay="300"
             data-sal-easing="ease-out-back">
            <div class="services__service__image">
                <img src="{{ asset('img/home/arquitectura.jpg') }}" alt="">
            </div>
            <div class="services__service__title">
                <h2>Arquitectura y diseño</h2>
            </div>
            <div class="services__service__text">
                <p> Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Dolorem et ex incidunt
                    maxime quaerat quas quasi qui totam.
                    Aliquam commodi corporis </p>
            </div>
        </div>
    </a>
</section>