{% trans_default_domain 'FOSUserBundle' %}

<div id="edit-profile" class="d-flex flex-column conceptos-white-background m-2 m-lg-5">
  <div class="d-flex flex-column p-2 p-lg-5">
    <div class="d-flex">
      <form class="dropzone" id="dropzone-profile-image" action="{{ path('upload') }}">
        <div class="dz-message needsclick colp"></div>
      </form>
      <div class="d-flex flex-column p-3">
        <span class="conceptos-title-strong">{{user.firstName}}</span>
        {% if user.member is defined %}
          <span class="conceptos-subtitle">NÚMERO DE MIEMBRO: {{user.member.number}}</span>
          <span class="conceptos-subtitle">SALDO: ${{user.member.balance}}.00</span>
        {% endif %}
      </div>
    </div>
    <div class="d-flex align-items-center mt-3">
      <span class="conceptos-title mr-2">DATOS</span>
      <button id="edit-profile-button" class="edit-profile-button" role="button"></button>
    </div>
    <div id="edit-profile-section" class="flex-column" style="display: none;" data-hidden="true">
      {{ form_start(form, {'method': 'post', 'action': path('site_profile'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        <div class="d-flex flex-column">
          <span class="conceptos-subtitle mt-2">USUARIO</span>
          {{ form_errors(form.username) }}
          {{ form_widget(form.username) }}
        </div>
        <div class="d-flex flex-column">
          <span class="conceptos-subtitle mt-2">CORREO</span>
          {{ form_errors(form.email) }}
          {{ form_widget(form.email) }}
        </div>
        <div class="d-flex flex-column">
          <span class="conceptos-subtitle mt-2">CONTRASEÑA</span>
          {{ form_errors(form.plainPassword) }}
          {{ form_widget(form.plainPassword) }}
        </div>
        <div class="d-flex flex-column">
          <span class="conceptos-subtitle mt-2">NOMBRE</span>
          {{ form_errors(form.first_name) }}
          {{ form_widget(form.first_name) }}
        </div>
        <div class="d-flex flex-column">
          <span class="conceptos-subtitle mt-2">APELLIDOS</span>
          {{ form_errors(form.last_name) }}
          {{ form_widget(form.last_name) }}
        </div>
        <div class="d-flex flex-column">
          <span class="conceptos-subtitle mt-2">TELÉFONO DE CASA</span>
          {{ form_errors(form.home_number) }}
          {{ form_widget(form.home_number) }}
        </div>
        <div class="d-flex flex-column">
          <span class="conceptos-subtitle mt-2">TELÉFONO MOVIL</span>
          {{ form_errors(form.mobile_number) }}
          {{ form_widget(form.mobile_number) }}
        </div>
        <div class="d-flex flex-column">
          <span class="conceptos-subtitle mt-2">DIRECCIÓN</span>
          {{ form_errors(form.address) }}
          {{ form_widget(form.address) }}
        </div>
        <div class="d-flex flex-column">
          <span class="conceptos-subtitle mt-2">FECHA DE NACIMIENTO</span>
          {{ form_errors(form.birth_date) }}
          {{ form_widget(form.birth_date) }}
        </div>
        <div class="d-flex justify-content-end">
          <input type="submit" class="conceptos-primary-button mt-3 pl-3 pr-3" value="Actualizar" />
        </div>
      {{ form_end(form) }}
    </div>
    {% if is_granted('ROLE_EXTERNAL') %}
      <span class="conceptos-title mt-3">ORDENES DE COMPRA</span>
      <div class="d-flex flex-column">
        {% for externalRequest in externalRequests|reverse %}
          {% set productCount = 0 %}
          {% for product in externalRequest.externalRequestProducts %}
            {% set productCount = productCount + product.count %}
          {% endfor %}
          <div class="d-flex flex-column external-request profile-product p-2 mt-2"
               data-id="{{externalRequest.id}}"
               data-is-expired="{{externalRequest.isExpired}}"
               data-remaining-days="{{externalRequest.remainingTimeFromCreation|date('%d')}}"
               data-remaining-hours="{{externalRequest.remainingTimeFromCreation|date('%h')}}"
               data-remaining-minutes="{{externalRequest.remainingTimeFromCreation|date('%i')}}"
               data-remaining-seconds="{{externalRequest.remainingTimeFromCreation|date('%s')}}">
            <div class="d-flex flex-column" data-toggle="modal" data-target="#external-request-modal-{{loop.index}}">
              {% if is_granted('ROLE_DIRECTOR_GENERAL') %}
                <div class="d-flex justify-content-center sell-price-badge mb-1">
                  <span class="conceptos-product-info mt-1">Precio de venta: ${{externalRequest.sellPrice}}</span>
                </div>
              {% endif %}
              <div  class="d-flex justify-content-between align-items-center">
                <div class="d-flex flex-column">
                  <span class="conceptos-title-strong mb-1">Pedido: {{externalRequest.id}}</span>
                  <span class="conceptos-title">Precio IKEA: ${{externalRequest.finalPrice}}</span>
                  <span class="conceptos-title">Taxes: ${{externalRequest.finalPrice * 0.07}}</span>
                  <span class="conceptos-title">Peso: {{externalRequest.weight}} Kg</span>
                  <span class="conceptos-title">Cant. productos: {{productCount}}</span>
                  <span class="conceptos-title">Costos extra: ${{externalRequest.budget}}</span>
                  <span class="conceptos-title">Precio del pasaje: ${{externalRequest.ticketPrice}}</span>
                  <span class="conceptos-title">Ganancia para el proveedor: ${{externalRequest.providerProfit}}</span>
                  <span class="conceptos-title">Pago total: ${{externalRequest.payment}}</span>
                  <span class="conceptos-title">Fecha de entrega: {{externalRequest.date|date('d/m/Y')}}</span>
                </div>
                <button class="view-profile-product-details"></button>
              </div>
            </div>
            <div class="d-flex justify-content-center remaining-time-badge mt-1 mb-1">
              <span class="conceptos-title remaining-time"></span>
            </div>
            {% if externalRequest.state == "Pagado" %}
              <span class="conceptos-title-strong">Pagado</span>
            {% else %}
              <select class="state-select mt-1" data-path="{{ path('update_external_request_state', {id: externalRequest.id}) }}">
                <option value="Sin estado" {% if externalRequest.state == "Sin estado"%}selected{% endif %}>Sin estado</option>
                <option value="Comprado" {% if externalRequest.state == "Comprado"%}selected{% endif %}>Comprado</option>
                <option value="Montado" {% if externalRequest.state == "Montado"%}selected{% endif %}>Montado</option>
                <option value="Entregado" {% if externalRequest.state == "Entregado"%}selected{% endif %}>Entregado</option>
              </select>
            {% endif %}
            <a class="conceptos-primary-button-gray mt-2" href="{{path('export_external_request', {id: externalRequest.id})}}">EXPORTAR A PDF</a>
            <div id="external-request-modal-{{loop.index}}" class="modal fade">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-body conceptos-gray-background">
                    <button class="close-external-request-modal lateral_menu__close" data-dismiss="modal"></button>
                    <div class="d-flex flex-wrap mt-3">
                      {% set sizes = '(min-width: 1000px) 12vw, 45vw' %}
                      {% for externalRequestProduct in externalRequest.externalRequestProducts %}
                        {% set product = externalRequestProduct.product %}
                        {% set isExternalRequestProduct = true %}
                        <div class="d-flex col-6 col-lg-3 pl-0">
                          {{ include('site/product-summary-short.html.twig') }}
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    {% if is_granted('ROLE_COMMERCIAL') %}
      <div class="d-flex flex-column conceptos-badge p-2 mt-2">
        <span class="conceptos-badge-text">RESUMEN COMERCIAL</span>
        <div class="d-flex justify-content-between">
          <span class="conceptos-badge-text">SALDO POR COBRAR</span>
          <span class="conceptos-badge-text">${{commercialPaymentCharge}}.00</span>
        </div>
        <div class="d-flex justify-content-between">
          <span class="conceptos-badge-text">HISTORIAL DE INGRESOS</span>
          <span class="conceptos-badge-text">${{commercialPaymentTotal}}.00</span>
        </div>
      </div>
      {% if commercialPreFactures|length > 0 %}
        <span class="conceptos-title mt-3">PREFACTURAS DEL COMERCIAL</span>
        <div class="d-flex flex-column">
          {% for commercialPreFacture in commercialPreFactures %}
            {% set numberOfProducts = 0 %}
            {% for product in commercialPreFacture.preFactureProducts %}
              {% set numberOfProducts = numberOfProducts + product.count %}
            {% endfor %}
            <div class="d-flex flex-column profile-product p-2 mt-2">
              <div class="d-flex justify-content-between align-items-center" data-toggle="modal" data-target="#commercial-prefactures-modal-{{loop.index}}">
                <div class="d-flex flex-column">
                  <span class="conceptos-title-strong mb-1">Prefactura: {{commercialPreFacture.id}}-{{commercialPreFacture.date|date('Y')}}</span>
                  <span class="conceptos-title">Cantidad de artículos: {{numberOfProducts}}</span>
                  <span class="conceptos-title">Precio total: ${{commercialPreFacture.finalPrice}}.00</span>
                </div>
                <button class="view-profile-product-details"></button>
              </div>
              <div id="commercial-prefactures-modal-{{loop.index}}" class="modal fade">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-body conceptos-gray-background">
                      <div class="d-flex flex-wrap">
                        {% set sizes = '(min-width: 1000px) 12vw, 45vw' %}
                        {% for commercialPreFactureProduct in commercialPreFacture.preFactureProducts %}
                          {% set product = commercialPreFactureProduct.product %}
                          <div class="d-flex col-6 col-lg-3 pl-0">
                            {{ include('site/product-summary-short.html.twig') }}
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
      {% if commercialFactures|length > 0 %}
        <span class="conceptos-title mt-3">FACTURAS DEL COMERCIAL</span>
        <div class="d-flex flex-column">
          {% for commercialFacture in commercialFactures %}
            {% set numberOfProducts = 0 %}
            {% for product in commercialFacture.factureProducts %}
              {% set numberOfProducts = numberOfProducts + product.count %}
            {% endfor %}
            <div class="d-flex flex-column profile-product p-2 mt-2">
              <div class="d-flex justify-content-between align-items-center" data-toggle="modal" data-target="#commercial-factures-modal-{{loop.index}}">
                <div class="d-flex flex-column">
                  <span class="conceptos-title-strong mb-1">Factura: {{commercialFacture.id}}-{{commercialFacture.date|date('Y')}}</span>
                  <span class="conceptos-title">Cantidad de artículos: {{numberOfProducts}}</span>
                  <span class="conceptos-title">Precio total: ${{commercialFacture.finalPrice}}.00</span>
                </div>
                <button class="view-profile-product-details"></button>
              </div>
              <div id="commercial-factures-modal-{{loop.index}}" class="modal fade">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-body conceptos-gray-background">
                      <div class="d-flex flex-wrap">
                        {% set sizes = '(min-width: 1000px) 12vw, 45vw' %}
                        {% for commercialFactureProduct in commercialFacture.factureProducts %}
                          {% set product = commercialFactureProduct.product %}
                          <div class="d-flex col-6 col-lg-3 pl-0">
                            {{ include('site/product-summary-short.html.twig') }}
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
      {% if commercialClients|length > 0 %}
        <span class="conceptos-title mt-3">CLIENTES DEL COMERCIAL</span>
        <div class="d-flex flex-column">
          {% for commercialClient in commercialClients %}
            <div class="d-flex flex-column profile-product p-2 mt-2">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex flex-column">
                  <span class="conceptos-title">Correo: {{commercialClient.email}}</span>
                  <span class="conceptos-title">Nombre: {{commercialClient.firstName}}-{{commercialClient.lastName}}</span>
                </div>
                <button class="view-profile-product-details"></button>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endif %}
    <span class="conceptos-title mt-3">HISTORIAL DE COMPRAS</span>
    <div class="d-flex flex-column">
      <div class="d-flex flex-column order-2">
        {% set totalCount = 0 %}
        {% set totalPrice = 0 %}
        {% set totalRequested = 0 %}
        {% set totalDelivered = 0 %}
        {% set totalCards = 0 %}
        {% for request in requests|reverse %}
          {% for product in request.requestProducts %}
            {% if product.product %}
              {% set totalCount = totalCount + product.count %}
              {% set totalPrice = totalPrice + product.productPrice * product.count %}
              <div class="d-flex profile-product justify-content-between align-items-center p-2 mt-2"
                   data-toggle="modal" data-target="#profile-product-details-modal-{{totalCount}}">
                <div class="d-flex">
                  <img class="conceptos-image profile-image" src="{{ vich_uploader_asset(product.product.mainImage, 'imageFile') }}">
                  <div class="d-flex flex-column justify-content-between ml-3">
                    <div class="d-flex flex-column">
                      <span class="conceptos-title-strong">{{product.product.name}}</span>
                      <span class="conceptos-title">${{product.productPrice}}.00</span>
                      <span class="conceptos-title">CANTIDAD: {{product.count}}</span>
                    </div>
                    <div class="d-flex mb-2">
                      {% if product.state == "Entregado" %}
                        {% set totalDelivered = totalDelivered + product.count %}
                      {% else %}
                        {% set totalRequested = totalRequested + product.count %}
                      {% endif %}
                      <span class="conceptos-title-strong">{% if product.state %}{{product.state}}{% else %}Por confirmar{% endif %}</span>
                    </div>
                  </div>
                </div>
                <button class="view-profile-product-details"></button>
                <div id="profile-product-details-modal-{{totalCount}}" class="modal fade">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-body conceptos-gray-background">
                        <div class="d-flex flex-column">
                          <div class="d-flex">
                            <img class="conceptos-image profile-image mr-2" src="{{ vich_uploader_asset(product.product.mainImage, 'imageFile') }}">
                            <div class="d-flex flex-column justify-content-between">
                              <div class="d-flex flex-column">
                                <span class="conceptos-title-strong">{{product.product.name}}</span>
                                <span class="conceptos-title">${{product.productPrice}}.00</span>
                                <span class="conceptos-title">CANTIDAD: {{product.count}}</span>
                              </div>
                              <div class="d-flex flex-column">
                                <span class="conceptos-title-strong">{% if product.state %}{{product.state}}{% else %}Por confirmar{% endif %}</span>
                              </div>
                            </div>
                          </div>
                          <div class="d-flex flex-column mt-3">
                            <span class="conceptos-title-strong">FECHA DEL PEDIDO</span>
                            <span class="conceptos-subtitle">{{request.date|date('d/m/Y')}}</span>
                            <span class="conceptos-title-strong">NÚMERO DEL PEDIDO</span>
                            <span class="conceptos-subtitle">PEDIDO {{request.id}}-{{request.date|date('Y')}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
          {% for card in request.requestCards %}
            {% set totalCount = totalCount + card.count %}
            {% set totalCards = totalCards + card.count %}
            {% set totalPrice = totalPrice + card.price * card.count %}
            <div class="d-flex profile-product justify-content-between align-items-center p-2 mt-2"
                 data-toggle="modal" data-target="#profile-card-details-modal-{{totalCount}}">
              {% set imagePath = membership.data.giftCardSection.giftCard15Image.path %}
              {% set cardName = 'Tarjeta de 15 CUC' %}
              {% if card.price == 25 %}
                  {% set imagePath = membership.data.giftCardSection.giftCard25Image.path %}
                  {% set cardName = 'Tarjeta de 25 CUC' %}
              {% elseif card.price == 50 %}
                  {% set imagePath = membership.data.giftCardSection.giftCard50Image.path %}
                  {% set cardName = 'Tarjeta de 50 CUC' %}
              {% elseif card.price == 100 %}
                  {% set imagePath = membership.data.giftCardSection.giftCard100Image.path %}
                  {% set cardName = 'Tarjeta de 100 CUC' %}
              {% endif %}
              <div class="d-flex">
                <img class="conceptos-image profile-image" src="{{ imagePath }}">
                <div class="d-flex flex-column justify-content-between ml-3">
                  <div class="d-flex flex-column">
                    <span class="conceptos-title-strong">{{cardName}}</span>
                    <span class="conceptos-title">${{card.price}}.00</span>
                    <span class="conceptos-title">CANTIDAD: {{card.count}}</span>
                  </div>
                </div>
              </div>
              <button class="view-profile-product-details"></button>
              <div id="profile-card-details-modal-{{totalCount}}" class="modal fade">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-body conceptos-gray-background">
                      <div class="d-flex flex-column">
                        <div class="d-flex">
                          <img class="conceptos-image profile-image mr-2" src="{{imagePath}}">
                          <div class="d-flex flex-column justify-content-between">
                            <div class="d-flex flex-column">
                              <span class="conceptos-title-strong">{{cardName}}</span>
                              <span class="conceptos-title">${{card.price}}.00</span>
                              <span class="conceptos-title">CANTIDAD: {{card.count}}</span>
                            </div>
                          </div>
                        </div>
                        <div class="d-flex flex-column mt-3">
                          <span class="conceptos-title-strong">FECHA DEL PEDIDO</span>
                          <span class="conceptos-subtitle">{{request.date|date('d/m/Y')}}</span>
                          <span class="conceptos-title-strong">NÚMERO DEL PEDIDO</span>
                          <span class="conceptos-subtitle">PEDIDO {{request.id}}-{{request.date|date('Y')}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endfor %}
        {% for prefacture in prefactures|reverse %}
          {% for product in prefacture.preFactureProducts %}
            {% if product.product %}
              {% set totalCount = totalCount + product.count %}
              {% set totalPrice = totalPrice + product.productPrice * product.count %}
              <div class="d-flex profile-product justify-content-between align-items-center p-2 mt-2"
                   data-toggle="modal" data-target="#profile-product-details-modal-{{totalCount}}">
                <div class="d-flex">
                  <img class="conceptos-image profile-image" src="{{ vich_uploader_asset(product.product.mainImage, 'imageFile') }}">
                  <div class="d-flex flex-column justify-content-between ml-3">
                    <div class="d-flex flex-column">
                      <span class="conceptos-title-strong">{{product.product.name}}</span>
                      <span class="conceptos-title">${{product.productPrice}}.00</span>
                      <span class="conceptos-title">CANTIDAD: {{product.count}}</span>
                    </div>
                    <div class="d-flex mb-2">
                      {% if product.state == "Entregado" %}
                        {% set totalDelivered = totalDelivered + product.count %}
                      {% else %}
                        {% set totalRequested = totalRequested + product.count %}
                      {% endif %}
                      <span class="conceptos-title-strong">{% if product.state %}{{product.state}}{% else %}Por confirmar{% endif %}</span>
                    </div>
                  </div>
                </div>
                <button class="view-profile-product-details"></button>
                <div id="profile-product-details-modal-{{totalCount}}" class="modal fade">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-body conceptos-gray-background">
                        <div class="d-flex flex-column">
                          <div class="d-flex">
                            <img class="conceptos-image profile-image mr-2" src="{{ vich_uploader_asset(product.product.mainImage, 'imageFile') }}">
                            <div class="d-flex flex-column justify-content-between">
                              <div class="d-flex flex-column">
                                <span class="conceptos-title-strong">{{product.product.name}}</span>
                                <span class="conceptos-title">${{product.productPrice}}.00</span>
                                <span class="conceptos-title">CANTIDAD: {{product.count}}</span>
                              </div>
                              <div class="d-flex flex-column">
                                <span class="conceptos-title-strong">{% if product.state %}{{product.state}}{% else %}Por confirmar{% endif %}</span>
                              </div>
                            </div>
                          </div>
                          <div class="d-flex flex-column mt-3">
                            {% if prefacture.request %}
                              <span class="conceptos-title-strong">FECHA DEL PEDIDO</span>
                              <span class="conceptos-subtitle">{{prefacture.request.date|date('d/m/Y')}}</span>
                              <span class="conceptos-title-strong">NÚMERO DEL PEDIDO</span>
                              <span class="conceptos-subtitle">PEDIDO {{prefacture.request.id}}-{{prefacture.request.date|date('Y')}}</span>
                            {% endif %}
                            <span class="conceptos-title-strong">FECHA DE LA PREFACTURA</span>
                            <span class="conceptos-subtitle">{{prefacture.date | date('d/m/Y')}}</span>
                            <span class="conceptos-title-strong">NÚMERO DE LA PREFACTURA</span>
                            <span class="conceptos-subtitle">PREFACTURA {{prefacture.id}}-{{prefacture.date|date('Y')}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
          {% for card in prefacture.preFactureCards %}
            {% set totalCount = totalCount + card.count %}
            {% set totalCards = totalCards + card.count %}
            {% set totalPrice = totalPrice + card.price * card.count %}
            <div class="d-flex profile-product justify-content-between align-items-center p-2 mt-2"
                 data-toggle="modal" data-target="#profile-card-details-modal-{{totalCount}}">
              {% set imagePath = membership.data.giftCardSection.giftCard15Image.path %}
              {% set cardName = 'Tarjeta de 15 CUC' %}
              {% if card.price == 25 %}
                  {% set imagePath = membership.data.giftCardSection.giftCard25Image.path %}
                  {% set cardName = 'Tarjeta de 25 CUC' %}
              {% elseif card.price == 50 %}
                  {% set imagePath = membership.data.giftCardSection.giftCard50Image.path %}
                  {% set cardName = 'Tarjeta de 50 CUC' %}
              {% elseif card.price == 100 %}
                  {% set imagePath = membership.data.giftCardSection.giftCard100Image.path %}
                  {% set cardName = 'Tarjeta de 100 CUC' %}
              {% endif %}
              <div class="d-flex">
                <img class="conceptos-image profile-image" src="{{ imagePath }}">
                <div class="d-flex flex-column justify-content-between ml-3">
                  <div class="d-flex flex-column">
                    <span class="conceptos-title-strong">{{cardName}}</span>
                    <span class="conceptos-title">${{card.price}}.00</span>
                    <span class="conceptos-title">CANTIDAD: {{card.count}}</span>
                  </div>
                </div>
              </div>
              <button class="view-profile-product-details"></button>
              <div id="profile-card-details-modal-{{totalCount}}" class="modal fade">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-body conceptos-gray-background">
                      <div class="d-flex flex-column">
                        <div class="d-flex">
                          <img class="conceptos-image profile-image mr-2" src="{{imagePath}}">
                          <div class="d-flex flex-column justify-content-between">
                            <div class="d-flex flex-column">
                              <span class="conceptos-title-strong">{{cardName}}</span>
                              <span class="conceptos-title">${{card.price}}.00</span>
                              <span class="conceptos-title">CANTIDAD: {{card.count}}</span>
                            </div>
                          </div>
                        </div>
                        <div class="d-flex flex-column mt-3">
                          {% if prefacture.request %}
                            <span class="conceptos-title-strong">FECHA DEL PEDIDO</span>
                            <span class="conceptos-subtitle">{{prefacture.request.date|date('d/m/Y')}}</span>
                            <span class="conceptos-title-strong">NÚMERO DEL PEDIDO</span>
                            <span class="conceptos-subtitle">PEDIDO {{prefacture.request.id}}-{{prefacture.request.date|date('Y')}}</span>
                          {% endif %}
                          <span class="conceptos-title-strong">FECHA DE LA PREFACTURA</span>
                          <span class="conceptos-subtitle">{{prefacture.date|date('d/m/Y')}}</span>
                          <span class="conceptos-title-strong">NÚMERO DE LA PREFACTURA</span>
                          <span class="conceptos-subtitle">PREFACTURA {{prefacture.id}}-{{prefacture.date|date('Y')}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endfor %}
      </div>
      <div class="d-flex flex-column order-1">
        <div class="d-flex flex-column conceptos-badge p-2 mt-2">
          <span class="conceptos-badge-text">RESUMEN</span>
          <div class="d-flex justify-content-between">
            <span class="conceptos-badge-text">COMPRAS TOTALES</span>
            <span class="conceptos-badge-text">{{totalCount}}</span>
          </div>
          <div class="d-flex justify-content-between">
            <span class="conceptos-badge-text">TARJETAS</span>
            <span class="conceptos-badge-text">{{totalCards}}</span>
          </div>
          <div class="d-flex justify-content-between">
            <span class="conceptos-badge-text">PRODUCTOS PEDIDOS</span>
            <span class="conceptos-badge-text">{{totalRequested}}</span>
          </div>
          <div class="d-flex justify-content-between">
            <span class="conceptos-badge-text">PRODUCTOS ENTREGADOS</span>
            <span class="conceptos-badge-text">{{totalDelivered}}</span>
          </div>
          <div class="d-flex justify-content-between">
            <span class="conceptos-badge-text-strong">TOTAL DE LAS COMPRAS</span>
            <span class="conceptos-badge-text-strong">${{totalPrice}}.00</span>
          </div>
        </div>
        {% if totalCount == 0 %}
          <span class="conceptos-subtitle align-self-center mt-2">NO HA REALIZADO COMPRAS</span>
        {% else %}
          <button class="conceptos-primary-button-gray align-self-center pl-3 pr-3 mt-2">DESCARGAR EN PDF</button>
        {% endif %}
      </div>
    </div>
  </div>
</div >

<div id="preview-template" style="display: none;">
    <div class="dz-preview dz-file-preview">
        <div class="dz-image custom-img">
            <div class="row h-100">
                <div class="col-12">
                    <img data-dz-thumbnail="" class="img-responsive center-block"/>
                </div>
            </div>
        </div>

        <div class="dz-details">
            <div class="dz-size"><span data-dz-size=""></span></div>
            <div class="dz-filename"><span data-dz-name=""></span></div>
        </div>
        <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress=""></span></div>
        <div class="dz-error-message"><span data-dz-errormessage=""></span></div>


        <div class="dz-success-mark">

            <svg width="54px" height="54px" viewBox="0 0 54 54" version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                <!-- Generator: Sketch 3.2.1 (9971) - http://www.bohemiancoding.com/sketch -->
                <title>Check</title>
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                    sketch:type="MSPage">
                    <path d="M23.5,31.8431458 L17.5852419,25.9283877 C16.0248253,24.3679711 13.4910294,24.366835 11.9289322,25.9289322 C10.3700136,27.4878508 10.3665912,30.0234455 11.9283877,31.5852419 L20.4147581,40.0716123 C20.5133999,40.1702541 20.6159315,40.2626649 20.7218615,40.3488435 C22.2835669,41.8725651 24.794234,41.8626202 26.3461564,40.3106978 L43.3106978,23.3461564 C44.8771021,21.7797521 44.8758057,19.2483887 43.3137085,17.6862915 C41.7547899,16.1273729 39.2176035,16.1255422 37.6538436,17.6893022 L23.5,31.8431458 Z M27,53 C41.3594035,53 53,41.3594035 53,27 C53,12.6405965 41.3594035,1 27,1 C12.6405965,1 1,12.6405965 1,27 C1,41.3594035 12.6405965,53 27,53 Z"
                          id="Oval-2" stroke-opacity="0.198794158" stroke="#747474"
                          fill-opacity="0.816519475"
                          fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
                </g>
            </svg>
        </div>
        <div class="dz-error-mark">
            <svg width="54px" height="54px" viewBox="0 0 54 54" version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                <!-- Generator: Sketch 3.2.1 (9971) - http://www.bohemiancoding.com/sketch -->
                <title>error</title>
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                    sketch:type="MSPage">
                    <g id="Check-+-Oval-2" sketch:type="MSLayerGroup" stroke="#747474"
                        stroke-opacity="0.198794158"
                        fill="#FFFFFF" fill-opacity="0.816519475">
                        <path d="M32.6568542,29 L38.3106978,23.3461564 C39.8771021,21.7797521 39.8758057,19.2483887 38.3137085,17.6862915 C36.7547899,16.1273729 34.2176035,16.1255422 32.6538436,17.6893022 L27,23.3431458 L21.3461564,17.6893022 C19.7823965,16.1255422 17.2452101,16.1273729 15.6862915,17.6862915 C14.1241943,19.2483887 14.1228979,21.7797521 15.6893022,23.3461564 L21.3431458,29 L15.6893022,34.6538436 C14.1228979,36.2202479 14.1241943,38.7516113 15.6862915,40.3137085 C17.2452101,41.8726271 19.7823965,41.8744578 21.3461564,40.3106978 L27,34.6568542 L32.6538436,40.3106978 C34.2176035,41.8744578 36.7547899,41.8726271 38.3137085,40.3137085 C39.8758057,38.7516113 39.8771021,36.2202479 38.3106978,34.6538436 L32.6568542,29 Z M27,53 C41.3594035,53 53,41.3594035 53,27 C53,12.6405965 41.3594035,1 27,1 C12.6405965,1 1,12.6405965 1,27 C1,41.3594035 12.6405965,53 27,53 Z"
                              id="Oval-2" sketch:type="MSShapeGroup"></path>
                    </g>
                </g>
            </svg>

        </div>
    </div>
</div>
