{% if mainCategory %}
    <nav class="products_breadcrumbs">
        <ul>
            <li>Productos</li>
            <li class="my_dropdown"> {{mainCategory.name}}
                <img src="{{ asset('bundles/conceptos/images/arrow.svg') }}" alt="">
                <ul class="my_dropdown__content">
                    {% for category in categories %}

                        {% set subCategories = '' %}
                        {% for subCategory in category.subCategories %}
                            {% set subCategories = subCategory.id ~ ', '~ subCategories %}
                        {% endfor %}

                        {% if category.parents | length == 0 %}
                            <li><a href="{{ path('products', {categories:subCategories}) }}">{{ category.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>

            <li class="my_dropdown">
                {% if mainSubcategory %}{{ mainSubcategory.name}} {% else %} Todos {% endif %}
                <img src="{{ asset('bundles/conceptos/images/arrow.svg') }}" alt="">
                <ul class="my_dropdown__content">
                    {% for subCategory in mainCategory.subcategories %}
                        <li><a href="{{ path('products', {categories:subCategory.id}) }}"> {{ subCategory }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </nav>
{% endif %}