{% set totalWeight = 0 %}
{% for product in shopCartProducts %}
  {% if product.type is not defined %}
    {% set totalWeight = totalWeight + product.weight %}
  {% endif %}
{% endfor %}
{% set numberOfPayedBags = 0 %}
{% set numberOfFreeBags = totalWeight/25 %}
<div id="cartPreviewModal" class="modal fade">
    <div class="modal-dialog modal-lg mt-0">
        <div class="modal-content">
            <div class="modal-body">
                <div class="shop-cart-product-list-section conceptos-add-scroll">
                    <div id="products-summary" class="d-flex flex-column m-3">
                        {{ render(controller('AppBundle:Site:productsSummary')) }}
                    </div>
                    {% if not shopCartBags %}
                      <div id="shop-cart-bags-badge">
                        <div class="d-flex align-items-center justify-content-between conceptos-yellow-background p-1">
                          <div class="d-flex align-items-center col-10 pl-0">
                            <img class="bag-icon ml-1" src="{{ asset('bundles/conceptos/images/home/bag.png') }}" alt="Bolsa IKEA">
                            <span class="bag-text ml-2">Hemos añadido {{numberOfFreeBags|round(0, 'ceil') }} bolsa gratis en su compra!</span>
                          </div>
                          <button class="add-bag-icon" data-path="{{ path('add_bags', {numberOfPayedBags: numberOfPayedBags, numberOfFreeBags: numberOfFreeBags}) }}">
                            <img src="{{ asset('bundles/conceptos/images/home/cart-black.png') }}">
                          </button>
                        </div>
                      </div>
                    {% endif %}
                    <div class="d-flex justify-content-between align-items-center conceptos-badge">
                        <div class="d-flex flex-column m-2">
                            <span class="conceptos-badge-text">CANTIDAD</span>
                            <span class="conceptos-badge-text shop-cart-products-count">{{count}} {% if count == 1 %}PRODUCTO{% else %}PRODUCTOS{% endif %}</span>
                        </div>
                        <div class="d-flex flex-column m-2">
                            <span class="conceptos-badge-text">PRECIO</span>
                            <span class="conceptos-badge-text shop-cart-total-price"></span>
                        </div>
                        <div class="d-flex flex-column justify-content-center align-items-center mr-2">
                            <a class="conceptos-go-to-cart p-1 p-lg-3" href="{{ path('shop-cart') }}">COMPRAR</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
