{% extends ':easy_admin:layout.html.twig' %}
{% block body_javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/conceptos/libs/dropzone/dropzone.js') }}"></script>
    <script src="{{ asset('bundles/conceptos/js/common.js') }}"></script>
    <script src="{{ asset('bundles/conceptos/js/new_edit_request.js') }}"></script>
{% endblock %}
{% block head_stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/conceptos/libs/select2/css/select2.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/conceptos/libs/select2/css/select2-bootstrap.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/conceptos/libs/dropzone/dropzone.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/conceptos/css/new_edit_product.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/conceptos/css/edit_page.css') }}" type="text/css" rel="stylesheet">
{% endblock %}
{% block content_title %}
    {% if action == 'new' %}
        Nuevo pedido
    {% else %}
        Editar pedido
    {% endif %}
{% endblock %}
{% block main %}
  {% if requestId is defined %}
      <div id="prefactureModal" class="modal fade" data-path="{{ path('request_facture_data', {id: requestId}) }}">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="d-flex">
                        <img class="img-responsive modal-header-image" width="100" height="100">
                        <div class="d-flex align-items-center" style="padding-left: 10px;">
                            <h4 class="modal-title"></h4>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="d-flex">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="control-label">Prefacturas</label>
                                <select id="modal-prefactures" class="form-control" multiple>
                                  {% for prefacture in prefactures %}
                                    {% if prefacture.request and prefacture.request.id == requestId %}
                                      <option value="{{prefacture.id}}--{{prefacture.date|date('Y')}}">Prefactura: {{ prefacture.id }}-{{prefacture.date|date('Y')}}</option>
                                    {% endif %}
                                  {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                              <label class="control-label">Cantidad</label>
                              <input id="modal-prefactures-count" type="number" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="modal-prefactures-accept" class="btn navigation-button"
                            data-path="{{ path('set_request_facture_data', {id: requestId}) }}">
                        Aceptar
                    </button>
                    <button class="btn navigation-button" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
      </div>
      <div id="factureModal" class="modal fade" data-action="{{action}}" data-path="{{ path('request_facture_data', {id: requestId}) }}">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="d-flex">
                        <img class="img-responsive modal-header-image" width="100" height="100">
                        <div class="d-flex align-items-center" style="padding-left: 10px;">
                            <h4 class="modal-title"></h4>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="d-flex">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="control-label">Facturas</label>
                                <select id="modal-factures" class="form-control" multiple>
                                  {% for facture in factures %}
                                    {% if facture.request and facture.request.id == requestId %}
                                      <option value="{{facture.id}}--{{facture.date|date('Y')}}">Factura: {{ facture.id }}-{{facture.date|date('Y')}}</option>
                                    {% endif %}
                                  {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                              <label class="control-label">Cantidad</label>
                              <input id="modal-factures-count" type="number" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="modal-factures-accept" class="btn navigation-button"
                            data-path="{{ path('set_request_facture_data', {id: requestId}) }}">
                        Aceptar
                    </button>
                    <button class="btn navigation-button" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
      </div>
  {% endif %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label class="control-label">Fecha</label>
          <input type="date" class="form-control" id="date">
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label class="control-label">Cliente</label>
          <select class="form-control" id="client" multiple>
              {% for client in clients %}
                  <option value="{{ client.id }}">{{ client.name }}</option>
              {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label class="control-label">Costo de Transporte</label>
          <input type="number" class="form-control" id="transportCost">
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label class="control-label">Descuento de Miembro</label>
          <input type="number" class="form-control" id="discount" disabled>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label class="control-label">Descuento de Primera Compra</label>
          <input type="number" class="form-control" id="firstClientDiscount" disabled>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label class="control-label">Precio Final</label>
          <input type="number" class="form-control" id="finalPrice" disabled>
        </div>
      </div>
      <div class="d-flex flex-wrap col-12">
        <div class="col-12" style="padding-left: 0; padding-right: 0;">
          <div class="panel panel-primary" style="height: 100%;">
            <div class="panel-heading">
                <h3 class="panel-title">Productos</h3>
            </div>
            <div class="panel-body">
              <div class="d-flex flex-column">
                <div class="d-flex flex-wrap">
                  <div class="col-6" style="padding-left: 0;">
                    <div class="form-group">
                      <label class="control-label">Producto</label>
                      <select id="product" class="form-control" multiple>
                        {% for product in products %}
                          <option value="{{ product.id }}--{{ product.code }}--{{ product.mainImage }}">{{ product.code }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label class="control-label">Cantidad</label>
                      <input id="product-count" type="number" class="form-control">
                    </div>
                  </div>
                  <div class="col-12" style="padding-left: 0;">
                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                            <input id="product-airplane-forniture" type="checkbox"><strong>Mueble por Avión</strong>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-12" style="padding-left: 0;">
                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                            <input id="product-airplane-mattress" type="checkbox"><strong>Colchón por Avión</strong>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex">
                  <button id="add-product" class="btn btn-primary align-self-start" style="margin-top: 10px;margin-bottom: 10px;">Añadir</button>
                  <button id="edit-product" class="btn btn-primary align-self-start" style="margin-top: 10px;margin-bottom: 10px;display: none;">Editar</button>
                  <button id="cancel-edit-product" class="btn btn-primary align-self-start" style="margin-top: 10px;margin-bottom: 10px;display: none;">Cancelar</button>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-condensed">
                  <thead>
                  <tr>
                    <th>Imágen</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Mueble por Avión</th>
                    <th>Colchón por Avión</th>
                    <th>Acciones</th>
                  </tr>
                  </thead>
                  <tbody class="product-rows">
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12" style="padding-left: 0; padding-right: 0; margin-top: 20px;">
          <div class="panel panel-primary" style="height: 100%;">
            <div class="panel-heading">
                <h3 class="panel-title">Tarjetas</h3>
            </div>
            <div class="panel-body">
              <div class="d-flex flex-column">
                <div class="d-flex flex-wrap">
                  <div class="col-6" style="padding-left: 0;">
                    <div class="form-group">
                      <label class="control-label">Tarjeta</label>
                      <select id="card" class="form-control" multiple>
                        <option value="15">15</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label class="control-label">Cantidad</label>
                      <input id="card-count" type="number" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="d-flex">
                  <button id="add-card" class="btn btn-primary align-self-start" style="margin-top: 10px;margin-bottom: 10px;">Añadir</button>
                  <button id="edit-card" class="btn btn-primary align-self-start" style="margin-top: 10px;margin-bottom: 10px;display: none;">Editar</button>
                  <button id="cancel-edit-card" class="btn btn-primary align-self-start" style="margin-top: 10px;margin-bottom: 10px;display: none;">Cancelar</button>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-condensed">
                  <thead>
                  <tr>
                    <th>Tarjeta</th>
                    <th>Cantidad</th>
                    <th>Acciones</th>
                  </tr>
                  </thead>
                  <tbody class="card-rows">
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12" style="margin-top: 20px;">
          <div class="col-12" style="padding-left: 0; padding-right: 0;">
          <div class="panel panel-primary" style="height: 100%;">
            <div class="panel-heading">
                <h3 class="panel-title">Prefacturas Asociadas</h3>
            </div>
            <div class="panel-body">
              <div class="col-12" style="padding-left: 0;">
                <div class="form-group">
                  <label class="control-label">Prefacturas</label>
                  <select id="prefacture" class="form-control" multiple>
                    {% for prefacture in prefactures %}
                      <option value="{{prefacture.id}}--{{prefacture.date|date('Y')}}">Prefactura: {{ prefacture.id }}-{{prefacture.date|date('Y')}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="d-flex">
                <button id="add-prefacture" class="btn btn-primary align-self-start" style="margin-top: 10px;margin-bottom: 10px;">Añadir</button>
              </div>
              <div class="table-responsive">
                <table class="table table-condensed">
                  <thead>
                  <tr>
                    <th>Prefactura</th>
                    <th>Acciones</th>
                  </tr>
                  </thead>
                  <tbody class="prefacture-rows">
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
          <div class="col-12" style="padding-left: 0; padding-right: 0;">
          <div class="panel panel-primary" style="height: 100%;">
            <div class="panel-heading">
                <h3 class="panel-title">Facturas Asociadas</h3>
            </div>
            <div class="panel-body">
              <div class="col-12" style="padding-left: 0;">
                <div class="form-group">
                  <label class="control-label">Facturas</label>
                  <select id="facture" class="form-control" multiple>
                    {% for facture in factures %}
                      <option value="{{facture.id}}--{{facture.date|date('Y')}}">Factura: {{ facture.id }}-{{facture.date|date('Y')}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="d-flex">
                <button id="add-facture" class="btn btn-primary align-self-start" style="margin-top: 10px;margin-bottom: 10px;">Añadir</button>
              </div>
              <div class="table-responsive">
                <table class="table table-condensed">
                  <thead>
                  <tr>
                    <th>Factura</th>
                    <th>Acciones</th>
                  </tr>
                  </thead>
                  <tbody class="facture-rows">
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {{ form_start(form) }}
        <button class="btn btn-primary pull-left" type="submit" id="save_data">
          <i class="fa fa-plus"></i>
          Aceptar
        </button>
        <a class="btn btn-secondary action-list pull-left"
          href="{{ path('easyadmin', {'entity': 'Request', 'action': 'list'}) }}">
          Cancelar
        </a>
        {{ form_end(form) }}
      </div>
    </div>
  </div>
{% endblock %}
