{% extends ':easy_admin:layout.html.twig' %}
{% block body_javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/conceptos/libs/dropzone/dropzone.js') }}"></script>
    {% if action == 'edit' %}
        <script src="{{ asset('bundles/conceptos/js/init.js') }}"></script>
    {% endif %}
    <script src="{{ asset('bundles/conceptos/js/common.js') }}"></script>
    <script src="{{ asset('bundles/conceptos/js/new_edit_product.js') }}"></script>
{% endblock %}
{% block head_stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/conceptos/libs/select2/css/select2.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/conceptos/libs/select2/css/select2-bootstrap.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/conceptos/libs/dropzone/dropzone.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/conceptos/css/new_edit_product.css') }}" type="text/css" rel="stylesheet">
{% endblock %}
{% block content_title %}
    {% if action == 'new' %}
        Nuevo producto
    {% else %}
        Editar producto
    {% endif %}
{% endblock %}
{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label class="control-label">Nombre</label>
                    <input type="text" class="form-control" id="name">
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label class="control-label">Código</label>
                    <input type="text" class="form-control" id="code">
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label class="control-label">Item</label>
                    <input type="text" class="form-control" id="item">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label class="control-label">Descripción</label>
                    <textarea class="form-control" id="description" rows="4"></textarea>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="popular"> <strong>Popular</strong>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="control-label">Color</label>
                            <select class="form-control" id="color" multiple>
                                {% for color in colors %}
                                    <option value="{{ color.id }}">{{ color.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="recent"> <strong>Proximamente</strong>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="control-label">Material</label>
                            <select class="form-control" id="material" multiple>
                                {% for material in materials %}
                                    <option value="{{ material.id }}">{{ material.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="in-store"> <strong>En almacén</strong>
                    </label>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group store-count-content" style="display: none;">
                    <label class="control-label">Cantidad en Almacén</label>
                    <input type="number" class="form-control" id="store-count">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="control-label">Categoría</label>
                            <select class="form-control" id="category" multiple>
                                {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="control-label">Peso</label>
                                    <input type="number" class="form-control" id="weight" min="1">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="control-label">Precio IKEA</label>
                                    <input type="number" class="form-control" id="ikea-price" min="1">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="control-label">Límite por envío</label>
                                    <input type="number" class="form-control" id="shipping-limit" min="1">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="control-label">Número de Paquetes</label>
                                    <input type="number" class="form-control" id="number-of-packages" min="1">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="is-furniture"> <strong>Es Mobiliario</strong>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="is-airplane-furniture"> <strong>Mobiliario por Avion</strong>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="is-fragile"> <strong>Es Fragil</strong>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="is-oversize"> <strong>Es Sobremedida</strong>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="is-tableware"> <strong>Es Juego de Vajilla</strong>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="is-lamp"> <strong>Es Lámpara</strong>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <button class="btn btn-danger btn-calculate-price"
                                        data-path="{{ path('calculate_product_price') }}" style="margin-top: 20px;">
                                    Calcular
                                    Precio
                                </button>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="control-label">Precio Calculado</label>
                                    <input type="number" class="form-control" id="calculate-price">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="control-label">Precio</label>
                                    <input type="number" class="form-control" id="price">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="is-highlight"> <strong>Destacado</strong>
                    </label>
                </div>
                <form class="dropzone" id="picture-highlight-dropzone" action="{{ path('upload') }}">
                    <div class="dz-message needsclick colp" style="font-size: 25px;">
                        Seleccione las imágenes del producto destacado
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form class="dropzone" id="picture-dropzone" action="{{ path('upload') }}">
                    <div class="dz-message needsclick colp" style="font-size: 25px;">
                        Seleccione una imágen
                    </div>
                </form>
            </div>
            <div class="col-12">
                <form class="dropzone" id="pictures-dropzone" action="{{ path('upload') }}">
                    <div class="dz-message needsclick colp" style="font-size: 25px;">
                        Seleccione el resto de las imágenes
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="control-label">Categorías Favoritas</label>
                    <select class="form-control" id="category-favorite" multiple>
                        {% for category in parents %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-12">
                {{ form_start(form) }}
                <button class="btn btn-primary pull-left" type="submit" id="save_data">
                    <i class="fa fa-plus"></i>
                    Aceptar
                </button>
                <a class="btn btn-secondary action-list pull-left"
                   href="{{ path('easyadmin', {'entity': 'Product', 'action': 'list'}) }}">
                    Cancelar
                </a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <div id="preview-template" style="display: none;">
        <div class="dz-preview dz-file-preview">
            <div class="dz-image custom-img">
                <div class="row">
                    <div class="col-12">
                        <img data-dz-thumbnail="" class="img-responsive center-block"/>
                    </div>
                </div>
            </div>

            <div class="dz-details">
                <div class="dz-size"><span data-dz-size=""></span></div>
                <div class="dz-filename"><span data-dz-name=""></span></div>
            </div>
            <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress=""></span></div>
            <div class="dz-error-message"><span data-dz-errormessage=""></span></div>


            <div class="dz-success-mark">

                <svg width="54px" height="54px" viewBox="0 0 54 54" version="1.1"
                     xmlns="http://www.w3.org/2000/svg"
                     xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                    <!-- Generator: Sketch 3.2.1 (9971) - http://www.bohemiancoding.com/sketch -->
                    <title>Check</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                       sketch:type="MSPage">
                        <path d="M23.5,31.8431458 L17.5852419,25.9283877 C16.0248253,24.3679711 13.4910294,24.366835 11.9289322,25.9289322 C10.3700136,27.4878508 10.3665912,30.0234455 11.9283877,31.5852419 L20.4147581,40.0716123 C20.5133999,40.1702541 20.6159315,40.2626649 20.7218615,40.3488435 C22.2835669,41.8725651 24.794234,41.8626202 26.3461564,40.3106978 L43.3106978,23.3461564 C44.8771021,21.7797521 44.8758057,19.2483887 43.3137085,17.6862915 C41.7547899,16.1273729 39.2176035,16.1255422 37.6538436,17.6893022 L23.5,31.8431458 Z M27,53 C41.3594035,53 53,41.3594035 53,27 C53,12.6405965 41.3594035,1 27,1 C12.6405965,1 1,12.6405965 1,27 C1,41.3594035 12.6405965,53 27,53 Z"
                              id="Oval-2" stroke-opacity="0.198794158" stroke="#747474"
                              fill-opacity="0.816519475"
                              fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
                    </g>
                </svg>
            </div>
            <div class="dz-error-mark">
                <svg width="54px" height="54px" viewBox="0 0 54 54" version="1.1"
                     xmlns="http://www.w3.org/2000/svg"
                     xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                    <!-- Generator: Sketch 3.2.1 (9971) - http://www.bohemiancoding.com/sketch -->
                    <title>error</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                       sketch:type="MSPage">
                        <g id="Check-+-Oval-2" sketch:type="MSLayerGroup" stroke="#747474"
                           stroke-opacity="0.198794158"
                           fill="#FFFFFF" fill-opacity="0.816519475">
                            <path d="M32.6568542,29 L38.3106978,23.3461564 C39.8771021,21.7797521 39.8758057,19.2483887 38.3137085,17.6862915 C36.7547899,16.1273729 34.2176035,16.1255422 32.6538436,17.6893022 L27,23.3431458 L21.3461564,17.6893022 C19.7823965,16.1255422 17.2452101,16.1273729 15.6862915,17.6862915 C14.1241943,19.2483887 14.1228979,21.7797521 15.6893022,23.3461564 L21.3431458,29 L15.6893022,34.6538436 C14.1228979,36.2202479 14.1241943,38.7516113 15.6862915,40.3137085 C17.2452101,41.8726271 19.7823965,41.8744578 21.3461564,40.3106978 L27,34.6568542 L32.6538436,40.3106978 C34.2176035,41.8744578 36.7547899,41.8726271 38.3137085,40.3137085 C39.8758057,38.7516113 39.8771021,36.2202479 38.3106978,34.6538436 L32.6568542,29 Z M27,53 C41.3594035,53 53,41.3594035 53,27 C53,12.6405965 41.3594035,1 27,1 C12.6405965,1 1,12.6405965 1,27 C1,41.3594035 12.6405965,53 27,53 Z"
                                  id="Oval-2" sketch:type="MSShapeGroup"></path>
                        </g>
                    </g>
                </svg>

            </div>
        </div>
    </div>
{% endblock %}
