<div class="product">
    <a class="hide" href="{{ path('product', {id: product.id}) }}">
    <div class="product__image">
      {% if product.mainImage %}
        {{ vich_uploader_asset(product.mainImage, 'imageFile') | imgTag(sizes = '50vw') | raw }}
      {% endif %}
    </div>
    <div class="product__content">
        <div class="product__content__name">
            <h4>{{ product.name }}</h4>
        </div>
        <div class="product__content__description">
            <p>{{ product.description | striptags | slice(0, 25) }}...</p>
        </div>
        <div class="product__content__time in-store">
            <p>Entrega en 24h</p>
        </div>
        <div class="product__content__variations">
            <p>Otras variantes</p>
        </div>
        <div class="product__content__price">
            <p>${{ product.calculatePrice }}.00</p>
        </div>
        <div class="product__content__cart">

        </div>
    </div>
    </a>
</div>
