{% if mainCategory %}
    <nav class="products_breadcrumbs">
        <ul>
            <li><span>Productos</span></li>
            <li class="my_dropdown"> <span>
                    {{mainCategory.name}}
                    <img src="{{ asset('bundles/conceptos/images/arrow.svg') }}" alt="">
                </span>

                <ul class="my_dropdown__content my_dropdown__content--left">
                    {% for category in categories %}

                        {% set subCategories = '' %}
                        {% for subCategory in category.subCategories %}
                            {% set subCategories = subCategory.id ~ ', '~ subCategories %}
                        {% endfor %}

                        {% if category.parents | length == 0 %}
                            <li><a href="{{ path('products', {categories:subCategories}) }}">{{ category.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>

            <li class="my_dropdown">
                <span>
                    {% if mainSubcategory %}{{ mainSubcategory.name}} {% else %} Todos {% endif %}
                    <img src="{{ asset('bundles/conceptos/images/arrow.svg') }}" alt="">
                </span>

                <ul class="my_dropdown__content
                    {% if mainCategory.id == 61 or mainCategory.id == 134 %}
                        my_dropdown__content--right
                    {% else %}
                        my_dropdown__content--left
                    {% endif %}
                                                ">
                    {% for subCategory in mainCategory.subcategories %}
                        <li><a href="{{ path('products', {categories:subCategory.id}) }}"> {{ subCategory }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </nav>
{% endif %}