<a class="d-flex flex-column conceptos-product-card col-6 col-lg-3 p-2 p-lg-3 {% if product.priceOffer != -1 %}popular_product{% endif %}"
   href="{{ path('product_details', {id: product.id, name: product.name}) }}">
  <div class="d-flex align-items-center conceptos-white-background p-2">
    {% if app.user|default %}
      <span data-path-add="{{ path('add_to_favorite', {id: product.id}) }}"
         data-path-remove="{{ path('remove_from_favorite', {id: product.id}) }}"
         class="favorite-product {% if product.favorite %}favorite{% endif %}">
         <i class="fa fa-heart"></i>
      </span>
    {% endif %}
    <img class="conceptos-image conceptos-product-image" src="{{ vich_uploader_asset(product.mainImage, 'imageFile') }}">
  </div>
  <div class="d-flex flex-column conceptos-white-background pl-2 pr-2 pb-3 w-100">
    <span class="conceptos-product-info">{{product.name}}</span>
    <span class="conceptos-product-info-description">{{product.item}}</span>
    <div class="d-flex align-items-center">
      {% if product.priceOffer != -1 %}
        <span class="conceptos-product-info conceptos-product-price mr-2">$&nbsp;{{product.priceOffer}}</span>
        <span class="conceptos-product-info conceptos-offer-price">$&nbsp;{{product.price}}</span>
      {% else %}
        <span class="conceptos-product-info conceptos-product-price">$&nbsp;{{product.price}}</span>
      {% endif %}
    </div>
    <div class="d-flex justify-content-between align-items-center mt-1">
      <div class="d-flex flex-column conceptos-product-badges">
        {% if product.inStore %}
          <span class="conceptos-in-store-product-badge">ALMACÉN</span>
        {% endif %}
        {% if product.recent %}
          <span class="conceptos-new-product-badge">NUEVO</span>
        {% endif %}
      </div>
      <button class="conceptos-add-to-cart-icon" data-path="{{ path('add_shop_card', {id: product.id}) }}">
        <img src="{{ asset('bundles/conceptos/images/home/cart.png') }}">
      </button>
    </div>
    {% if app.user|default %}
      {% if is_granted('ROLE_COMMERCIAL') %}
      <div class="conceptos-divider mt-2 mb-2"></div>
      <span class="conceptos-product-info">{{product.code}}</span>
      <span class="conceptos-product-info-admin">Cant Almacén: {{product.storeCount}}</span>
      <span class="conceptos-product-info-admin">Material: {{product.material.name}}</span>
      <span class="conceptos-product-info-admin">Color: {{product.color.name}}</span>
      <span class="conceptos-product-info-admin">Peso: {{product.weight}}</span>
      <span class="conceptos-product-info-admin">Precio Ikea: ${{product.ikeaPrice}}.</span>
      {% endif %}
    {% endif %}
  </div>
</a>
