{% block css %}
  <link rel="stylesheet" href="{{ asset('bundles/conceptos/home/css/home.css') }}">
  <style>
    #slide-preview {
      transform: scale(0.25);
      position: relative;
      width: calc(4 * 313px);
      left: -470px;
    }
  </style>
{% endblock %}

<div class="row">
    <div class="col-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Slide</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="control-label">Principal</label>
                                    <input type="text" class="form-control" id="header-main">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="control-label">Secundario</label>
                                    <input type="text" class="form-control" id="header-secondary">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="control-label">Enlace</label>
                                    <input type="text" class="form-control" id="slide-link">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="center-block">
                            <form class="dropzone" id="picture-dropzone-header"
                                  action="{{ path('upload_site_image') }}">
                                <div class="dz-message needsclick colp" style="font-size: 25px;">
                                    Seleccione una imágen para escritorio
                                </div>
                            </form>
                            <div class="center-block">
                              <form class="dropzone" id="picture-dropzone-header-mobile"
                                    action="{{ path('upload_site_image') }}">
                                  <div class="dz-message needsclick colp" style="font-size: 25px;">
                                      Seleccione una imágen para móviles
                                  </div>
                              </form>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-12">
                      <button class="btn btn-primary" id="btn-add-image-video">
                          Añadir
                      </button>
                  </div>
                </div>
                <div class="row">
                    <div class="col-12">
                      <div class="checkbox">
                          <label>
                              <input type="checkbox" id="prioritize-slide-text"> <strong>Priorizar texto del slide</strong>
                          </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-12 col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Posición horizontal</label>
                      <select class="form-control" id="horizontal-position">
                        <option value="start">Inicio</option>
                        <option value="center">Centro</option>
                        <option value="end">Final</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-12 col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Posición vertical</label>
                      <select class="form-control" id="vertical-position">
                        <option value="start">Inicio</option>
                        <option value="center">Centro</option>
                        <option value="end">Final</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-12 col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Estilo del hover</label>
                      <select class="form-control" id="hover-style">
                        <option value="none">Ninguno</option>
                        <option value="text">Solo en texto</option>
                        <option value="full">Todo el slide</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-12 col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Color del hover</label>
                      <div id="hover-color">Seleccionar Color</div>
                    </div>
                  </div>
                  <div class="col-12 col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Márgen superior</label>
                      <input type="number" class="form-control" id="slide-top-margin">
                    </div>
                  </div>
                  <div class="col-12 col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Márgen inferior</label>
                      <input type="number" class="form-control" id="slide-bottom-margin">
                    </div>
                  </div>
                  <div class="col-12 col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Márgen izquierdo</label>
                      <input type="number" class="form-control" id="slide-left-margin">
                    </div>
                  </div>
                  <div class="col-12 col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Márgen derecho</label>
                      <input type="number" class="form-control" id="slide-right-margin">
                    </div>
                  </div>
                  <div class="col-12 col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Tamaño de Fuente</label>
                      <input type="number" class="form-control" id="slide-font-size">
                    </div>
                  </div>
                  <div class="col-12 col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Color de la fuente</label>
                      <div id="slide-font-color">Seleccionar Color</div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" id="show-slide-preview"> <strong>Vista Previa</strong>
                      </label>
                    </div>
                  </div>
                  <div id="slide-section" class="col-12" style="display: none;padding:0">
                    <button type="submit" id="update-slide-preview" class="btn btn-primary" style="margin-bottom: 10px;"
                            data-path="{{ path('update_slide') }}">
                      Actualizar
                    </button>
                    <iframe id="slide-preview" data-path="{{ path('site_home', {onlySlide: true}) }}" width="1920" height="auto">
                    </iframe>
                  </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="panel panel-default" style="margin-top: 20px;">
                            <div class="panel-heading">
                                <h3 class="panel-title">Slides añadidos</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row row-header-images">
                                    <div class="col-3">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Slide #%6</h3>
                                            </div>
                                            <div class="panel-body">
                                                <img src="%1"
                                                     class="img-responsive img-header center-block"
                                                     height="150" width="150">
                                                <p class="video-link">%4</p>
                                                <p class="video-link">%5</p>
                                                <p class="video-link">%3</p>
                                            </div>
                                            <div class="panel-footer">
                                                <div class="center-block">
                                                    <a class="btn btn-link btn-secondary pull-right btn-remove-header-image"
                                                       data-id="%2">Eliminar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Estilos de productos populares y almacén</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-6">
            <label class="control-label">Estilo de productos populares (Escritorio)</label>
            <select id="popular-products-style-select-desktop" class="control-label" multiple>
              <option value="2x6">2x6</option>
              <option value="3x6">3x6</option>
              <option value="4x6">4x6</option>
            </select>
          </div>
          <div class="col-6">
            <label class="control-label">Estilo de productos en almacén (Escritorio)</label>
            <select id="store-products-style-select-desktop" class="control-label" multiple>
              <option value="1x2">1x2</option>
              <option value="1x3">1x3</option>
              <option value="1x4">1x4</option>
              <option value="2x2">2x2</option>
              <option value="3x2">3x2</option>
              <option value="4x2">4x2</option>
              <option value="2x3">2x3</option>
              <option value="3x3">3x3</option>
              <option value="4x3">4x3</option>
            </select>
          </div>
          <div class="col-6" style="margin-top: 10px;">
            <label class="control-label">Estilo de productos populares (Movil)</label>
            <select id="popular-products-style-select-mobile" class="control-label" multiple>
              <option value="2x2">2x2</option>
              <option value="3x2">3x2</option>
              <option value="4x2">4x2</option>
              <option value="2x3">2x3</option>
              <option value="3x3">3x3</option>
              <option value="4x3">4x3</option>
            </select>
          </div>
          <div class="col-6" style="margin-top: 10px;">
            <label class="control-label">Estilo de productos en almacén (Movil)</label>
            <select id="store-products-style-select-mobile" class="control-label" multiple>
              <option value="1x1">1x1</option>
              <option value="1x2">1x2</option>
              <option value="2x2">2x2</option>
              <option value="3x2">3x2</option>
              <option value="4x2">4x2</option>
              <option value="2x3">2x3</option>
              <option value="3x3">3x3</option>
              <option value="4x3">4x3</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Sección Superior</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-6">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="control-label">Enlace de la imágen</label>
                                <input type="text" class="form-control" id="top-image-1-link">
                            </div>
                        </div>
                        <div class="col-12">
                            <form class="dropzone" id="picture-dropzone-top-1" action="{{ path('upload_site_image') }}">
                                <div class="dz-message needsclick colp" style="font-size: 25px;">
                                    Seleccione una imágen
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="control-label">Enlace de la imágen</label>
                                <input type="text" class="form-control" id="top-image-2-link">
                            </div>
                        </div>
                        <div class="col-12">
                            <form class="dropzone" id="picture-dropzone-top-2" action="{{ path('upload_site_image') }}">
                                <div class="dz-message needsclick colp" style="font-size: 25px;">
                                    Seleccione una imágen
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Subtítulos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="control-label">Subtítulo de En Almacén</label>
                            <input type="text" class="form-control" id="in-store-subtitle">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="control-label">Subtítulo de Novedades</label>
                            <input type="text" class="form-control" id="recent-subtitle">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Populares</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="control-label">Título</label>
                            <input type="text" class="form-control" id="populars-title">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="control-label">Subtítulo</label>
                            <input type="text" class="form-control" id="populars-subtitle">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Almacén - Titulo seccion</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="control-label">Título</label>
                            <input type="text" class="form-control" id="store-title">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="control-label">Subtítulo</label>
                            <input type="text" class="form-control" id="store-subtitle">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Servicios</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-12">
                        <form class="dropzone" id="services-dropzone" action="{{ path('upload_site_image') }}">
                            <div class="dz-message needsclick colp" style="font-size: 25px;">
                                Seleccione una imágen
                            </div>
                        </form>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="control-label">Título</label>
                            <input type="text" class="form-control" id="services-title">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="control-label">Subtítulo</label>
                            <input type="text" class="form-control" id="services-subtitle">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Marcas Cubanas</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="control-label">Título</label>
                            <input type="text" class="form-control" id="cuban-brands-title">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="control-label">Subtítulo</label>
                            <input type="text" class="form-control" id="cuban-brands-subtitle">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">APP</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label class="control-label">App</label>
                            <input type="text" class="form-control" id="app-app">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="control-label">Base de Datos</label>
                            <input type="text" class="form-control" id="app-db">
                        </div>
                    </div>
                    <div class="col-4">
                        <form class="dropzone" id="picture-dropzone-app" action="{{ path('upload_site_image') }}">
                            <div class="dz-message needsclick colp" style="font-size: 25px;">
                                Seleccione una imágen
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Redes sociales</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="control-label">Texto</label>
                            <input type="text" class="form-control" id="social-network">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="control-label">Red social</label>
                                    <select class="control-label" multiple id="social-network-select">
                                        <option value="facebook">Facebook</option>
                                        <option value="google">Google +</option>
                                        <option value="pinterest">Pinterest</option>
                                        <option value="twitter">Twitter</option>
                                        <option value="instagram">Instagram</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="control-label">Enlace</label>
                                    <input type="text" class="form-control" id="social-network-link">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button class="btn btn-primary btn-add-social-network pull-right"
                                        data-edit="false">
                                    Añadir
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped table-condensed table-social-networks">
                                <thead>
                                <tr>
                                    <th>Red</th>
                                    <th class="text-center">Enlace</th>
                                    <th>Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td colspan="3" class="text-center">Sin redes sociales añadidas</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Blog</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="control-label">Principal</label>
                            <input type="text" class="form-control" id="blog-main">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="control-label">Secundario</label>
                            <input type="text" class="form-control" id="blog-secondary">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Catálogo
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-4"></div>
                <div class="col-4">
                    <div class="center-block">
                        <form class="dropzone" id="picture-dropzone-cataloge"
                              action="{{ path('upload_site_image') }}">
                            <div class="dz-message needsclick colp" style="font-size: 25px;">
                                Seleccione un PDF
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-4"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Contacto</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label class="control-label">Principal</label>
                            <input type="text" class="form-control" id="contact-main">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="control-label">Secundario</label>
                            <input type="text" class="form-control" id="contact-secondary">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="center-block">
                            <form class="dropzone" id="picture-dropzone-contact"
                                  action="{{ path('upload_site_image') }}">
                                <div class="dz-message needsclick colp" style="font-size: 25px;">
                                    Seleccione una imágen
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group">
                          <label class="control-label">Teléfono</label>
                          <input type="text" class="form-control" id="contact-phone">
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group">
                          <label class="control-label">Correo Comercial</label>
                          <input type="text" class="form-control" id="contact-email">
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group">
                          <label class="control-label">Dirección de Oficina</label>
                          <input type="text" class="form-control" id="contact-address">
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group">
                          <label class="control-label">Horario de Atención</label>
                          <input type="text" class="form-control" id="contact-schedule">
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Propaganda</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="control-label">Nombre</label>
                            <input type="text" class="form-control" id="advertisement-name">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="control-label">Sección</label>
                            <select id="advertisement-section" class="form-control">
                                <option value="1">Home</option>
                                <option value="2">Detalles del Producto</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="control-label">Enlace</label>
                            <input type="text" class="form-control" id="advertisement-link">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="control-label">Prioridad</label>
                            <input type="number" class="form-control" id="advertisement-priority">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="center-block">
                            <form class="dropzone" id="picture-dropzone-advertisement-image"
                                  action="{{ path('upload_site_image') }}">
                                <div class="dz-message needsclick colp" style="font-size: 25px;">
                                    Seleccione una imágen
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12" style="margin-top: 20px;">
                        <button class="btn btn-primary" id="btn-add-advertisement">Añadir</button>
                        <button class="btn btn-primary" id="btn-edit-advertisement" style="display:none;">Editar</button>
                        <button class="btn btn-primary" id="btn-cancel-edit-advertisement" style="display:none;">Cancelar</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="panel panel-default" style="margin-top: 20px;">
                            <div class="panel-heading">
                                <h3 class="panel-title">Propaganda añadida</h3>
                            </div>
                            <div class="panel-body">
                                <div class="d-flex flex-wrap row-advertisement">
                                    <div class="col-3">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Propaganda #%6</h3>
                                            </div>
                                            <div class="panel-body">
                                                <img src="%1"
                                                     class="img-responsive img-header center-block"
                                                     height="150" width="150">
                                                <p class="video-link">%3</p>
                                                <p class="video-link">%4</p>
                                                <p class="video-link">%5</p>
                                            </div>
                                            <div class="panel-footer">
                                                <div class="center-block">
                                                    <a class="btn btn-link btn-secondary pull-right btn-remove-advertisement"
                                                       data-id="%2">Eliminar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Login</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-6">
                        <div class="col-12">
                            <h4>Imágen de Login para pantallas grandes</h4>
                        </div>
                        <div class="col-12">
                            <div class="center-block">
                                <form class="dropzone" id="picture-dropzone-login"
                                      action="{{ path('upload_site_image') }}">
                                    <div class="dz-message needsclick colp" style="font-size: 25px;">
                                        Seleccione una imágen
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="col-12">
                            <h4>Imágen de Login para pantallas pequeñas</h4>
                        </div>
                        <div class="col-12">
                            <div class="center-block">
                                <form class="dropzone" id="picture-dropzone-login-short"
                                      action="{{ path('upload_site_image') }}">
                                    <div class="dz-message needsclick colp" style="font-size: 25px;">
                                        Seleccione una imágen
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Carrito de compras</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="control-label">Texto principal</label>
                            <input type="text" class="form-control" id="shop-cart-main-text">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="control-label">Texto secundario</label>
                            <input type="text" class="form-control" id="shop-cart-secondary-text">
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-12">
                      <div class="form-group">
                          <label class="control-label">Texto para entrega a domicilio</label>
                          <input type="text" class="form-control" id="home-delivery-text">
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                      <div class="form-group">
                          <label class="control-label">Texto para tipo de moneda</label>
                          <input type="text" class="form-control" id="currency-type-text">
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                      <div class="form-group">
                          <label class="control-label">Texto para plazos de pago</label>
                          <input type="text" class="form-control" id="payment-type-text">
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Correo de compra exitosa</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-4">
                        <div class="center-block">
                            <form class="dropzone" id="picture-dropzone-success-mail"
                                  action="{{ path('upload_site_image') }}">
                                <div class="dz-message needsclick colp" style="font-size: 25px;">
                                    Seleccione una imágen
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Logotipo</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-4">
                        <div class="center-block">
                            <form class="dropzone" id="picture-dropzone-logo"
                                  action="{{ path('upload_site_image') }}">
                                <div class="dz-message needsclick colp" style="font-size: 25px;">
                                    Seleccione una imágen
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-12">
      <div class="panel panel-primary">
          <div class="panel-heading">
              <h3 class="panel-title">Testimonios</h3>
          </div>
          <div class="panel-body">
              <div class="row">
                  <div class="col-12">
                      <div class="panel panel-default" style="margin-top: 20px;">
                          <div class="panel-heading">
                              <h3 class="panel-title">Testimonio 1</h3>
                          </div>
                          <div class="panel-body">
                              <div class="form-group">
                                  <label class="control-label">Texto</label>
                                  <input type="text" class="form-control" id="testimony-text-1">
                              </div>
                              <div class="form-group">
                                  <label class="control-label">Autor</label>
                                  <input type="text" class="form-control" id="testimony-author-1">
                              </div>
                          </div>
                      </div>
                      <div class="panel panel-default" style="margin-top: 20px;">
                          <div class="panel-heading">
                              <h3 class="panel-title">Testimonio 2</h3>
                          </div>
                          <div class="panel-body">
                              <div class="form-group">
                                  <label class="control-label">Texto</label>
                                  <input type="text" class="form-control" id="testimony-text-2">
                              </div>
                              <div class="form-group">
                                  <label class="control-label">Autor</label>
                                  <input type="text" class="form-control" id="testimony-author-2">
                              </div>
                          </div>
                      </div>
                      <div class="panel panel-default" style="margin-top: 20px;">
                          <div class="panel-heading">
                              <h3 class="panel-title">Testimonio 3</h3>
                          </div>
                          <div class="panel-body">
                              <div class="form-group">
                                  <label class="control-label">Texto</label>
                                  <input type="text" class="form-control" id="testimony-text-3">
                              </div>
                              <div class="form-group">
                                  <label class="control-label">Autor</label>
                                  <input type="text" class="form-control" id="testimony-author-3">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
