<div class="d-flex flex-column mt-2">
  <header>
    <span class="conceptos-title">DÉJANOS UN COMENTARIO</span>
  </header>
  {{ form_start(form, {'attr': {'class': 'd-flex flex-column', 'action': path('add_comment', {id: postId})}}) }}
    <span class="conceptos-subtitle mt-2">NOMBRE</span>
    {{ form_widget(form.name, {'attr': {'required': 'true'}}) }}
    <span class="conceptos-subtitle mt-2">CORREO (NO SERÁ PUBLICADO)</span>
    {{ form_widget(form.email, {'attr': {'required': 'true'}}) }}
    <span class="conceptos-subtitle mt-2">COMENTARIO</span>
    {{ form_widget(form.text, {'attr': {'required': 'true'}}) }}
    <button type="submit" class="conceptos-primary-button align-self-start mt-2">ENVIAR</button>
  {{ form_end(form) }}
</div>
