{% extends ':site:base.html.twig' %}
{% block title %}Blog - {{ title }}{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{{ asset('bundles/conceptos/blog/css/fontastic.css') }}">
  <link rel="stylesheet" href="{{ asset('bundles/conceptos/libs/@fancyapps/fancybox/jquery.fancybox.min.css') }}">
  <link rel="stylesheet" href="{{ asset('bundles/conceptos/blog/css/style.default.css') }}" id="theme-stylesheet">
  <link rel="stylesheet" href="{{ asset('bundles/conceptos/blog/css/custom.css') }}">
  <link rel="stylesheet" href="{{ asset('bundles/conceptos/blog/index.css') }}">
  <link rel="stylesheet" href="{{ asset('bundles/conceptos/14ndy15/styles/blog.css') }}" type="text/css">
{% endblock %}

{% block meta %}
    <link rel="canonical" href="{{ absolute_url(path('blog_home')) }}"/>
{% endblock %}

{% block body %}
  <div class="blog_list pt-3 pl-2 pr-2 pl-lg-5 pr-lg-5">
    <div class="blog_list__title">
      <h2>Inspiraciones</h2>
    </div>
    <div class="d-flex flex-wrap">
      {% for post in posts %}
        <div class="d-flex flex-column post col-12 p-lg-3 p-2 col-lg-6 mb-2 mb-lg-0">
          <a href="{{ path('blog_details', {id: post.id, title: post.path}) }}">
            <img class="conceptos-image conceptos-blog-image"
                 src="{{ vich_uploader_asset(post, 'imageFile') }}" alt="{{post.title}}">
            <span class="conceptos-title">{{post.title}}</span>
          </a>
          <span class="conceptos-subtitle conceptos-blog-summary mt-2">{{post.summary}}</span>
          <div class="d-flex justify-content-between align-items-center mt-2">
            <span class="conceptos-blog-info">{{post.createdDate | date('d M | Y')}}</span>
            <div class="d-flex">
              <span class="conceptos-blog-info mr-2">
                <i class="fa fa fa-thumbs-up"></i> {{post.likes|length}}
              </span>
              <span class="conceptos-blog-info">
                <i class="fa fa-eye"></i> {{post.visitCount}}
              </span>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    {% if pages > 0 %}
      <nav aria-label="Page navigation example">
        <ul class="pagination pagination-template d-flex justify-content-center">
          {% for page in 1..pages %}
            <li class="page-item">
              <a href="{{ url_to_go }}?page={{ page }}" class="page-link active">{{ page }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    {% endif %}
  </div>
{% endblock %}
{% block js %}
  <script src="{{ asset('bundles/conceptos/assets/popper/popper.min.js') }}"></script>
  <script src="{{ asset('bundles/conceptos/libs/jquery.cookie/jquery.cookie.js') }}"></script>
  <script src="{{ asset('bundles/conceptos/libs/@fancyapps/fancybox/jquery.fancybox.min.js') }}"></script>
  <script src="{{ asset('bundles/conceptos/blog/libs/highlite/jquery.highlite.js') }}"></script>
  <script src="{{ asset('bundles/conceptos/blog/js/front.js') }}"></script>
  <script src="{{ asset('bundles/conceptos/blog/js/index.js') }}"></script>
{% endblock %}
