{% extends ':site:base.html.twig' %}
{% block title %}Blog - {{ title }} {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/conceptos/blog/css/fontastic.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/conceptos/libs/@fancyapps/fancybox/jquery.fancybox.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/conceptos/blog/css/style.default.css') }}" id="theme-stylesheet">
    <link rel="stylesheet" href="{{ asset('bundles/conceptos/blog/css/custom.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/conceptos/blog/index.css') }}">
{% endblock %}
{% block body %}
    <div class="container-fluid content-post pl-2 pr-4">
        <div class="row">
            <main class="posts-listing col-lg-8 pt-3 pt-lg-5">
                <div class="container">
                    <div class="row">
                        {% for post in posts %}
                            <div class="post col-xl-6">
                                <div class="post-thumbnail">
                                    <a href="{{ path('blog_details', {id: post.id, title: post.path}) }}">
                                        <img src="{{ vich_uploader_asset(post, 'imageFile') }}" alt="{{ post.title }}" class="img-fluid">
                                    </a>
                                </div>
                                <div class="post-details">
                                    <div class="post-meta d-flex justify-content-between">
                                        <div class="date meta-last">{{ post.createdDate | date('d M | Y') }}</div>
                                        <div class="category"><a href="#">{{ post.category.name }}</a></div>
                                    </div>
                                    <a href="{{ path('blog_details', {id: post.id, title: post.path}) }}">
                                        <h3 class="h4">{{ post.title }}</h3>
                                    </a>
                                    <p class="text-muted">{{ post.summary }}</p>
                                    <footer class="post-footer d-flex align-items-center">
                                        <a href="#" class="author d-flex align-items-center flex-wrap">
                                            <div class="title"><span>{{ post.user.username }}</span></div>
                                        </a>
                                        <div class="comments meta-last">
                                            <i class="mbri-preview"></i>
                                            {{ post.comments | length }}
                                        </div>
                                    </footer>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- Pagination -->
                    {% if pages > 0 %}
                        <nav aria-label="Page navigation example">
                            <ul class="pagination pagination-template d-flex justify-content-center">
                                {% for page in 1..pages %}
                                    <li class="page-item">
                                        <a href="{{ url_to_go }}?page={{ page }}" class="page-link active">{{ page }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </nav>
                    {% endif %}
                </div>
            </main>
            <aside class="col-lg-4">
                <!-- Widget [Search Bar Widget]-->
                <div class="widget search">
                    <header class="header-custom">
                        <h3 class="h6">Buscar</h3>
                    </header>
                    <form action="{{ path('post_search') }}" class="search-form" method="get">
                        <div class="form-group">
                            <input type="search" placeholder="¿Qué estas buscando?" name="term" id="term_search"
                                   {% if app.request.query.get('term') is not null %}value="{{ app.request.query.get('term') }}" {% endif %}>
                            <button type="submit" class="submit"><i class="mbri-search"></i></button>
                        </div>
                    </form>
                </div>
                <!-- Widget [Latest Posts Widget] -->
                <div class="widget latest-posts">
                    <header class="header-custom">
                        <h3 class="h6">Últimos artículos</h3>
                    </header>
                    <div class="blog-posts">
                        {% for last in lasts %}
                            <a href="{{ path('blog_details', {id: last.id, title: last.path}) }}">
                                <div class="item d-flex align-items-center">
                                    <div class="image">
                                        <img src="{{ vich_uploader_asset(last, 'imageFile') }}" alt="{{ last.title }}"
                                             class="img-fluid">
                                    </div>
                                    <div class="title">
                                        <strong>{{ last.title }}</strong>
                                        <div class="d-flex align-items-center">
                                            <div class="views"><i class="mbri-preview"></i>{{ last.visitCount }}</div>
                                            <div class="comments"><i class="mbri-info"></i>{{ last.comments | length }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <!-- Widget [Categories Widget]-->
                <div class="widget categories">
                    <header class="header-custom">
                        <h3 class="h6">Categorías</h3>
                    </header>
                    {% for category in blogCategories %}
                        <div class="item d-flex justify-content-between"><a
                                    href="{{ path('post_category', {id: category.id, category: category.name}) }}">{{ category.name }}</a><span>{{ category.posts | length }}</span>
                        </div>
                    {% endfor %}
                </div>
                <!-- Widget [Tags Cloud Widget]-->
                <div class="widget tags">
                    <header class="header-custom">
                        <h3 class="h6">Tags</h3>
                    </header>
                    <ul class="list-inline">
                        {% for tag in tags %}
                            <li class="list-inline-item"><a href="{{ path('post_tag', {id: tag.id, tag: tag.value}) }}"
                                                            class="tag">#{{ tag.value }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </aside>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{{ asset('bundles/conceptos/assets/popper/popper.min.js') }}"></script>
    <script src="{{ asset('bundles/conceptos/libs/jquery.cookie/jquery.cookie.js') }}"></script>
    <script src="{{ asset('bundles/conceptos/libs/@fancyapps/fancybox/jquery.fancybox.min.js') }}"></script>
    <script src="{{ asset('bundles/conceptos/blog/libs/highlite/jquery.highlite.js') }}"></script>
    <script src="{{ asset('bundles/conceptos/blog/js/front.js') }}"></script>
    <script src="{{ asset('bundles/conceptos/blog/js/index.js') }}"></script>
{% endblock %}
