<div class="table-responsive">
  <table class="table table-condensed table-striped table-hover">
    <thead>
    <tr>
      <th class="text-center">Fecha</th>
      <th class="text-center">Precio</th>
      <th class="text-center">Tarjetas</th>
      <th class="text-center">Productos</th>
      <th class="text-center">Acciones</th>
    </tr>
    </thead>
    <tbody>
      {% for request in value %}
        {% set numberOfCards = 0 %}
        {% for card in request.requestCards %}
          {% set numberOfCards = numberOfCards + 1 %}
        {% endfor %}
        {% set numberOfProducts = 0 %}
        {% for product in request.requestProducts %}
          {% set numberOfProducts = numberOfProducts + 1 %}
        {% endfor %}
        <tr>
          <td class="text-center">{{request.date | date('d-m-Y')}}</td>
          <td class="text-center">${{request.finalPrice }}</td>
          <td class="text-center">{{numberOfCards}}</td>
          <td class="text-center">{{numberOfProducts}}</td>
          <td class="text-center">
            <a class="btn btn-primary action-new" href="{{ path('easyadmin', {'entity': 'Request', 'action': 'show', 'id': request.id}) }}">
              <i class="fa fa-eye"></i>
              Ver
            </a>
            <a class="btn btn-primary action-new" href="{{ path('easyadmin', {'entity': 'Request', 'action': 'edit', 'id': request.id}) }}">
              <i class="fa fa-edit"></i>
              Modificar
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
