<div class="table-responsive">
    <table class="table table-condensed table-striped table-hover">
        <thead>
        <tr>
            <th class="text-center">Fecha</th>
            <th class="text-center">Precio</th>
            <th class="text-center">Tarjetas</th>
            <th class="text-center">Productos</th>
        </tr>
        </thead>
        <tbody>
        {% for request in value %}
            <tr>
                <td class="text-center">{{ request.date | date('d-m-Y') }}</td>
                <td class="text-center">${{ request.finalPrice }}</td>
                <td class="text-center">
                    {% for prodCard in request.requestCards %}
                        <p>{{ prodCard.card }} - {{ prodCard.person }}</p>
                    {% else %}
                        Sin tarjetas pedidas
                    {% endfor %}
                </td>
                <td class="text-center">
                    <div style="display: inline-block">
                        {% for prodRequest in request.requestProducts %}
                            <img style="padding: 2px; display: inline-block;"
                                 src="{{ vich_uploader_asset(prodRequest.product.mainImage, 'imageFile') }}"
                                 class="img-responsive" width="100" height="100">
                        {% else %}
                            Sin productos pedidos
                        {% endfor %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>